<div class="text-center">
  <div class="spinner-border text-secondary text-center" style="width: 5rem; height: 5rem;" role="status">
    <span class="visually-hidden" i18n>Chargement...</span>
  </div>
</div>
