@use '@angular/material' as mat;
@import '../config/theme';

$theme-palettes: (
    primary: $ngx-admin-primary,
    accent: $ngx-admin-accent,
    warn: $ngx-admin-warn,
);

@each $alias, $palette in $theme-palettes {
    .#{$alias} {
        background-color: mat.get-color-from-palette($palette);
        color: mat.get-color-from-palette($palette, default-contrast);
    }

    @each $nameTonality, $colorTonality in $palette {
        @if $nameTonality != 'contrast' {
            .#{$alias}-#{$nameTonality} {
                background-color: $colorTonality;
            }
        }
    }

    @each $nameContrast, $colorConstrast in map-get($palette, 'contrast') {
        .#{$alias}-#{$nameContrast} {
            color: $colorConstrast;
        }
    }
}
