<nb-card class="example-card">
  <nb-card-header>
    <span i18n>Liste des journées</span>
  </nb-card-header>
  <nb-card-body class="append">
    <h5><span i18n>Recherche par date d'ouverture de caisse: </span></h5>
    <div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <form [formGroup]="dateForm">
            <div class="p-formgroup-inline">
              <div class="p-field">
                <label class="control-label" for="dateDebut" i18n>Date Début</label>
                <kendo-datepicker
                  id="dateDebut"
                  formControlName="dateFermeFrom"
                  format="dd-MM-yyyy"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <label for="datefin" i18n>Date Fin</label>
                <kendo-datepicker
                  id="datefin"
                  format="dd-MM-yyyy"
                  formControlName="dateFermeTo"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <br>
                <p-button (onClick)="rechercheEnveloppe()" class="p-mr-2" icon="pi pi-spinner"
                          i18n-label label="Recherche Enveloppe"></p-button>
              </div>
            </div>
          </form>


        </ng-template>

        <ng-template pTemplate="right">

          <button (click)="collectePartielle()" class="p-button-label p-mr-2"
                  label="Collecte partielle" pButton i18n-label
                  pRipple tooltipPosition="bottom" type="button"></button>
          <button (click)="exportExcel()" [disabled]="joursCaisses.length==0" class="p-button-success p-mr-2"
                  icon="pi pi-file-excel" label="Excel" pButton i18n-label
                  pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>
          <button (click)="exportPdf()" [disabled]="joursCaisses.length==0" class="p-button-warning mr-2"
                  icon="pi pi-file-pdf" label="PDF" pButton pRipple i18n-label
                  pTooltip="PDF" tooltipPosition="bottom" type="button"></button>

        </ng-template>
      </p-toolbar>

      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)"
                   [globalFilterFields]="['gjcCaisse','gjcEtablissement.etLibelle','montantCaisse']"
                   [loading]="this.loading" [paginator]="true"
                   [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]" [rows]="10"
                   [showCurrentPageReport]="true"
                   [value]="joursCaisses"
                   dataKey="id" id="table"
                   paginatorDropdownAppendTo="body" rowExpandMode="single"
                   styleClass="dark-panel">

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>

                <th *ngFor="let col of headerRow " [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">

                    {{col.displayName}}

                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle'" [field]="col.key"
                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="col.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-columnFilter *ngIf="col.key=='gjcEtablissement.etLibelle'" [showAddButton]="false"
                                    [showMatchModes]="false"
                                    [showOperator]="false" [type]="col.type" display="menu"
                                    field="gjcEtablissement" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{col.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"
                                       [maxSelectedLabels]="3" [selectedItemsLabel]="'{0} etablissements selectioné'" [virtualScroll]="true"
                                       display="chip"
                                       optionLabel="etLibelle" i18n-placeholder placeholder="select etablissement">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-label-container">
                              <span class="ml-1">{{option.etLibelle}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>

                    </p-columnFilter>


                    <p-sortIcon *ngIf="col.key!='gjcEtablissement.etLibelle'" [field]="col.key"></p-sortIcon>
                  </div>

                </th>
                <th><span i18n>Action</span></th>
              </tr>

            </ng-template>
            <ng-template let-expanded="expanded" let-jourCaisse pTemplate="body">
              <tr
                class="montant-row">
                <td>
                  <button (click)="editProduct(jourCaisse)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          [pRowToggler]="jourCaisse" class="p-button-text p-button-rounded p-button-plain" pButton pRipple
                          type="button"></button>
                </td>
                <td>{{jourCaisse.gjcEtablissement.etLibelle}}</td>
                <td>{{jourCaisse.gjcCaisse}}</td>
                <td>{{jourCaisse.gjcNumzcaisse}}</td>
                <td>{{jourCaisse.gjcDateouv | date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcHeureouv}}</td>
                <td>{{jourCaisse.gjcDateferme| date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcHeureferme}}</td>
                <td>{{jourCaisse.dateCreate | date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcUserferme}}</td>
                <td><span *ngIf="jourCaisse.isManuel" [class]="'customer-badge status-renewal'">{{jourCaisse.refExterne!== null ? jourCaisse.refExterne: '____'}}</span></td>
                <td><strong>{{jourCaisse.montantCaisse |separateurPipe }}</strong></td>
                <td [style]="{width:'70px'}">
                  <button   *ngIf="jourCaisse.isManuel" (click)="editPartielle(jourCaisse)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil"
                            pButton
                            pRipple></button>
                  <button   *ngIf="jourCaisse.isManuel" (click)="deletePartielle(jourCaisse)" class="p-button-rounded p-button-warning" icon="pi pi-trash"
                            pButton
                            pRipple></button>
                </td>
              </tr>
            </ng-template>
            <ng-template let-jourCaisse pTemplate="rowexpansion">
              <tr style="background-color: rgba(52,37,50,0.21)">
                <td colspan="1"></td>
                <td colspan="12">
                  <div class="p-p-3">

                    <p-table [globalFilterFields]="['gpeModepaie']" [value]="piedeche" dataKey="id">
                      <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="gpeModepaie"><span i18n>ModePaie</span>
                  <p-sortIcon field="gpeModepaie"></p-sortIcon>
                </th>
                <th pSortableColumn="montant"><span i18n>Montant</span>
                  <p-sortIcon field="montant"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template let-order pTemplate="body">
              <tr>
                <td>{{order.gpeModepaie}}</td>
                <td>{{order.montant |separateurPipe }} </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6"><span i18n>Il n'y a pas encore des modes de paiement.</span></td>

              </tr>
            </ng-template>
          </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
          <tr>
            <td style="width: 3rem"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>

            <td class="p-text-center" colspan="2"><span i18n>Montant Total</span></td>
            <td class="text-left p-text-bold">{{montantTot|separateurPipe  }}</td>
            <td class="text-right"></td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7"></td>
            <td colspan="7"><span i18n>Il n'y a pas encore des enveloppes.</span></td>

          </tr>
        </ng-template>
        </p-table>

    </div>
    </p-toolbar>







    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


  </nb-card-body>

  <p-dialog [(visible)]="partielleDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details collecte partielle"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label class="pb-3" for="Etablissement" i18n>Etablissement</label>
        <p-dropdown id="Etablissement" [options]="this.etablissements" optionLabel="etLibelle"
                    [(ngModel)]="selectedEtablissement" i18n-placeholder placeholder="Etablissements" [filter]="true"></p-dropdown>

        <!--
                <input [(ngModel)]="joursCaissePartielle.gjcEtablissementId" autofocus id="Etablissement" pInputText required type="text"/>
        -->
        <small *ngIf="submitted && !joursCaissePartielle.gjcEtablissementId" class="p-error"><span i18n>Etablissement est obligatoire.</span></small>
      </div>
      <br>

      <div class="field pt-3">
        <label class="pb-3" for="DateOuverture" i18n>Date ouverture</label>
        <kendo-datepicker
          id="DateOuverture"
          [(ngModel)]="joursCaissePartielle.gjcDateouv"
          format="dd-MM-yyyy"
        ></kendo-datepicker>
        <small *ngIf="submitted && !joursCaissePartielle.gjcDateouv" class="p-error"><span i18n>Date ouverture est obligatoire.</span></small>
      </div>
      <br>
      <div class="field">
        <label class="pb-3" for="REFZorigine" i18n>Ref Z origine</label>
        <input [(ngModel)]="joursCaissePartielle.gjcNumzcaisse" autofocus id="REFZorigine" pInputText required
               type="text"/>
        <small *ngIf="submitted && !joursCaissePartielle.gjcNumzcaisse" class="p-error"><span i18n>REF Z interne est obligatoire.</span>REF Z interne est obligatoire.</small>
        <!--
                <small *ngIf="submitted && !emetteur.emetteurLibelle" class="p-error">libelle is required.</small>
        -->
      </div>

      <br>
      <div class="field">
        <label class="pb-3" for="Caisse" i18n>Caisse</label>
        <input [(ngModel)]="joursCaissePartielle.gjcCaisse" autofocus id="Caisse" pInputText required type="text"/>
        <small *ngIf="submitted && !joursCaissePartielle.gjcCaisse" class="p-error"><span i18n>Caisse est obligatoire.</span></small>
      </div>
      <br>


    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-danger" icon="pi pi-times" i18n-label label="Annuler" pButton
              pRipple></button>
      <button (click)="savePartielle()" class="p-button-success" icon="pi pi-check" i18n-label label="Enregistrer" pButton
              pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</nb-card>



