<nb-card>
  <p-toast></p-toast>

  <nb-card-header i18n> Liste des utilisateurs </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button
          (click)="openNew()"
          class="p-button-success mr-2"
          i18n-label
          icon="pi pi-plus"
          label="Nouveau"
          pButton
          pRipple
        ></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>
    <p-toolbar styleClass="mb-4">
      <div style="width: 100%; height: 100%; overflow-x: scroll">
        <p-table
          #dt
          [(selection)]="selectUser"
          [globalFilterFields]="['libelle']"
          [paginator]="true"
          [rowHover]="true"
          [rowsPerPageOptions]="[10, 25, 50, 100]"
          [rows]="10"
          [showCurrentPageReport]="true"
          [value]="users"
          dataKey="id"
          paginatorDropdownAppendTo="body"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  (input)="dt.filterGlobal(getValueFilter($event), 'contains')"
                  i18n-placeholder
                  pInputText
                  placeholder="Recherche..."
                  type="text"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="username">
                <span i18n>Nom d'utilisateur</span>
                <p-sortIcon field="username"></p-sortIcon>
              </th>
              <th pSortableColumn="firstName">
                <span i18n>Nom</span>
                <p-sortIcon field="firstName"></p-sortIcon>
              </th>
              <th pSortableColumn="lastName">
                <span i18n>Prénom</span>
                <p-sortIcon field="lastName"></p-sortIcon>
              </th>
              <th pSortableColumn="email">
                <span i18n>Email</span>
                <p-sortIcon field="email"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-user pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="user"></p-tableCheckbox>
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td [style]="{ width: '100px' }">
                <button
                  (click)="editUser(user)"
                  class="p-button-rounded p-button-success mr-2"
                  icon="pi pi-pencil"
                  pButton
                  pRipple
                ></button>
                <button
                  (click)="deleteUser(user)"
                  class="p-button-rounded p-button-warning"
                  icon="pi pi-trash"
                  pButton
                  pRipple
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a </span>{{ users ? users.length : 0
              }}<span i18n> Utilisateur(s).</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr></tr>
          </ng-template>
        </p-table>
      </div>
    </p-toolbar>
  </nb-card-body>
  <p-dialog
    [(visible)]="usersDialog"
    [modal]="true"
    [style]="{ width: '450px' }"
    header="Details User"
    i18n-header
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label class="pb-3 pt-2 required" for="username" i18n
          >Nom d'utilisateur</label
        >
        <input
          [(ngModel)]="user.username"
          autofocus
          id="username"
          pInputText
          required
          type="text"
        />
        <small *ngIf="submitted && !user.username" class="p-error" i18n
          >Nom d'utilisateur est obligatoire.</small
        >
      </div>
      <div class="field">
        <label class="pb-3 required" for="firstName" i18n>Nom</label>
        <input
          [(ngModel)]="user.firstName"
          autofocus
          id="firstName"
          pInputText
          required
          type="text"
        />
        <small *ngIf="submitted && !user.firstName" class="p-error" i18n
          >Nom est obligatoire.</small
        >
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="lastName" i18n>Prénom</label>
        <input
          [(ngModel)]="user.lastName"
          autofocus
          id="lastName"
          pInputText
          required
          type="text"
        />
        <small *ngIf="submitted && !user.lastName" class="p-error" i18n
          >Prénom est obligatoire.</small
        >
      </div>

      <div class="field">
        <label class="pb-3 pt-2 required" for="email" i18n>Email</label>
        <input
          #email
          [(ngModel)]="user.email"
          [email]="true"
          autofocus
          id="email"
          ngModel
          pInputText
          required
          type="text"
        />
        <small *ngIf="submitted && !user.email" class="p-error" i18n
          >email est obligatoire.</small
        >
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="Etablissement" i18n>Etablissement</label>
        <p-dropdown
          [(ngModel)]="user.etablissement"
          [filter]="true"
          [options]="this.etablissements"
          appendTo="body"
          i18n-placeholder
          id="Etablissement"
          optionLabel="etLibelle"
          placeholder="Etablissements"
        ></p-dropdown>

        <small *ngIf="submitted && !user.etablissementId" class="p-error"
          ><span i18n>Etablissement est obligatoire.</span></small
        >
      </div>
      <div class="field pb-2">
        <label class="pb-3 pt-2" for="modePaie" i18n>Mode Paiement</label><br />
        <p-multiSelect
          [(ngModel)]="user.modePaies"
          [options]="modePaies"
          appendTo="body"
          defaultLabel="Liste des modes Paiement"
          i18n-defaultLabel
          [maxSelectedLabels]="3"
          [selectedItemsLabel]="'{0} modePaies selectioné'"
          [virtualScroll]="true"
          id="modePaie"
          optionLabel="mpLibelle"
        >
        </p-multiSelect>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          [(ngModel)]="user.isAdmin"
          [binary]="true"
          class="pb-3 pt-2"
          id="binary"
          inputId="binary"
        ></p-checkbox>
        <span class="pl-2 status" for="binary" i18n>Est Administrateur?</span>
      </div>
      <div [hidden]="user.isAdmin" class="field">
        <label class="pb-3 pt-2 required" for="role" i18n>Pérmission</label
        ><br />
        <p-multiSelect
          [(ngModel)]="user.roles"
          [options]="roles"
          appendTo="body"
          defaultLabel="Liste des pérmissions"
          i18n-defaultLabel
          id="role"
          optionLabel="label"
        >
        </p-multiSelect>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        (click)="hideDialog()"
        class="p-button-danger"
        i18n-label
        icon="pi pi-times"
        label="Annuler"
        pButton
        pRipple
      ></button>
      <button
        (click)="saveUser()"
        [disabled]="
          !(
            ((this.user?.roles?.length !== 0 && !this.user.isAdmin) ||
              this.user.isAdmin) &&
            this.user.lastName &&
            this.user.username &&
            this.user.firstName &&
            this.user.etablissement &&
            user.email
          )
        "
        class="p-button-success"
        i18n-label
        icon="pi pi-check"
        label="Enregistrer"
        pButton
        pRipple
      ></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</nb-card>
