<div class="logo" fxHide.gt-xs>A</div>

<div class="title" i18n>LOGIN</div>

<form [formGroup]="form" (ngSubmit)="form.valid && loginUser(this.form.value)">
    <fieldset [disabled]="loginLoading">
        <mat-form-field>
            <input matInput type="text" i18n-placeholder placeholder="Login" formControlName="username">

            <mat-error i18n *ngIf="form.controls['username'].hasError('required')" class="form-control-feedback">
                Login obligatoire
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" i18n-placeholder placeholder="password" formControlName="password">

            <mat-error i18n *ngIf="form.controls['password'].hasError('required')" class="form-control-feedback">
                Password obligatoire
            </mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="loginLoading || form.invalid" mat-raised-button color="primary" i18n>Login</button>
    </fieldset>
</form>


<mat-spinner class="loading" [diameter]="25" *ngIf="loginLoading">
</mat-spinner>
