p {
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
  .example-card {
    margin: 15px;
  }

  mat-card-subtitle {
    font-size: 18px;
  }

  mat-card-title {
    color: rgb(0, 0, 0);
    font-size: 60px;
    display: flex;
  }
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
