<main class="py-6">
  <div class="container-fluid">
    <!-- Card stats -->
    <div class="row g-6 mb-6">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2" i18n>Total Journées</span>
                <span class="h3 font-bold mb-0">{{this.stats.totJoursCaisses}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                  <i><mat-icon>info</mat-icon></i>
                </div>
              </div>
            </div>
            <!--<div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>13%
                                    </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2" i18n>Journées en attente</span>
                <span class="h3 font-bold mb-0">{{this.stats.totEnvEnAttente}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                  <i><mat-icon>work_outline</mat-icon></i>
                </div>
              </div>
            </div>
            <!--<div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>30%
                                    </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2" i18n>Journées réceptionnées</span>
                <span class="h3 font-bold mb-0">{{this.stats.totEnvReceptionne}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                  <i><mat-icon>work_outline</mat-icon></i>
                </div>
              </div>
            </div>
            <!--<div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                        <i class="bi bi-arrow-down me-1"></i>-5%
                                    </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2" i18n>Journées Comptées</span>
                <span class="h3 font-bold mb-0">{{this.stats.totEnvCompte}}</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white text-lg rounded-circle">
                  <i><mat-icon>assessment</mat-icon></i>
                </div>
              </div>
            </div>
            <!--<div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>10%
                                    </span>
              <span class="text-nowrap text-xs text-muted">Since last month</span>
            </div>-->
          </div>
        </div>
      </div>
    </div>
        <div class="card shadow border-0 mb-7">

          <div class="table-responsive">

            <p-table #dt [(selection)]="selectCoffre" [globalFilterFields]="['libelle']" [paginator]="true"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                     [showCurrentPageReport]="true" [value]="coffres"
                     dataKey="id"
                     responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="libelle"><span i18n>Coffre</span>
                    <p-sortIcon field="libelle"></p-sortIcon>
                  </th>
                  <th>Mode(s)</th>

                  <th pSortableColumn="monatnt"><span i18n>Solde coffre</span>
                    <p-sortIcon field="monatnt"></p-sortIcon>
                  </th>

                </tr>
              </ng-template>
              <ng-template let-coffre pTemplate="body">
                <tr>
                  <td>
                    <p-tableCheckbox [value]="coffre"></p-tableCheckbox>
                  </td>
                  <td>{{coffre.libelle}}</td>
                  <td>{{coffre.modesPaieLibelle}} </td>
                  <td>{{coffre.montant|separateurPipe}}</td>

                </tr>
              </ng-template>
              <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
                <tr>
                  <td style="width: 3rem"></td>


                  <td class="p-text-center" colspan="2"><span i18n>Montant Total :</span></td>
                  <td class="text-left p-text-bold">{{montantTot|separateurPipe }}</td>


                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6"><span i18n>Il n'y a pas encore des coffres.</span></td>

                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>

  </div>
</main>


