<form [formGroup]="enteteDepenseForm">
  <div class="container-fluid pt-2 mb-5">
    <div class="row">
      <div
        [ngClass]="enteteDepense?.status?.code!"
        class="col-md-12 p-0 status-badge"
      >
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title" style="color: #0d89ec">
              <button
                (click)="navigate()"
                class="p-button-text"
                icon="pi pi-arrow-left"
                iconPos="left"
                pButton
                type="button"
              ></button>
              <span>Dépense</span>
              <span *ngIf="dateReponse" class="pl-5 ml-5">
                Date Réponse :{{ dateReponse | date }}
              </span>
            </h4>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="user">Utilisateur</label>
                  <input
                    [value]="enteteDepense?.userCreatedFullName"
                    class="form-control"
                    disabled
                    id="user"
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <label for="sel1">Type de dépense</label>
                  <div id="sel1">
                    <label>Direct</label>
                    <mat-slide-toggle
                      class="m-3"
                      formControlName="typeDepense"
                    ></mat-slide-toggle>
                    <label>Fond de dépense</label>
                  </div>
                </div>
                <div *ngIf="typeDepense?.value == false" class="form-group">
                  <label for="sel2">Validateur</label>
                  <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12">
                      <p-dropdown
                        [filter]="true"
                        [options]="usersValidators"
                        appendTo="body"
                        class="p-0 form-control"
                        formControlName="validateurUserId"
                        id="sel2"
                        optionLabel="firstName"
                        optionValue="id"
                        placeholder="select validateur"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="etab">Etablissement</label>
                  <input
                    [value]="enteteDepense?.etablissement?.etLibelle"
                    class="form-control"
                    disabled
                    id="etab"
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    class="form-control"
                    formControlName="commentaire"
                    id="description"
                    name="address"
                    row="3"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="fournisseur">Fournisseur</label>
                  <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12">
                      <p-dropdown
                        [filter]="true"
                        [options]="fournisseurs"
                        appendTo="body"
                        class="p-0 form-control"
                        formControlName="fournisseurId"
                        id="fournisseur"
                        optionLabel="libelle"
                        optionValue="id"
                        placeholder="select fournisseur"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
                <div *ngIf="typeDepense?.value == true" class="pt-3 form-group">
                  <label for="mtn">Solde</label>
                  <input
                    [value]="compteDepense?.solde"
                    class="form-control"
                    disabled
                    id="mtn"
                    type="text"
                  />
                </div>
                <div *ngIf="pieceJointe" class="pt-2 form-group">
                  <table class="table table-sm">
                    <tbody>
                    <tr>
                      <td>
                          <span [class]="'customer-badge status-new'">{{
                            pieceJointe
                            }}</span>
                      </td>

                      <td>
                        <a
                          href="{{ url }}/EnteteDepense/downloadFile/{{ id }}"
                        >
                          <button
                            class="appearance-filled size-medium shape-rectangle icon-start icon-end status-basic ng-star-inserted nb-transition"
                            nbButton
                            style="float: right"
                            type="button"
                          >
                            <nb-icon icon="download-outline"></nb-icon>
                          </button>
                        </a>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="total col-12">
                  <span class="col-2 fw-bold">TotalTVA :</span
                  ><span class="col-2 fw-bold">{{ changeTVA() | number }}</span>
                  <span class="col-2 fw-bold">TotalHT :</span
                  ><span class="col-2 fw-bold">{{ changeHT() | number }}</span>
                  <span class="col-2 fw-bold">TotalTTC :</span
                  ><span class="col-2 fw-bold">{{ changeTTC() | number }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4
              class="card-title d-flex justify-content-between"
              style="color: #0d89ec"
            >
              Ligne dépense

            </h4>
            <div formArrayName="ligneDepenses">
              <div class="row">
                <table class="table">
                  <thead>
                  <tr>
                    <th width="15%">Article</th>
                    <th  *ngIf="!typeDepense?.value" width="15%">Caisse</th>
                    <th *ngIf="!typeDepense?.value" width="15%">NumZref</th>
                    <th width="15%">Montant HT</th>
                    <th width="15%">Taux TVA</th>
                    <th width="15%">Montant TVA</th>
                    <th width="15%">Montant TTC</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of ligneDepenses.controls; index as i">
                    <ng-container [formGroupName]="i">
                      <td>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col-12">
                            <p-dropdown
                              (onChange)="changeArticle($event, i)"
                              [filter]="true"
                              [options]="articles"
                              appendTo="body"
                              formControlName="article"
                              id="art"
                              optionLabel="designation"
                              placeholder="select article"
                            ></p-dropdown>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="!typeDepense?.value">
                      <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col-12">
                            <p-dropdown
                              [filter]="true"
                              [options]="parcaisses"
                              appendTo="body"
                              id="parcaisses"
                              placeholder="select parcaisse"
                              formControlName="caisse"
                              optionLabel="gpkLibelle"
                              optionValue="id"
                            ></p-dropdown>
                          </div>
                        </div>
                      </td>
                      <td *ngIf="!typeDepense?.value">
                        <input
                          class="form-control required"
                          formControlName="numZref"
                          id="numZref"
                          type="text"
                        />
                      </td>
                      <td>
                        <input
                          (change)="changeMontantHT(i)"
                          class="form-control"
                          formControlName="montantHt"
                          id="price"
                          nbInput
                          type="number"
                        />
                      </td>

                      <td>
                        <input
                          (change)="changeTauxTVA(i)"
                          class="form-control"
                          formControlName="tauxTva"
                          id="quantity1"
                          nbInput
                          type="number"
                        />
                      </td>

                      <td>
                        <input
                          (change)="changeMontantTVA(i)"
                          class="form-control"
                          formControlName="montantTva"
                          id="quantity2"
                          nbInput
                          type="number"
                        />
                      </td>
                      <td>
                        <input
                          #ttcInput
                          (change)="changeTTC()"
                          class="form-control"
                          formControlName="montantTtc"
                          id="quantity3"
                          nbInput
                          type="number"
                        />
                      </td>

                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
