th {
  cursor: pointer;
  user-select: none;
}

.bi {
  width: 10px;
  height: 9px;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.sort-header-active {
  color: rgb(219, 109, 6);
}


.montant-row.high {
  background-color: rgba(255, 30, 12, 0.15);
}

.montant-row.supp {
  background-color: rgba(130, 255, 144, 0.18);
}
