<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
    Fournisseur
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="Nouveau" i18n-label pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>
    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectFournisseur" [globalFilterFields]="['code']" [paginator]="true" [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                 [showCurrentPageReport]="true" [value]="fournisseurs"
                 dataKey="id"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..." i18n-placeholder
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <!--      <ng-template pTemplate="header">-->
          <!--        <tr>-->
          <!--          <th style="width: 3rem">-->
          <!--            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
          <!--          </th>-->
          <!--          <th pSortableColumn="code" ><span i18n>Code fournisseur</span>-->
          <!--            <p-sortIcon field="code"></p-sortIcon>-->
          <!--          </th>-->

          <!--          <th></th>-->
          <!--        </tr>-->
          <!--      </ng-template>-->
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>

              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">

                  {{col.displayName}}

                  <p-columnFilter *ngIf="col.type==='text'" [field]="col.key"
                                  [matchModeOptions]="matchModeOptions"
                                  [matchMode]="'equals'" [showOperator]="false"
                                  [type]="col.type" display="menu"
                  >
                  </p-columnFilter>
                  <p-columnFilter *ngIf="col.type==='boolean'" [field]="col.key"

                                  display="menu" type="boolean"
                  >
                  </p-columnFilter>


                  <p-sortIcon *ngIf="col.type!=='boolean'"
                              [field]="col.key"></p-sortIcon>
                </div>

              </th>
              <th>Action</th>
            </tr>

          </ng-template>

          <ng-template let-fournisseur pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="fournisseur"></p-tableCheckbox>
              </td>
              <td>{{fournisseur.code}}</td>
              <td>{{fournisseur.libelle}}</td>
              <td>{{fournisseur.compteC}}</td>
              <td>{{fournisseur.assujeti}}</td>
              <td>{{fournisseur.isDefault}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editFournisseur(fournisseur)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteFournisseur(fournisseur)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a </span>{{fournisseurs ? fournisseurs.length : 0 }}<span i18n> fournisseurs.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-toolbar>
  </nb-card-body>
  <p-dialog [(visible)]="fournisseurDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details fournisseur"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label class="pb-3 required" for="code" i18n>Code fournisseur</label>
        <input [(ngModel)]="fournisseur.code" autofocus id="code" pInputText required type="text"/>
        <small *ngIf="submitted && !fournisseur.code" class="p-error" i18n>Code fournisseur is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="libelle" i18n>Libelle</label>
        <input [(ngModel)]="fournisseur.libelle" autofocus id="libelle" pInputText required type="text"/>
        <small *ngIf="submitted && !fournisseur.libelle" class="p-error" i18n>libelle is required.</small>
      </div>

      <div class="field">
        <label class="pb-3 pt-2 required" for="compteC" i18n>Compte Comptable</label>
        <input [(ngModel)]="fournisseur.compteC" autofocus id="compteC" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !fournisseur.compteC" class="p-error" i18n>compteC is required.</small>
      </div>


      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="fournisseur.assujeti" [binary]="true" class="pb-3 pt-2 " id="assujeti"
                    inputId="binary"></p-checkbox>
        <span class="pl-2 status" for="assujeti" i18n>Est Assujeti?</span>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="fournisseur.isDefault" [binary]="true" class="pb-3 pt-2 " id="isDefault"
                    inputId="binary"></p-checkbox>
        <span class="pl-2 status" for="isDefault" i18n>Par défaut?</span>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">

      <button (click)="hideDialog()" class="p-button-danger" i18n-label icon="pi pi-times" label="Annuler" pButton
              pRipple></button>
      <button (click)="saveFournisseur()"
              [disabled]="!(fournisseur.code&&fournisseur.compteC)"
              class="p-button-success" i18n-label icon="pi pi-check" label="Enregistrer" pButton pRipple></button>
    </ng-template>
    <!--    <ng-template pTemplate="content">-->
    <!--      <div class="field">-->
    <!--        <label for="code" i18n>Code fournisseur</label>-->
    <!--        <input [(ngModel)]="fournisseur.code" autofocus id="code" pInputText required type="text"/>-->
    <!--        <small *ngIf="submitted && !fournisseur.code" class="p-error" i18n>Code is required.</small>-->
    <!--      </div>-->
    <!--    </ng-template>-->

    <!--    <ng-template pTemplate="footer">-->
    <!--      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Annuler" i18n-label pButton pRipple></button>-->
    <!--      <button (click)="saveFournisseur()" class="p-button-text" icon="pi pi-check" label="Enregistrer" i18n-label pButton pRipple></button>-->
    <!--    </ng-template>-->
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
