<nb-card>
  <nb-tabset (changeTab)="changeTab($event)" class="p-3">
    <nb-tab tabId="0" tabTitle="Prélevements">
      <app-prelevement ></app-prelevement>
    </nb-tab>
    <nb-tab tabId="1" tabTitle="Dépenses">
      <app-depense-list></app-depense-list>
    </nb-tab>
  </nb-tabset>
</nb-card>
