<div class="login" fxLayout="row" fxFlex>
  <div class="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div><img src="assets/images/Logo_MyCash.png"></div>
  </div>
  <!--    <div class="login-form-wrapper">-->
  <!--        <div class="login-form">-->
  <!--          -->
  <!--            <router-outlet></router-outlet>-->
  <!--        </div>-->
  <!--    </div>-->

  <nb-layout>
    <nb-layout-column>
      <nb-auth-block>
        <router-outlet></router-outlet>
      </nb-auth-block>
    </nb-layout-column>
  </nb-layout>

</div>
