:host {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.login {
    width: 100%;
    overflow: hidden;
   background: url('/../../assets/images/backgrounds/blue1-material-bg.jpg') no-repeat;
    background-size: cover;

    .login-intro {
        padding: 128px;
        color: white;

        .logo {
            width: 128px;
            margin-bottom: 16px;
            margin-top: -20px;
        }

        .title {
            font-size: 42px;
            font-weight: 300;
            line-height: 1;
        }

        .description {
            padding-top: 16px;
            font-size: 14px;
            max-width: 600px;
            color: rgba(255,255,255,.54);
        }
    }

    .login-form-wrapper {
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        background: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

        .login-form {
            padding: 128px 48px 48px;
        }
    }
}

@media screen and (max-width: 959px) and (min-width: 600px) {
    .login {
        .login-intro {
            padding: 128px 64px;
        }

        .login-form-wrapper {
            width: 360px;
            min-width: 360px;
            max-width: 360px;
        }
    }
}

@media screen and (max-width: 599px) {
    .login {
        .login-form-wrapper {
            width: 100%;
            min-width: 100%;
            max-width: 100%;

            .login-form {
                text-align: center;
                padding: 24px;
            }
        }
    }
}
