<nb-card class="example-card">
  <nb-card-header>
    <span i18n>Journées comptés</span>
  </nb-card-header>
  <nb-card-body class="append">
    <h5><span i18n>Recherche par date d'ouverture de caisse: </span></h5>

    <div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">

          <form [formGroup]="dateForm">
            <div class="p-formgroup-inline">
              <div class="p-field">
                <label class="control-label" for="dateDebut" i18n>Date Début</label>
                <kendo-datepicker
                  id="dateDebut"
                  formControlName="dateFermeFrom"
                  format="dd-MM-yyyy"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <label for="datefin" i18n>Date Fin</label>
                <kendo-datepicker
                  id="datefin"
                  format="dd-MM-yyyy"
                  formControlName="dateFermeTo"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <br>
                <p-button (onClick)="rechercheEnveloppe()" class="p-mr-2" icon="pi pi-spinner"
                          i18n-label label="Recherche Enveloppe"></p-button>
              </div>
            </div>
          </form>


        </ng-template>

        <ng-template pTemplate="right">


          <button (click)="exportExcel()" class="p-button-success p-mr-2" icon="pi pi-file-excel" label="Excel" i18n-label pButton
                  pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>
          <button (click)="exportPdf()" class="p-button-warning mr-2" icon="pi pi-file-pdf" label="PDF" i18n-label pButton pRipple
                  pTooltip="PDF" tooltipPosition="bottom" type="button"></button>

        </ng-template>
      </p-toolbar>
      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">

          <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)"
                   [globalFilterFields]="['gjcCaisse','gjcEtablissement.etLibelle','montantCaisse']"
                   [loading]="this.loading" [paginator]="true"
                   [rowHover]="true" [rowsPerPageOptions]="[10,25,50,100]"
                   [rows]="10" paginatorDropdownAppendTo="body"
                   [showCurrentPageReport]="true" [value]="joursReceptionnes"
                   dataKey="id"
                   id="table" rowExpandMode="single"
                   styleClass="dark-panel">

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>

                <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">

                    {{col.displayName}}
                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle'&&
                    col.key !== 'statusComptageObj.statuslibelle'&& col.key!='ecart' " [field]="col.key"
                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="col.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-columnFilter *ngIf="col.key=='gjcEtablissement.etLibelle'" [showAddButton]="false"
                                    [showMatchModes]="false"
                                    [showOperator]="false" [type]="col.type" display="menu"
                                    field="gjcEtablissement" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{col.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"
                                       [maxSelectedLabels]="3" [selectedItemsLabel]="'{0} etablissements selectioné'"
                                       [virtualScroll]="true"
                                       display="chip" i18n-placeholder optionLabel="etLibelle"
                                       placeholder="select etablissments">
                          <ng-template let-option pTemplate="item">
                            <div class="ui-multiselect-label-container">
                              <span class="ml-1">{{option.etLibelle}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>

                    </p-columnFilter>
                    <p-columnFilter
                      *ngIf="col.key == 'statusComptageObj.statuslibelle'"
                      [showAddButton]="false"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [type]="col.type"
                      display="menu"
                      field="statusComptageObj"
                      matchMode="in"
                    >
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{ col.displayName }}</span>
                        </div>
                      </ng-template>
                      <ng-template
                        let-filter="filterCallback"
                        let-value
                        pTemplate="filter"
                      >
                        <p-multiSelect
                          (onChange)="filter($event.value)"
                          [ngModel]="value"
                          [options]="statuses"
                          [virtualScroll]="true"
                          display="chip"
                          i18n-placeholder
                          optionLabel="statuslibelle"
                          placeholder="select status"
                        >
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-label-container">
                              <span *ngIf=" this.currentLanguage ==='fr'||!this.currentLanguage"
                                    class="ml-1">{{ option?.statuslibelle }}</span>
                              <span *ngIf=" this.currentLanguage ==='en'"
                                    class="ml-1">{{ option?.statuslibelleen }}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>
                    <!--                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle' && col.key!='ecart' " [field]="col.key"-->
                    <!--                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"-->
                    <!--                                    [matchMode]="'equals'" [showOperator]="false"-->
                    <!--                                    [type]="col.type" display="menu"-->
                    <!--                    >-->
                    <!--                    </p-columnFilter>-->
                    <!--                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle'&&-->
                    <!--                    col.key !== 'statusComptageObj.statuslibelle'&& col.key!='ecart'" [showAddButton]="false"-->
                    <!--                                    [showMatchModes]="false"-->
                    <!--                                    [showOperator]="false" [type]="col.type" display="menu"-->
                    <!--                                    field="gjcEtablissement" matchMode="in">-->
                    <!--                      <ng-template pTemplate="header">-->
                    <!--                        <div class="p-px-3 p-pt-3 p-pb-0">-->
                    <!--                          <span class="p-text-bold">{{col.displayName}}</span>-->
                    <!--                        </div>-->
                    <!--                      </ng-template>-->
                    <!--                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">-->
                    <!--                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"-->
                    <!--                                       [virtualScroll]="true" [maxSelectedLabels]="3"-->
                    <!--                                       [selectedItemsLabel]="'{0} etablissements selectioné'"-->
                    <!--                                       display="chip" optionLabel="etLibelle" i18n-placeholder placeholder="select etablissments">-->
                    <!--                          <ng-template let-option pTemplate="item">-->
                    <!--                            <div class="ui-multiselect-label-container">-->
                    <!--                              <span class="ml-1">{{option.etLibelle}}</span>-->
                    <!--                            </div>-->
                    <!--                          </ng-template>-->
                    <!--                        </p-multiSelect>-->
                    <!--                      </ng-template>-->

                    <!--                    </p-columnFilter>-->
                    <!--                    <p-columnFilter-->
                    <!--                      *ngIf="col.key === 'statusComptageObj.statuslibelle'"-->
                    <!--                      [showAddButton]="false"-->
                    <!--                      [showMatchModes]="false"-->
                    <!--                      [showOperator]="false"-->
                    <!--                      [type]="col.type"-->
                    <!--                      display="menu"-->
                    <!--                      field="statusComptageObj"-->
                    <!--                      matchMode="in"-->
                    <!--                    >-->
                    <!--                      <ng-template pTemplate="header">-->
                    <!--                        <div class="p-px-3 p-pt-3 p-pb-0">-->
                    <!--                          <span class="p-text-bold">{{ col.displayName }}</span>-->
                    <!--                        </div>-->
                    <!--                      </ng-template>-->
                    <!--                      <ng-template-->
                    <!--                        let-filter="filterCallback"-->
                    <!--                        let-value-->
                    <!--                        pTemplate="filter"-->
                    <!--                      >-->
                    <!--                        <p-multiSelect-->
                    <!--                          (onChange)="filter($event.value)"-->
                    <!--                          [ngModel]="value"-->
                    <!--                          [options]="statuses"-->
                    <!--                          [virtualScroll]="true"-->
                    <!--                          display="chip"-->
                    <!--                          i18n-placeholder-->
                    <!--                          optionLabel="statuslibelle"-->
                    <!--                          placeholder="select status"-->
                    <!--                        >-->
                    <!--                          <ng-template let-option pTemplate="item">-->
                    <!--                            <div class="p-multiselect-label-container">-->
                    <!--                              <span *ngIf=" this.currentLanguage ==='fr'||!this.currentLanguage" class="ml-1">{{ option?.statuslibelle }}</span>-->
                    <!--                              <span *ngIf=" this.currentLanguage ==='en'" class="ml-1">{{ option?.statuslibelleen }}</span>-->
                    <!--                            </div>-->
                    <!--                          </ng-template>-->
                    <!--                        </p-multiSelect>-->
                    <!--                      </ng-template>-->
                    <!--                    </p-columnFilter>-->


                    <p-sortIcon *ngIf="col.key!='gjcEtablissement.etLibelle' && col.key!='ecart'"
                                [field]="col.key"></p-sortIcon>
                  </div>

                </th>
                <!--            <th>Détails Comptage</th>-->
              </tr>

            </ng-template>
            <ng-template let-expanded="expanded" let-jourCaisse pTemplate="body">
              <tr [ngClass]="{'high': jourCaisse.montantCaisse < 0,'supp':jourCaisse.montantCaisse >0}"
                  class="montant-row">
                <td>
                  <button (click)="editProduct(jourCaisse)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          [pRowToggler]="jourCaisse" class="p-button-text p-button-rounded p-button-plain" pButton
                          pRipple
                          type="button"></button>
                </td>
                <td>{{jourCaisse.gjcEtablissement?.etLibelle}}</td>
                <td>{{jourCaisse.gjcCaisse}}</td>
                <td>{{jourCaisse.gjcNumzcaisse}}</td>
                <td>{{getEmetteurLabel(jourCaisse.emetteurId)}}</td>
                <td>{{getChauffeurLabel(jourCaisse.cahuffeurId)}}</td>
                <td>{{jourCaisse.receptionDate | date : 'dd/MM/yyyy, H:mm'}} </td>
                <td>{{jourCaisse.gjcDateouv | date : 'dd/MM/yyyy'}} </td>
                <td *ngIf=" currentLanguage ==='fr'||!currentLanguage"><span
                  [class]="'customer-badge status-'+jourCaisse?.statusComptageObj?.code ">{{jourCaisse.statusComptageObj.statuslibelle}}</span>
                </td>
                <td *ngIf=" currentLanguage ==='en'"><span
                  [class]="'customer-badge status-'+jourCaisse?.statusComptageObj?.code ">{{jourCaisse.statusComptageObj.statuslibelleen}}</span>
                </td>
                <td><span *ngIf="jourCaisse.isManuel"
                          [class]="'customer-badge status-renewal'">{{jourCaisse.refExterne ? jourCaisse.refExterne : '____'}}</span>
                </td>
                <td><strong>{{jourCaisse.montantCaisse|separateurPipe  }}</strong></td>

                <td>
                  <button *ngIf="jourCaisse?.isEcart===null" class="p-button-rounded p-button-success" pButton
                          pRipple></button>
                  <button *ngIf="jourCaisse?.isEcart===false" class="p-button-rounded p-button-info" pButton
                          pRipple></button>
                  <button *ngIf="jourCaisse?.isEcart===true" class="p-button-rounded p-button-danger" pButton
                          pRipple></button>
                </td>
              </tr>
            </ng-template>
            <ng-template let-jourCaisse pTemplate="rowexpansion">
              <tr style="background-color: rgba(52,37,50,0.21)">
                <td colspan="1"></td>
                <td colspan="9">
                  <div class="p-p-3">
                    <p-table [globalFilterFields]="['gpeModepaie']" [value]="piedeche" dataKey="id">
                      <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="gpeModepaie"><span i18n>ModePaie</span>
                  <p-sortIcon field="gpeModepaie"></p-sortIcon>
                </th>
                <th pSortableColumn="montant"><span i18n>Montant</span>
                  <p-sortIcon field="montant"></p-sortIcon>
                </th>
                <th pSortableColumn="valeurSaisie"><span i18n>Valeur Saisie</span>
                  <p-sortIcon field="valeurSaisie"></p-sortIcon>
                </th>
                <th pSortableColumn="ecart"><span i18n>Ecart</span>
                  <p-sortIcon field="ecart"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template let-order pTemplate="body">
              <tr [ngClass]="{'high': order.montant < 0,'supp':order.montant >0}"
                  class="montant-row">
                <td>{{order.gpeModepaie}}</td>
                <td>{{order.montant|separateurPipe }}</td>
                <td>{{order.montant - order.ecart|separateurPipe }} </td>
                <td>{{order.ecart|separateurPipe }} </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
              </tr>
            </ng-template>
          </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
          <tr>
            <td style="width: 3rem"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>


            <td class="p-text-center" colspan="2"><span i18n>Montant Total :</span></td>
            <td class="text-left p-text-bold">{{montantTot|separateurPipe }}</td>
            <td class="text-right"></td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6"><span i18n>Il n'y a pas encore des enveloppes.</span></td>

          </tr>
        </ng-template>
        </p-table>

    </div>
      </p-toolbar>


    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>



  </nb-card-body>

</nb-card>



