<div class="content">
  <div class="error-code">404</div>

  <div class="message" i18n>Désolé mais nous n'avons pas trouvé la page que vous recherchez</div>

  <a class="back-link" href="/" i18n>Retour</a>
</div>
