<nb-card class="example-card">
  <nb-card-header>

    <span i18n>Etat des journées</span>
  </nb-card-header>
  <nb-card-body>

    <div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">

          <form [formGroup]="dateForm">
            <div class="p-formgroup-inline">
              <div class="p-field">
                <label class="control-label" for="dateOuverture" i18n>Début Date Ouverture</label>
                <kendo-datepicker
                  id="dateOuverture"
                  formControlName="dateOuverture"
                  format="dd-MM-yyyy"

                ></kendo-datepicker>
              </div>

              <div class="p-field">
                <label class="control-label" for="dateOuvertureTo" i18n>Fin Date Ouverture</label>
                <kendo-datepicker
                  id="dateOuvertureTo"
                  formControlName="dateOuvertureTo"
                  format="dd-MM-yyyy"

                ></kendo-datepicker>
              </div>

              <div class="p-field">
                <label for="etablissementId" i18n>Etablissement</label>

                <span style="width: 100%">
                                  <p-dropdown [style]="{'minWidth':'100%', 'maxWidth':'100%'}" [filter]="true"
                                              [options]="this.etablissements" appendTo="body"
                                              id="etablissementId"
                                              formControlName="etablissementId"
                                              optionLabel="etLibelle" optionValue="id"
                                              i18n-placeholder placeholder="Etablissement"></p-dropdown>
                </span>

              </div>
              <div class="p-field">
                <br>
                <p-button (onClick)="rechercheEnveloppe()" class="p-mr-2" icon="pi pi-spinner"
                          i18n-label label="Recherche"></p-button>

              </div>
            </div>
          </form>


        </ng-template>

        <ng-template pTemplate="right">


          <button (click)="exportExcel()" class="p-button-success p-mr-2" icon="pi pi-file-excel" label="Excel" pButton
                  pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>
          <button (click)="exportPdf()" class="p-button-warning mr-2" icon="pi pi-file-pdf" label="PDF" pButton pRipple
                  pTooltip="PDF" tooltipPosition="bottom" type="button"></button>

        </ng-template>
      </p-toolbar>
      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt [loading]="loading"
                   [paginator]="true" [rowHover]="true" paginatorDropdownAppendTo="body"
                   [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" [showCurrentPageReport]="true" [value]="reports"
                   dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    {{col.displayName}}
                    <p-columnFilter [field]="col.key==='statut'?currentLanguage==='en'?col.key+'EN':col.key:col.key"
                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="col.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-sortIcon [field]="col.key"></p-sortIcon>
                  </div>

                </th>

              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-report>
              <tr>
                <td>{{report.etablissement}}</td>
                <td>{{report.caisse}}</td>
                <td>{{report.referenceZ}}</td>
                <td>{{report.dateOuverture}}</td>
                <td>{{report.heureOuverture}}</td>
                <td>{{report.modePaiement}}</td>
                <td class="text-right">{{report.montantTotal|separateurPipe}}</td>
                <td class="text-right">{{report.montantCompte|separateurPipe}}</td>
                <td class="text-right">{{report.montantVerse|separateurPipe}}</td>
                <td class="text-right">{{report.depense|separateurPipe}}</td>
                <td class="text-right">{{report.ecart|separateurPipe}}</td>

                <td *ngIf=" this.currentLanguage ==='fr'||!currentLanguage"><span
                  [class]="'customer-badge float-left status-'+report.statutCode ">{{report.statut}}</span>
                </td>
                <td *ngIf=" this.currentLanguage ==='en'"><span
                  [class]="'customer-badge float-left status-'+report.statutCode ">{{report.statutEN}}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" style='color:white;border-top: 1px solid black;'>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <td></td>

                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0"><span i18n>Total :</span></span>
                </td>
                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0">{{this.MontantTotal|separateurPipe}}</span>
                </td>
                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0">{{this.MontantCompte|separateurPipe}}</span>
                </td>
                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0">{{this.MontantVerse|separateurPipe}}</span>
                </td>
                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0">{{this.Depense|separateurPipe}}</span>
                </td>
                <td class="text-right"><span
                  *ngIf="this.MontantTotal>0 || this.MontantCompte>0 || this.MontantVerse>0 || this.Depense>0 || this.Ecart>0">{{this.Ecart|separateurPipe}}</span>
                </td>
                <td></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <span i18n >Nombre total de lignes </span> {{getTotal(state)}}
            </ng-template>
          </p-table>

        </div>
      </p-toolbar>

    </div>


  </nb-card-body>

</nb-card>



