<mat-card class="example-card">
  <mat-card-content>
    <div class="scrollable-container">
      <div class="container-fluid">
        <div class="row info-cards">

          <nb-card class="col">
            <nb-card-body>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>Sortie(s) coffre :</span>
                  <span class="font-weight-bolder"> {{this.selectedCoffre.libelle}}</span>
                </div>
              </div>
              <br>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>Solde coffre :</span>
                  <span class="font-weight-bolder"> {{this.selectedCoffre.montant|separateurPipe}}</span>
                </div>
              </div>
              <br>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>Solde Converti :</span>
                  <span class="font-weight-bolder"> {{this.selectedCoffre.montantConvertie|separateurPipe}}</span>
                </div>
              </div>
              <br>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>Mode(s) :</span>
                  <span class="font-weight-bolder"> {{this.selectedCoffre.modesPaieLibelle}}</span>
                </div>
              </div>
              <br>
              <br>


              <div class="card">
                <p-toolbar styleClass="mb-4">

                  <div style="width: 100%; height: 100%; overflow-x: scroll;">
                    <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)"
                             [globalFilterFields]="['id','montant','sortieDate']" [paginator]="true" [rows]="10"
                             [value]="sorties" paginatorDropdownAppendTo="body"
                             [rowHover]="true" dataKey="id"
                             [showCurrentPageReport]="true">
                      <ng-template pTemplate="header">
                        <tr>
                          <th><span i18n>Coffre</span></th>
                          <th><span i18n>Type Sortie</span></th>
                          <th><span i18n>Date</span></th>
                          <th><span i18n>Banque</span></th>
                          <th><span i18n>Type Frais</span></th>
                          <th><span i18n>Site</span></th>
                          <th><span i18n>Service</span></th>
                          <th><span i18n>Alimenté par</span></th>
                          <th><span i18n>Commentaire</span></th>
                          <th><span i18n>Justificatif</span></th>
                          <th><span i18n>Montant</span></th>
                          <th><span i18n>Montant Convertie</span></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-sortie>
                        <tr>
                          <td>{{sortie.coffreLibelle}}</td>
                          <td>{{sortie.typeSortieLibelle}}</td>
                          <td>{{sortie.sortieDate | date : 'dd/MM/yyyy H:mm'}}</td>
                          <td>{{sortie.banqueLibelle}}</td>
                          <td>{{sortie.typeFraisLibelle}}</td>
                          <td>{{sortie.siteConcernee}}</td>
                          <td>{{sortie.serviceConcernee}}</td>
                          <td>{{sortie.username}}</td>
                          <td>{{sortie.commentaire}}</td>
                          <td><a href="#">{{sortie.justificatifName}}</a></td>
                          <td>{{sortie.montant|separateurPipe}}</td>
                          <td>{{sortie.montantConvertie|separateurPipe}}</td>
                          <td>
                            <button (click)="deleteSortie(sortie)" class="p-button-rounded p-button-warning"
                                    icon="pi pi-trash"
                                    pButton
                                    pRipple></button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
                        <tr>
                          <td style="width: 3rem"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="p-text-center"><span i18n>Montant Total :</span></td>

                          <td class="text-left p-text-bold">{{montantTot|separateurPipe}}</td>
                          <td class="text-left p-text-bold">{{montantTotConv|separateurPipe}}</td>
                          <td class="text-right"></td>


                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </p-toolbar>

              </div>




            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </div>











  </mat-card-content>



</mat-card>

