<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><span i18n>Solde et mouvements</span></mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="right">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..." i18n-placeholder
                           type="text"/>
                </span>
          </div>
        </ng-template>


        <!--        <button (click)="exportExcel()" class="p-button-success p-mr-2" icon="pi pi-file-excel" label="Excel" pButton-->
        <!--                pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>-->
        <!--        <button (click)="exportPdf()" class="p-button-warning mr-2" icon="pi pi-file-pdf" label="PDF" pButton pRipple-->
        <!--                pTooltip="PDF" tooltipPosition="bottom" type="button"></button>-->

      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)" [(selection)]="selectCoffre"
                 [globalFilterFields]="['libelle']" [paginator]="true" [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                 (selectionChange)="onSelectionChange($event)"
                 [showCurrentPageReport]="true" [value]="coffres"
                 dataKey="id"
                 responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="libelle"><span i18n>Coffre</span>
                <p-sortIcon field="libelle"></p-sortIcon>
              </th>
              <th><span i18n>Mode(s)</span></th>

              <th pSortableColumn="monatnt"><span i18n>Solde coffre</span>
                <p-sortIcon field="monatnt"></p-sortIcon>
              </th>
              <th pSortableColumn="montantConvertie"><span i18n>Solde coffre Converti</span>
                <p-sortIcon field="montantConvertie"></p-sortIcon>
              </th>

              <th><span i18n>Alimentation(s)</span></th>
              <th><span i18n>Sortie(s)</span></th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-coffre pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="coffre"></p-tableCheckbox>
              </td>
              <td>{{coffre.libelle}}</td>
              <td>{{coffre.modesPaieLibelle}} </td>
              <td>{{coffre.montant|separateurPipe}}</td>
              <td>{{coffre.montantConvertie|separateurPipe}}</td>
              <td [style]="{width:'200px'}">

                <button (click)="alimentation(coffre)" class="p-button-rounded p-button-primary" icon="pi pi-list"
                        pButton
                        pRipple></button>
              </td>
              <td [style]="{width:'200px'}">

                <button (click)="sortie(coffre)" class="p-button-rounded p-button-primary" icon="pi pi-list" pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
            <tr>
              <td style="width: 3rem"></td>


              <td class="p-text-center" colspan="2"><span i18n>Montant Total :</span></td>
              <td class="text-left p-text-bold">{{montantTot|separateurPipe }}</td>
              <td class="text-left p-text-bold">{{montantTotConv|separateurPipe }}</td>
              <td class="text-right"></td>
              <td class="text-right"></td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-toolbar>


    <ng-template #coffreDialog let-data let-ref="dialogRef">
      <nb-card style="width:800px;height: 80%">
        <nb-card-header>
          <h5><span i18n>Create Coffre</span></h5>Z
        </nb-card-header>
        <nb-card-body>

          <form (ngSubmit)="createCoffre(ref);" *ngIf="coffreForm" [formGroup]="coffreForm" autocomplete="nope"
                class="form-horizontal" ngNativeValidate>
            <nb-card class="col-12">
              <div class="row">
                <div class="form-group">
                  <label class="label" for="code" i18n>Code</label>
                  <input
                    [attr.aria-invalid]="code?.invalid && code?.touched ? true : null"
                    [status]="code?.invalid ? (code?.errors&&code?.touched  ? 'danger' : 'basic') : 'success'"
                    formControlName="code"
                    fullWidth

                    id="code"

                    nbInput>
                  <ng-container *ngIf="code?.invalid && code?.touched">
                    <p *ngIf="code?.errors" class="caption status-danger">
                      <span i18n>Code is required!</span>
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="label" for="libelle" i18n>Libelle</label>
                  <input
                    [attr.aria-invalid]="libelle?.invalid && libelle?.touched ? true : null"
                    [status]="libelle?.invalid ? (libelle?.errors&&code?.touched  ? 'danger' : 'basic') : 'success'"
                    formControlName="libelle"
                    fullWidth
                    id="libelle"

                    nbInput>
                  <ng-container *ngIf="libelle?.invalid && libelle?.touched">
                    <p *ngIf="libelle?.errors" class="caption status-danger">
                      <span i18n>Libelle est obligatoire!</span>
                    </p>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="label" for="modePaie"><span i18n>Mode Paiement </span>{{data.modePaie}}</label><br>
                  <nb-select [(selected)]="data.modePaie" formControlName="modePaie" fullWidth id="modePaie" multiple
                             shape="semi-round">
                    <nb-option *ngFor="let modePaie of mps" [value]="modePaie.id">
                      {{ modePaie.libelleAppFinance}}</nb-option>
                  </nb-select>
                </div>
              </div>


            </nb-card>

            <div class="d-flex justify-content-center">
              <button [disabled]="!coffreForm.valid" class="p-button-text" nbButton
                      status="success" type="submit"><span i18n>Enregistrer</span>
              </button>
              <button (click)="ref.close()" class="p-button-text" icon="pi pi-times" status="danger" nbButton
              ><span i18n>Annuler</span>
              </button>
            </div>
          </form>

        </nb-card-body>
      </nb-card>

    </ng-template>


  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
