<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><span i18n>Profil utilisateur</span></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <sds-change-password></sds-change-password>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
