<nb-card class="example-card">
  <nb-card-header>
    <span i18n>Liste des Prélevements</span>
  </nb-card-header>
  <nb-card-body>
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-toggleButton
          [(ngModel)]="checked"
          offLabel="Afficher filter"
          onLabel="Cacher filter"
        ></p-toggleButton>
      </div>
      <div class="p-toolbar-group-right">
        <div *ngIf="showExportCompta" [matBadge]="selectedPrelevements.length" matBadgeOverlap="false" class="demo-section p-mr-2">
          <button
            [hidden]="!showExportCompta"
            [disabled]="selectedPrelevements.length === 0"
            (click)="generer()"
            class="p-button-help"
            i18n-label
            icon="pi pi-file"
            label="Export TRA"
            pButton
            pRipple
            tooltipPosition="bottom"
            type="button"
          ></button>
        </div>

      </div>
    </p-toolbar>

    <p-toolbar *ngIf="checked" styleClass="mb-4">
      <div class="row">
        <div class="p-toolbar-group-left">
          <div class="p-formgroup-inline">
            <div class="p-field" style="width: 200px;" >
              <mat-checkbox class="example-margin"
                            [(ngModel)]="filter.isCompta"
                            (change)="rechercheCheckbox()">

              </mat-checkbox>
              <label class="control-label ml-2 mb-1" i18n>
                Généré au compta ?</label
              >
              <br>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="datePrelevementsFrom" i18n>Date Prélevement à partir de</label>
              <kendo-datepicker
                [(ngModel)]="filter.datePrelevementFrom"
                id="datePrelevementsFrom"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="datePrelevementsTo" i18n>Date Prélevement jusqu'à</label>
              <kendo-datepicker
                [(ngModel)]="filter.datePrelevementTo"
                id="datePrelevementsTo"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field" style="width: 200px;" >
              <label class="control-label mb-1" for="etab" i18n
              >Etablissements</label
              >
              <br>
              <p-multiSelect
                [(ngModel)]="filter.etablissementId"
                [maxSelectedLabels]="1"
                [options]="etablissements"
                [selectedItemsLabel]="'{0} etablissements selectioné'"
                appendTo="body"
                i18n-placeholder
                id="etab"
                optionLabel="etLibelle"
                optionValue="id"
                placeholder="select etablissments..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.etLibelle }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="users" i18n>Utilisateurs</label><br>
              <p-multiSelect
                [(ngModel)]="filter.userCreated"
                [maxSelectedLabels]="1"
                [options]="users"
                [selectedItemsLabel]="'{0} Utilisateurs selectioné'"
                appendTo="body"
                i18n-placeholder
                id="users"
                optionLabel="username"
                optionValue="id"
                placeholder="select Utilisateurs..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                      <span class="ml-1"
                      >{{ option.username }} - {{ option.firstName }}
                        {{ option.lastName }}</span
                      >
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="validateurs" i18n>Validateurs</label><br>
              <p-multiSelect
                [(ngModel)]="filter.validateur"
                [maxSelectedLabels]="1"
                [options]="users"
                [selectedItemsLabel]="'{0} Validateurs selectioné'"
                appendTo="body"
                i18n-placeholder
                id="validateurs"
                optionLabel="username"
                optionValue="id"
                placeholder="select Validateurs..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                      <span class="ml-1"
                      >{{ option.username }} - {{ option.firstName }}
                        {{ option.lastName }}</span
                      >
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="typeDep" i18n
              >Type Prélevements</label
              ><br>
              <p-multiSelect
                [(ngModel)]="filter.typePrelevement"
                [options]="typePrelevements"
                [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Type Prélevements selectioné'"
                appendTo="body"
                i18n-placeholder
                id="typeDep"
                optionLabel="label"
                optionValue="value"
                placeholder="select Type Prélevements..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.label }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="mntfrom" i18n>Montant Total supérieur à</label><br>
              <input
                [(ngModel)]="filter.montantTotalFrom"
                id="mntfrom"
                pInputText
                type="number"
              />
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="mntto" i18n>Montant Total inférieur à</label><br>
              <input
                [(ngModel)]="filter.montantTotalTo"
                id="mntto"
                pInputText
                type="number"
              />
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateCreationFrom" i18n>Date Creation à partir de</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateCreationFrom"
                id="dateCreationFrom"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateCreationFrom" i18n>Date Creation jusqu'à</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateCreationTo"
                id="dateCreationTo"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <br>
              <p-button (onClick)="recherche()"  class="p-mr-2" icon="pi pi-spinner"
                        i18n-label label="Recherche"></p-button>
            </div>
          </div>
        </div>
      </div>

    </p-toolbar>

    <mat-tab-group (selectedTabChange)="onTabSelectionChange($event)">
      <div *ngFor="let status of statuses" >
        <mat-tab  *ngIf="status.statuslibelle  && status.id" [label]="status.statuslibelle">
        </mat-tab>
      </div>
    </mat-tab-group>

    <div *ngIf="this.filter.statutId">
      <div style="width: 100%; height: 100%; overflow-x: scroll">
        <p-table
          #dt1
          [totalRecords]="totalRecords"
          [filterDelay]="500"
          [loading]="loading"
          [paginator]="showPaginator"
          (onFilter)="handleFilter($event.filteredValue,dt1.filters)" [paginator]="true"
          [rowHover]="true"
          [rowsPerPageOptions]="[10,25,50,100,500,1000,5000]"
          [rows]="10"
          [(selection)]="selectedPrelevements"
          [showCurrentPageReport]="true"
          [value]="entetePrelevements"
          [currentPageReportTemplate]="loading ? 'Loading...' : 'Showing {first} to {last} of {totalRecords} entries'"
          [lazy]="true"
          (onLazyLoad)="onLazyLoad($event)"
          [virtualScroll]="!showPaginator"
          dataKey="id"
          id="table"
          paginatorDropdownAppendTo="body"
          rowExpandMode="single"
          styleClass="dark-panel"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th style="width: 3rem"></th>
              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ col.displayName }}
                </div>
              </th>
              <th><span i18n>Détails</span></th>

            </tr>
          </ng-template>



          <ng-template let-entete let-expanded="expanded" pTemplate="body">
            <tr  class="p-selectable-row">
              <td>
                <p-tableCheckbox [value]="entete"></p-tableCheckbox>
              </td>
              <td>
                <button
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                  (click)="selectEntete(entete)"
                  [pRowToggler]="entete"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  pRipple
                  type="button"
                ></button>
              </td>
              <td>
                {{ entete?.etablissement?.etLibelle }}
              </td>
              <td>
                {{ entete?.userCreatedFullName }}
              </td>
              <td>
                {{ entete?.userValidatorFullName }}
              </td>
              <td>
                <span class="image-text">{{
                  entete?.typePrelevement == false ? "Normal" : "Exceptionel"
                  }}</span>
              </td>
              <td>
                {{ entete?.datePrelevement | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ entete?.createDate | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ entete?.montantTotal |separateurPipe }}
              </td>
              <td>
                <span
                  [ngClass]="'status-' + entete?.status?.code"
                  class="customer-badge"
                >{{ entete?.status?.statuslibelle }}</span
                >
              </td>
              <td>
                <button
                  (click)="navigate(entete)"
                  class="p-button-rounded p-button-primary"
                  icon="pi pi-list"
                  pButton
                  pRipple
                ></button>
              </td>
            </tr>
          </ng-template>







          <ng-template let-entete pTemplate="rowexpansion">
            <tr style="background-color: rgba(52, 37, 50, 0.21)">
              <td colspan="1"></td>
              <td colspan="12">
                <div class="p-p-3">
                  <p-table
                    [globalFilterFields]="['parcaisseId']"
                    [value]="lignePrelevements"
                    dataKey="id"
                  >
                    <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="parcaisse">
                <span i18n>Caisse</span>
              </th>
              <th pSortableColumn="numZref">
                <span i18n>numZref</span>
              </th>
              <th pSortableColumn="montant">
                <span i18n>Montant</span>
              </th>
            </tr>
          </ng-template>
          <ng-template let-order pTemplate="body">
            <tr>
              <td>{{ order?.parcaisse?.gpkLibelle }}</td>
              <td>{{ order.numZref }}</td>
              <td>
                {{order.montant |separateurPipe }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                          <span i18n
                          >Il n'y a pas encore des modes de paiement.</span
                          >
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      <ng-template pTemplate="footer" style="border-top: 1px solid black">
        <tr>
          <td style="width: 3rem"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>

          <td class="p-text-center" colspan="2">
            <span i18n>Montant Total</span>
          </td>
          <td class="text-left p-text-bold">

            {{ montantTot |separateurPipe  }}
          </td>
          <td class="text-right"></td>
          <td class="text-right"></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7"></td>
          <td colspan="7">
            <span i18n>Il n'y a pas encore des prelevements.</span>
          </td>
        </tr>
      </ng-template>
      </p-table>
    </div>
    </div>
  </nb-card-body>
</nb-card>
<p-dialog [(visible)]="prelevementDialog" [modal]="true" [resizable]="true" [style]="{width: '350px'}"
          header="Details Prelevement"
          i18n-header
          styleClass="p-fluid">
  <ng-template pTemplate="content">


    <div class="p-field">
      <label class="p-3" for="codeJournal">code journal</label>
      <input [(ngModel)]="codeJournal" id="codeJournal" nbInput type="text"/>
    </div>
    <br>


  </ng-template>
  <ng-template pTemplate="footer">
    <button (click)="hideDialog()" class="p-button-danger" i18n-label icon="pi pi-times" label="Annuler" pButton
            pRipple></button>
    <button (click)="saveEntete()" [disabled]="codeJournal===''" class="p-button-success" i18n-label
            icon="pi pi-check" label="Enregistrer" pButton
            pRipple></button>
  </ng-template>
</p-dialog>
