<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
    Compte Dépense
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" i18n-label icon="pi pi-plus" label="Nouveau" pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>
    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectCompteDepense" [globalFilterFields]="['libelle']" [paginator]="true"
                 [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" [showCurrentPageReport]="true"
                 [value]="compteDepenses" dataKey="id"
                 paginatorDropdownAppendTo="body"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" i18n-placeholder
                           pInputText placeholder="Recherche..."
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <!--      <ng-template pTemplate="header">-->
          <!--        <tr>-->
          <!--          <th style="width: 3rem">-->
          <!--            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
          <!--          </th>-->
          <!--          <th pSortableColumn="code" ><span i18n>Code compteDepense</span>-->
          <!--            <p-sortIcon field="code"></p-sortIcon>-->
          <!--          </th>-->

          <!--          <th></th>-->
          <!--        </tr>-->
          <!--      </ng-template>-->
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>

              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">

                  {{col.displayName}}

                  <p-columnFilter *ngIf="col.type==='text'" [field]="col.key"
                                  [matchModeOptions]="matchModeOptions"
                                  [matchMode]="'equals'" [showOperator]="false"
                                  [type]="col.type" display="menu"
                  >
                  </p-columnFilter>
                  <p-columnFilter *ngIf="col.type==='boolean'" [field]="col.key"

                                  display="menu" type="boolean"
                  >
                  </p-columnFilter>


                  <p-sortIcon *ngIf="col.type!=='boolean'"
                              [field]="col.key"></p-sortIcon>
                </div>

              </th>
              <th>Action</th>
            </tr>

          </ng-template>

          <ng-template let-compteDepense pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="compteDepense"></p-tableCheckbox>
              </td>
              <td>{{compteDepense.libelle}}</td>
              <td>{{compteDepense.compteCaisseG}}</td>
              <td>{{compteDepense.solde}}</td>
              <td>{{compteDepense.montantLimite}}</td>
              <td>{{compteDepense.journal}}</td>

              <td [style]="{width:'100px'}">
                <button (click)="editCompteDepense(compteDepense)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteCompteDepense(compteDepense)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a </span>{{compteDepenses ? compteDepenses.length : 0 }}<span
              i18n> compteDepenses.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>
  </nb-card-body>
  <p-dialog [(visible)]="compteDepenseDialog" [modal]="true" [style]="{width: '450px'}" header="Details compteDepense"
            i18n-header
            styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="field">
        <label class="pb-3 pt-2 required" for="libelle" i18n>Libelle</label>
        <input [(ngModel)]="compteDepense.libelle" autofocus id="libelle" pInputText required type="text"/>
        <small *ngIf="submitted && !compteDepense.libelle" class="p-error" i18n>libelle is required.</small>
      </div>

      <div class="field">
        <label class="pb-3 pt-2 required" for="compteCaisseG" i18n>Compte CaisseG</label>
        <input [(ngModel)]="compteDepense.compteCaisseG" autofocus id="compteCaisseG" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !compteDepense.compteCaisseG" class="p-error" i18n>compteCaisseG is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2" for="Etablissement" i18n>Etablissement</label>
        <p-dropdown [(ngModel)]="compteDepense.etablissement" [filter]="true" [options]="this.etablissements"
                    appendTo="body"
                    i18n-placeholder id="Etablissement" optionLabel="etLibelle"
                    placeholder="Etablissements"></p-dropdown>

        <small *ngIf="submitted && !compteDepense.etablissementId" class="p-error"><span i18n>Etablissement est obligatoire.</span></small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="solde" i18n>Solde</label>
        <input [(ngModel)]="compteDepense.solde" autofocus id="solde" ngModel pInputText
               required type="number"/>
        <small *ngIf="submitted && !compteDepense.solde" class="p-error" i18n>solde is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="montantLimite" i18n>Montant Limite</label>
        <input [(ngModel)]="compteDepense.montantLimite" autofocus id="montantLimite" ngModel pInputText
               required type="number"/>
        <small *ngIf="submitted && !compteDepense.montantLimite" class="p-error" i18n>montantLimite is required.</small>
      </div>

      <div class="field">
        <label class="pb-3 pt-2 required" for="journal" i18n>Journal</label>
        <input [(ngModel)]="compteDepense.journal" autofocus id="journal" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !compteDepense.journal" class="p-error" i18n>journal is required.</small>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">

      <button (click)="hideDialog()" class="p-button-danger" i18n-label icon="pi pi-times" label="Annuler" pButton
              pRipple></button>
      <button (click)="saveCompteDepense()"
              [disabled]="!(compteDepense.libelle)"
              class="p-button-success" i18n-label icon="pi pi-check" label="Enregistrer" pButton pRipple></button>
    </ng-template>
    <!--    <ng-template pTemplate="content">-->
    <!--      <div class="field">-->
    <!--        <label for="code" i18n>Code compteDepense</label>-->
    <!--        <input [(ngModel)]="compteDepense.code" autofocus id="code" pInputText required type="text"/>-->
    <!--        <small *ngIf="submitted && !compteDepense.code" class="p-error" i18n>Code is required.</small>-->
    <!--      </div>-->
    <!--    </ng-template>-->

    <!--    <ng-template pTemplate="footer">-->
    <!--      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Annuler" i18n-label pButton pRipple></button>-->
    <!--      <button (click)="saveCompteDepense()" class="p-button-text" icon="pi pi-check" label="Enregistrer" i18n-label pButton pRipple></button>-->
    <!--    </ng-template>-->
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
