<nb-card>

  <nb-card-header><span i18n>Synchroniser les Journées</span>
    <br><p class="pt-3"
              style="font-size: small"><span i18n>Dérniére synchronisation: </span>{{lastDateSync | date:'EEEE dd MMMM yyyy' }}</p>
  </nb-card-header>


  <nb-card-body>


    <div class="container" style="position: relative;">
      <ngx-loader [show]="show" [fullScreen]="true"><span i18n>Chargement en cours des jours caisses...</span> </ngx-loader>
    </div>

    <div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <form [formGroup]="dateForm">
            <div class="p-formgroup-inline">
              <div class="p-field">
                <label class="control-label" for="dateDebut" i18n>Date Début Ouverture</label>
                <kendo-datepicker
                  id="dateDebut"
                  formControlName="dateFermeFrom"
                  format="dd-MM-yyyy"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <label for="datefin" i18n>Date Fin Ouverture</label>
                <kendo-datepicker
                  id="datefin"
                  format="dd-MM-yyyy"
                  formControlName="dateFermeTo"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <br>
                <p-button (onClick)="copierDataBase()" class="p-mr-2" icon="pi pi-spinner" id="syncData"
                          i18n-label label="Synchroniser"></p-button>
              </div>
            </div>
            <div class="p-field">
              <label class="control-label" for="etab" i18n>Etablissements</label>
              <p-multiSelect [maxSelectedLabels]="3" [options]="etablissements"
                             [selectedItemsLabel]="'{0} etablissements selectioné'"
                             appendTo="body"
                             formControlName="etablissements"
                             i18n-placeholder id="etab" optionLabel="etLibelle"
                             optionValue="etEtablissement" placeholder="select etablissments...">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{option.etLibelle}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
          </form>


        </ng-template>

        <ng-template pTemplate="right">


          <button (click)="exportExcel()" [disabled]="joursCaisses.length==0" class="p-button-success p-mr-2"
                  icon="pi pi-file-excel" label="Excel" pButton i18n-label
                  pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>
          <button (click)="exportPdf()" [disabled]="joursCaisses.length==0" class="p-button-warning mr-2"
                  icon="pi pi-file-pdf" label="PDF" pButton pRipple i18n-label
                  pTooltip="PDF" tooltipPosition="bottom" type="button"></button>

        </ng-template>
      </p-toolbar>

      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt (onFilter)="handleFilter($event,dt.filters)"
                   [globalFilterFields]="['gjcCaisse','gjcEtablissement.etLibelle','montantCaisse']"
                   [loading]="loading" [paginator]="true"
                   [rowHover]="true" [rows]="10" paginatorDropdownAppendTo="body"
                   [showCurrentPageReport]="true"
                   [rowsPerPageOptions]="[10,25,50,100]" [value]="joursCaisses"
                   dataKey="id"
                   id="table" rowExpandMode="single"
                   styleClass="dark-panel">

            <ng-template pTemplate="header">
              <tr class="some-custom-class-name">
                <th style="width: 3rem"></th>

                <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">

                    {{col.displayName}}

                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle'" [field]="col.key"
                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="col.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-columnFilter *ngIf="col.key=='gjcEtablissement.etLibelle'" [showAddButton]="false"
                                    field="gjcEtablissement"
                                    [showMatchModes]="false" [showOperator]="false" [type]="col.type"
                                    display="menu" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{col.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"
                                       [maxSelectedLabels]="3"
                                       [selectedItemsLabel]="'{0} etablissements selectioné'" i18n-placeholder
                                       optionLabel="etLibelle" placeholder="Any">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                              <span class="ml-1">{{option.etLibelle}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>


                    <p-sortIcon *ngIf="col.key!='gjcEtablissement.etLibelle'" [field]="col.key"></p-sortIcon>
                  </div>

                </th>
              </tr>

            </ng-template>
            <ng-template let-expanded="expanded" let-jourCaisse pTemplate="body">
              <tr>
                <td>
                  <button (click)="getPiedeches(jourCaisse)"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          [pRowToggler]="jourCaisse" class="p-button-text p-button-rounded p-button-plain" pButton pRipple
                          type="button"></button>
                </td>
                <td>{{jourCaisse.gjcEtablissement.etLibelle}}</td>
                <td>{{jourCaisse.gjcCaisse}}</td>
                <td>{{jourCaisse.gjcNumzcaisse}}</td>
                <td>{{jourCaisse.gjcDateouv | date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcHeureouv}}</td>
                <td>{{jourCaisse.gjcDateferme| date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcHeureferme}}</td>
                <td>{{jourCaisse.dateCreate | date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcUserferme}}</td>
                <td><strong>{{jourCaisse.montantCaisse|separateurPipe }}</strong></td>
              </tr>
            </ng-template>
            <ng-template let-jourCaisse pTemplate="rowexpansion">
              <tr style="background-color: rgba(52,37,50,0.21)">
                <td colspan="1"></td>
                <td colspan="12">
                  <div class="p-p-3">
                    <p-table [value]="piedeche" dataKey="id">
                      <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="gpeModepaie"><span i18n>Mode Paiement</span>
                  <p-sortIcon field="gpeModepaie"></p-sortIcon>
                </th>
                <th pSortableColumn="montant"><span i18n>Montant</span>
                  <p-sortIcon field="montant"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template let-order pTemplate="body">
              <tr [ngClass]="{'high': order.montant < 0,'supp':order.montant >0}"
                  class="montant-row">
                <td>{{order.gpeModepaie}}</td>
                <td>{{order.montant|separateurPipe }} </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6"><span i18n>Il n'y a pas encore des enveloppes.</span></td>

              </tr>
            </ng-template>
            <!--<ng-template pTemplate="footer" style='border-top: 1px solid black;'>
              <tr>
                <td style="width: 3rem"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>

                &lt;!&ndash;
                            <td class="p-text-center" colspan="2">Montant Total</td>
                            <td class="text-left p-text-bold">{{montantTot |separateurPipe }}</td>
                &ndash;&gt;


              </tr>
            </ng-template>-->
          </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5"></td>
            <td colspan="6"><span i18n>Il n'y a pas encore des enveloppes.</span></td>

          </tr>
        </ng-template>
        </p-table>
        </div>


      </p-toolbar>



    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

  </nb-card-body>

</nb-card>

