<nb-card class="example-card">
  <nb-card-header>

    <span i18n>Détails des billets</span>
  </nb-card-header>
  <nb-card-body>

    <div>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <p-toggleButton
            [(ngModel)]="checked"
            offLabel="Afficher filter"
            onLabel="Cacher filter"
          ></p-toggleButton>

        </div>

        <div class="p-toolbar-group-right">

          <button
            (click)="exportExcel()"
            class="p-button-success p-mr-2"
            i18n-label
            icon="pi pi-file-excel"
            label="Excel"
            pButton
            pRipple
            pTooltip="XLS"
            tooltipPosition="bottom"
            type="button"
            [disabled]="reports.length==0"
          ></button>
        </div>
      </p-toolbar>
      <p-toolbar *ngIf="checked" styleClass="mb-4">
        <div class="p-toolbar-group-left">

          <form [formGroup]="dateForm">
            <div class="p-form group-inline">
              <div class="row">
                <div class="col-md-6">
                  <div class="p-field">
                    <label class="control-label" for="dateOuverture" i18n>Début Date Ouverture</label>
                    <kendo-datepicker
                      id="dateOuverture"
                      formControlName="startDate"
                      format="dd-MM-yyyy"
                    ></kendo-datepicker>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-field">
                    <label class="control-label" for="dateOuvertureTo" i18n>Fin Date Ouverture</label>
                    <kendo-datepicker
                      id="dateOuvertureTo"
                      formControlName="endDate"
                      format="dd-MM-yyyy"
                    ></kendo-datepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="p-field">
                    <label for="etablissementId" i18n>Etablissement</label>
                    <span style="width: 100%">
                  <p-multiSelect [style]="{'minWidth':'100%', 'maxWidth':'100%'}"
                                 [options]="this.etablissements"
                                 appendTo="body"
                                 defaultLabel="Liste des établissements"
                                 placeholder="select établissements"
                                 i18n-defaultLabel
                                 i18n-placeholder
                                 [maxSelectedLabels]="3"
                                 [selectedItemsLabel]="'{0} établissements selectioné'"
                                 [virtualScroll]="true"
                                 id="etablissementId"
                                 optionLabel="etLibelle"
                                 optionValue="etEtablissement"
                                 formControlName="etablissmentIds"
                                 (onChange)="onChangeEtablissement($event)"
                  >
        </p-multiSelect>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-field">
                    <label for="parcaisse" i18n>Parcaisses</label>
                    <span style="width: 100%">
                    <p-multiSelect
                                   [style]="{'minWidth':'100%', 'maxWidth':'100%'}"
                                   [filter]="true"
                                   [options]="parcaisses"
                                   appendTo="body"
                                   formControlName="caisseIds"
                                   id="parcaisse"
                                   optionLabel="gpkLibelle"
                                   optionValue="gpkCaisse"
                                   placeholder="select parcaisse"
                                   defaultLabel="Liste des parcaisses"
                                   i18n-placeholder
                                   i18n-defaultLabel
                                   [maxSelectedLabels]="3"
                                   [selectedItemsLabel]="'{0} parcaisses selectioné'"
                                   [virtualScroll]="true"
                    ></p-multiSelect>
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </form>


        </div>
        <div class="p-toolbar-group-left">
          <button
            (click)="rechercheEnveloppe()"
            class="p-button-primary p-mr-2"
            i18n-label
            icon="pi pi-spinner"
            label="Recherche"
            pButton
            pRipple
            pTooltip="Recherche"
            tooltipPosition="bottom"
            type="button"
          ></button>
        </div>

      </p-toolbar>
      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt [loading]="loading"
                   [paginator]="true" [rowHover]="true" paginatorDropdownAppendTo="body"
                   [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" [showCurrentPageReport]="true" [value]="reports"
                   dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    {{col.displayName}}

                  </div>

                </th>

              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-report>
              <tr>
                <td>{{report.quantiteTotal}}</td>
                <td>{{report.note}}</td>
                <td>{{report.montantTotal|separateurPipe}}</td>



              </tr>
            </ng-template>
            <ng-template pTemplate="footer" style='color:white;border-top: 1px solid black;'>
              <tr>
                <td>Total</td>
                <td></td>
                <td>{{total|separateurPipe}}</td>



              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft" let-state>
              <span i18n >Nombre total de lignes </span> {{getTotal(state)}}
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="12" i18n>Il n'y a pas encore des données.</td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </p-toolbar>

    </div>


  </nb-card-body>

</nb-card>



