.p-datatable>.p-datatable-wrapper {
  overflow: auto;
}

.customer-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  float: right;

  &.status-VAL {
    background: #C8E6C9;
    color: #256029;
  }

  &.status-ECR {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-negotiation {
    background: #FEEDAF;
    color: #8A5340;
  }

  &.status-RCP {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-renewal {
    background: #ECCFFF;
    color: #694382;
  }

  &.status-EAT {
    background: #FFD8B2;
    color: #805B36;
  }
}

