<nb-card>
  <nb-card-header i18n>
    Paramètrage
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Article" i18n-tabTitle>
        <app-article></app-article>
      </nb-tab>
      <nb-tab tabTitle="Fournisseur" i18n-tabTitle>
        <app-fournisseur></app-fournisseur>
      </nb-tab>
      <nb-tab i18n-tabTitle tabTitle="Compte Depense">
        <app-compte-depense></app-compte-depense>
      </nb-tab>
      <nb-tab i18n-tabTitle tabTitle="Mail Déstinataire">
        <app-mail-destinataire></app-mail-destinataire>
      </nb-tab>

    </nb-tabset>
  </nb-card-body>
</nb-card>
