p {
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
  .example-card {
    margin: 15px;
  }
    
  mat-card-subtitle {
    font-size: 18px;
  }
    
  mat-card-title {
    color: rgb(0, 0, 0);
    font-size: 60px;
    display: flex;
  }