<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
    Article
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="Nouveau" i18n-label pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>

    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectArticle" [globalFilterFields]="['code']" [paginator]="true" [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                 [showCurrentPageReport]="true" [value]="articles"
                 dataKey="id"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..." i18n-placeholder
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>

              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">

                  {{col.displayName}}

                  <p-columnFilter *ngIf="col.type==='text'" [field]="col.key"
                                  [matchModeOptions]="matchModeOptions"
                                  [matchMode]="'equals'" [showOperator]="false"
                                  [type]="col.type" display="menu"
                  >
                  </p-columnFilter>
                  <p-columnFilter *ngIf="col.type==='boolean'" [field]="col.key"

                                  display="menu" type="boolean"
                  >
                  </p-columnFilter>


                  <p-sortIcon *ngIf="col.type!=='boolean'"
                              [field]="col.key"></p-sortIcon>
                </div>

              </th>
              <th>Action</th>
            </tr>

          </ng-template>
          <!--      <ng-template pTemplate="header">-->
          <!--        <tr>-->
          <!--          <th style="width: 3rem"></th>-->

          <!--          <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">-->
          <!--            <div class="p-d-flex p-jc-between p-ai-center">-->

          <!--              {{col.displayName}}-->

          <!--              <p-columnFilter  [field]="col.key"-->
          <!--                              [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptions"-->
          <!--                              [matchMode]="'equals'" [showOperator]="false"-->
          <!--                              [type]="col.type" display="menu"-->
          <!--              >-->
          <!--              </p-columnFilter>-->


          <!--              <p-sortIcon-->
          <!--                          [field]="col.key"></p-sortIcon>-->
          <!--            </div>-->

          <!--          </th>-->
          <!--                      <th>Action</th>-->
          <!--        </tr>-->

          <!--      </ng-template>-->

          <!--      <ng-template pTemplate="header">-->
          <!--        <tr>-->
          <!--          <th style="width: 3rem">-->
          <!--            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
          <!--          </th>-->
          <!--          <th pSortableColumn="code" ><span i18n>Code article</span>-->
          <!--            <p-sortIcon field="code"></p-sortIcon>-->
          <!--          </th>-->

          <!--          <th></th>-->
          <!--        </tr>-->
          <!--      </ng-template>-->
          <ng-template let-article pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="article"></p-tableCheckbox>
              </td>
              <td>{{article.code}}</td>
              <td>{{article.designation}}</td>
              <td>{{article.prixHt}}</td>
              <td>{{article.compteC}}</td>
              <td>{{article.tauxTva}}</td>
              <td>{{article.compteTva}}</td>
              <td>{{article.typeTva}}</td>
              <td>{{article.controleSolde}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editArticle(article)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteArticle(article)" class="p-button-rounded p-button-warning" icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a </span>{{articles ? articles.length : 0 }}<span i18n> articles.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-toolbar>

  </nb-card-body>
  <p-dialog [(visible)]="articleDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details article"
            styleClass="p-fluid">
    <!--    <ng-template pTemplate="content">-->
    <!--      <div class="field">-->
    <!--        <label for="code" i18n>Code article</label>-->
    <!--        <input [(ngModel)]="article.code" autofocus id="code" pInputText required type="text"/>-->
    <!--        <small *ngIf="submitted && !article.code" class="p-error" i18n>Code is required.</small>-->
    <!--      </div>-->
    <!--    </ng-template>-->


    <ng-template pTemplate="content">
      <div class="field">
        <label class="pb-3 required" for="code" i18n>Code article</label>
        <input [(ngModel)]="article.code" autofocus id="code" pInputText required type="text"/>
        <small *ngIf="submitted && !article.code" class="p-error" i18n>Code article is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="designation" i18n>Designation</label>
        <input [(ngModel)]="article.designation" autofocus id="designation" pInputText required type="text"/>
        <small *ngIf="submitted && !article.designation" class="p-error" i18n>designation is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="prixHt" i18n>PrixHt</label>
        <input [(ngModel)]="article.prixHt" autofocus id="prixHt" pInputText required type="number"/>
        <small *ngIf="submitted && !article.prixHt" class="p-error" i18n>prixHt is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="email" i18n>Compte Comptable</label>
        <input [(ngModel)]="article.compteC" autofocus id="email" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !article.compteC" class="p-error" i18n>compteC is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="tauxTva" i18n>Taux TVA</label>
        <input [(ngModel)]="article.tauxTva" autofocus id="tauxTva" ngModel pInputText
               required type="number"/>
        <small *ngIf="submitted && !article.tauxTva" class="p-error" i18n>tauxTva is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="compteTva" i18n>Compte TVA</label>
        <input [(ngModel)]="article.compteTva" autofocus id="compteTva" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !article.compteTva" class="p-error" i18n>compteTva is required.</small>
      </div>
      <div class="field">
        <label class="pb-3 pt-2 required" for="typeTva" i18n>Type TVA</label>
        <input [(ngModel)]="article.typeTva" autofocus id="typeTva" ngModel pInputText
               required type="number"/>
        <small *ngIf="submitted && !article.typeTva" class="p-error" i18n>typeTva is required.</small>
      </div>

      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="article.controleSolde" [binary]="true" class="pb-3 pt-2 " id="binary"
                    inputId="binary"></p-checkbox>
        <span class="pl-2 status" for="binary" i18n>Controle Solde</span>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">

      <button (click)="hideDialog()" class="p-button-danger" i18n-label icon="pi pi-times" label="Annuler" pButton
              pRipple></button>
      <button (click)="saveArticle()"
              [disabled]="!(article.code&&article.prixHt)"
              class="p-button-success" i18n-label icon="pi pi-check" label="Enregistrer" pButton pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
