<br>
<br>
<div class="container-fluid">
    <div class="row info-cards">

      <nb-card class="col">
        <nb-card-body>
          <div class="d-flex flex-column">
            <div>
              <span class="text-info font-weight-bolder" i18n> Référence :</span>
              <span class="font-weight-bolder">{{ gjcNumzcaisse?.value}}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Caisse :</span>
              <span class="font-weight-bolder">{{ gjcCaisse?.value }}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Boutique :</span>
              <span class="font-weight-bolder">{{ gjcEtablissementlabel?.value }}</span>
            </div>


          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="col">
        <nb-card-body>
          <div class="d-flex flex-column">
            <div>
              <span class="text-info font-weight-bolder" i18n> Date réception : </span>
              <span class="font-weight-bolder">{{receptionDate?.value| date : 'dd-MM-yyyy hh:mm'}}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Date Début Comptage :</span>
              <span *ngIf="!loading&&dateV?.getFullYear()!==1970"
                    class="font-weight-bolder">{{ dateV| date : 'dd-MM-yyyy hh:mm'}}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Date fin Comptage :</span>
              <span class="font-weight-bolder">{{ validationDateFin?.value| date : 'dd-MM-yyyy hh:mm' }}</span>
            </div>


          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="col">
        <nb-card-body>
          <div class="d-flex flex-column">
            <div>
              <span class="text-info font-weight-bolder" i18n> Agent :</span>
              <span class="font-weight-bolder">{{ agentComptage?.value}}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Caissier :</span>
              <span class="font-weight-bolder">{{ gjcUserferme?.value }}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Status :</span>
              <span
                [class]="'font-weight-bolder customer-badge status-'+statusComptageObj">{{ statusComtageLibelle?.value }}</span>
            </div>


          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="col">
        <nb-card-body>
          <div class="d-flex flex-column">
            <div>
              <span class="text-info font-weight-bolder" i18n> Emetteur d'enveloppe :</span>
              <span class="font-weight-bolder">{{emetteurlibelle?.value }}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Chauffeur :</span>
              <span class="font-weight-bolder">{{ chauffeurlibelle?.value }}</span>
            </div>
            <div>
              <span class="text-info font-weight-bolder" i18n> Montant Totale :</span>
              <span
                class="font-weight-bolder">{{ montantCaisse?.value|separateurPipe   }}</span>
            </div>


          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>





  <nb-card>

    <nb-card-body>
        <form (ngSubmit)="sumbitJourCaisse()" *ngIf="comptageForm" [formGroup]="comptageForm">
          <div class="form">
            <div class="form-group row">
              <label class="col-1" for="commentaire" i18n>Description</label>
              <div class="col-9">
                <textarea class="form-control" formControlName="commentaire" id="commentaire" rows="2"></textarea>
              </div>
              <div class="col-2">
                <button *ngIf="!compter" class="btn btn-primary mb-3" nbButton type="submit"><span i18n>Enregistrer</span></button>
              </div>
            </div>
          </div>


        </form>



    </nb-card-body>
  </nb-card>


    <nb-card>
      <nb-card-header><span i18n>Détails enveloppe</span></nb-card-header>
      <nb-card-body>
        <!--        <form (ngSubmit)="onSubmit()" [formGroup]="piedecheForm">-->
        <!--    <form [formGroup]="piedecheForm">-->


        <button *ngIf="!compter" [label]="'Ajouter'" i18n-label [newRow]="newRow()" [table]="dtpiedeche"
                class=" col-1 ui-button-info p-mr-2"
                icon="pi pi-plus"
                (click)="isSource=false"
                pAddRow pButton type="button"></button>
        <div style="width: 100%; overflow-x: scroll;">
          <p-table #dtpiedeche [resizableColumns]="true" [responsive]="true"
                   [rowTrackBy]="trackByFn"
                   [scrollable]="true" [value]="piedeches"
                   dataKey="id" editMode="row"
                   styleClass="p-datatable-gridlines">

            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Mode</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Montant</span></th>
                <th style="flex: 0 0 30.599998474121094px !important"></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Montant Compté</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Montant Versé</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Montant Espéce</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Dépense</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Montant Total</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Ecart constaté</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Motif d’écart</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Statut Ligne</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Commentaire</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>User</span></th>
                <th pResizableColumn style="font-size:0.8rem;"><span i18n>Date Validation</span></th>
                <th style="width:8rem"></th>
              </tr>
            </ng-template>
            <!--            let-editing="editing"-->
            <ng-template let-editing="editing" let-piedeche let-ri="rowIndex" pTemplate="body">
              <tr #table [pEditableRow]="piedeche">
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input" style="width:2rem">
                      <p-dropdown [(ngModel)]="piedeche.modepaie" [editable]="true" [filter]="true"
                                  [ngModelOptions]="{standalone: true}"
                                  [options]="mps"
                                  appendTo="body" name="modepaie" optionLabel="libelleAppFinance"

                      ></p-dropdown>

                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.gpeModepaie}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>

                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="piedeche.montant" [ngModelOptions]="{standalone: true}"
                                     [minFractionDigits]="digitsAfterDecimal"
                                     [readonly]="isSource" appThreeDigitDecimaNumber
                                     [size]=10 name="montant"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.montant|separateurPipe  }}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td style="flex: 0 0 30.599998474121094px !important">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <img (click)="openCalculate($event, piedeche, ri,'montantCompte', this.AllCalculetteByPiedechIdGet)"
                           height="20"
                           src="assets/images/calculator-icon.png" width="20">
                    </ng-template>
                  </p-cellEditor>
                </td>


                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input (ngModelChange)="onchangeMontantTotal($event,piedeche,ri,'montantCompte')"
                             [(ngModel)]="piedeche.montantCompte" [ngModelOptions]="{standalone: true}"
                             [disabled]="showMontant"
                             name="montantCompte"
                             nbInput
                             appThreeDigitDecimaNumber type="text"/>

                      <!--                    <div *ngIf="submitted && f.montantCompte.errors" class="invalid-feedback">-->
                      <!--&lt;!&ndash;                      <div *ngIf="f.montantCompte.errors['required']">Title is required</div>&ndash;&gt;-->
                      <!--                    </div>-->
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.montantCompte|separateurPipe}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input (ngModelChange)="onchangeMontantTotal($event,piedeche,ri,'especeVerse')"
                             [(ngModel)]="piedeche.especeVerse" [ngModelOptions]="{standalone:true}"
                             name="especeVerse"
                             appThreeDigitDecimaNumber
                             nbInput
                             type="text"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.especeVerse|separateurPipe }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input (ngModelChange)="onchangeMontantTotal($event,piedeche,ri,'especeCash')"
                             [(ngModel)]="piedeche.especeCash" [ngModelOptions]="{standalone:true}"
                             name="especeCash"
                             appThreeDigitDecimaNumber
                             nbInput type="text"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.especeCash|separateurPipe }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input (ngModelChange)="onchangeMontantTotal($event,piedeche,ri,'depence')" *ngIf="!isDepense(ri)"
                             [(ngModel)]="piedeche.depence" [ngModelOptions]="{standalone:true}"
                             appThreeDigitDecimaNumber
                             name="depence" nbInput
                             type="text"
                      />
                      <input (ngModelChange)="onchangeMontantTotal($event,piedeche,ri,'depence')" *ngIf="isDepense(ri)"
                             style="    width: 60px;"
                             [(ngModel)]="piedeche.depence" [ngModelOptions]="{standalone:true}"
                             name="depence"
                             appThreeDigitDecimaNumber nbInput
                             type="text"
                      />
                      <!--                      {{depenseMontant |separateurPipe }}-->
                      <button (click)="openDepense(piedeche)" class="p-button-rounded p-button-primary"
                              icon="pi pi-list" pButton
                              pRipple></button>
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf="isDepense(ri)" >
                      {{depenseMontant|separateurPipe }}
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf="!isDepense(ri)" >
                      {{piedeche.depence|separateurPipe }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input [(ngModel)]="piedeche.montantTotal" [ngModelOptions]="{standalone:true}" [readonly]="true"
                             name="montantTotal"
                             nbInput

                             type="number"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.montantTotal|separateurPipe }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input [(ngModel)]="piedeche.ecart" [ngModelOptions]="{standalone:true}" [readonly]="true"
                             name="ecart"
                             nbInput
                             type="number"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.ecart|separateurPipe }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown [(ngModel)]="piedeche.motif" [editable]="true" [filter]="true"
                                  [ngModelOptions]="{standalone:true}"
                                  [options]="motifs" appendTo="body" optionLabel="libelle"

                      ></p-dropdown>
                      <ng-container *ngIf="( id==piedeche.id && piedeche.ecart!=0  && (motif?.invalid))  ">
                        <p *ngIf="motif?.errors" class="caption status-danger">
                          Motif obligatoire ! {{piedeche.montantCompte|separateurPipe}}
                        </p>
                      </ng-container>
                      <!--                  <input [(ngModel)]="piedeche.motifId" pInputText type="text">-->
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.motif?.libelle}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <!--                  -->
                      <p-dropdown [(ngModel)]="piedeche.status" [editable]="true" [ngModelOptions]="{standalone:true}"
                                  [options]="statuss"
                                  appendTo="body" dataKey="id" name="status"
                                  [optionLabel]=" this.currentLanguage ==='fr'? 'statuslibelle' : 'statuslibelleen'"
                      ></p-dropdown>
                      <!--                <input pInputText type="text" formControlName="statusId">-->
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf=" this.currentLanguage ==='fr'">
                      {{piedeche?.status?.statuslibelle}}
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf=" this.currentLanguage ==='en'">
                      {{piedeche?.status?.statuslibelleen}}
                    </ng-template>
                    <ng-template pTemplate="output" *ngIf=" !this.currentLanguage">
                      {{piedeche?.status?.statuslibelle}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input [(ngModel)]="piedeche.commentaire" [ngModelOptions]="{standalone:true}" name="commentaire"
                             pInputText type="text">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.commentaire}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      {{piedeche.agentComptage}}

                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.agentComptage}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      {{piedeche?.datevalidation| date: 'dd-MM-YYYY'}}

                    </ng-template>
                    <ng-template pTemplate="output">
                      {{piedeche?.datevalidation| date: 'dd-MM-YYYY'}}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <!--                <td *ngIf="!compter && piedeche?.statusComptage==4 || currentUser!=='ADM'" style="text-align:center">sss</td>-->
                <td *ngIf="!compter " style="text-align:center">

                  <button (click)="onRowEditInit(editing,piedeche,ri)" *ngIf="!editing"
                          [disabled]="!(piedeche?.statusComptage!=4 && currentUser!='ADM')"
                          class="p-button-rounded p-button-text"
                          icon="pi pi-pencil" pButton pInitEditableRow pRipple type="button"></button>
                  <!--                <button type="submit" pButton pRipple *ngIf="editing"-->
                  <!--                        class="p-button-rounded p-button-text" icon="pi pi-trash"></button>-->
                  <!--                &lt;!&ndash;              (click)="onRowRemove(piedeche,ri)"&ndash;&gt;-->
                  <button (click)="onRowEditSave(piedeche,ri,editing)" *ngIf="editing"
                          [disabled]="!(piedeche?.statusComptage!=4 && currentUser!='ADM')"
                          class="p-button-rounded p-button-text p-button-success mr-2" icon="pi pi-check" pButton
                          pRipple
                          type="submit"></button>
                  <button (click)="onRowEditCancel(piedeche, ri)" *ngIf="editing"
                          [disabled]="!(piedeche?.statusComptage!=4 && currentUser!='ADM')"
                          class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" pButton
                          pCancelEditableRow pRipple type="button"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
              <tr>
                <td class="text-right">Totals</td>
                <td class="text-right">{{gettotMontant() }}</td>
                <td style="flex: 0 0 30.599998474121094px !important"></td>
                <td class="text-right">{{gettotMontantCompter() }}</td>
                <td class="text-right">{{gettotMontantVerse()|separateurPipe  }}</td>
                <td class="text-right">{{gettotMontantEspece()|separateurPipe  }}</td>
                <td class="text-right">{{gettotMontantDepence()|separateurPipe  }}</td>
                <td class="text-right">{{gettotMontantTotal() |separateurPipe }}</td>
                <td class="text-right">{{gettotMontantEcart()|separateurPipe  }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>

        </div>

        <!--        </form>-->
      </nb-card-body>
    </nb-card>
