<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
    Mail Déstinataire
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" i18n-label icon="pi pi-plus" label="Nouveau" pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>
    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectMailDestinataire" [globalFilterFields]="['libelle']" [paginator]="true"
                 [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" [showCurrentPageReport]="true"
                 [value]="mailDestinataires" dataKey="id"
                 paginatorDropdownAppendTo="body"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" i18n-placeholder
                           pInputText placeholder="Recherche..."
                           type="text"/>
                </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>

              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">

                  {{col.displayName}}

                  <p-columnFilter *ngIf="col.type==='text'" [field]="col.key"
                                  [matchModeOptions]="matchModeOptions"
                                  [matchMode]="'equals'" [showOperator]="false"
                                  [type]="col.type" display="menu"
                  >
                  </p-columnFilter>
                  <p-columnFilter *ngIf="col.type==='boolean'" [field]="col.key"

                                  display="menu" type="boolean"
                  >
                  </p-columnFilter>


                  <p-sortIcon *ngIf="col.type!=='boolean'"
                              [field]="col.key"></p-sortIcon>
                </div>

              </th>
              <th>Action</th>
            </tr>

          </ng-template>

          <ng-template let-mailDestinataire pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="mailDestinataire"></p-tableCheckbox>
              </td>
              <td>{{mailDestinataire.libelle}}</td>
              <td>{{mailDestinataire.adresseMail}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editMailDestinataire(mailDestinataire)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteMailDestinataire(mailDestinataire)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a </span>{{mailDestinataires ? mailDestinataires.length : 0 }}<span i18n> mailDestinataires.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>
  </nb-card-body>
  <p-dialog [(visible)]="mailDestinataireDialog" [modal]="true" [style]="{width: '450px'}"
            header="Details mailDestinataire" i18n-header
            styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="field">
        <label class="pb-3 pt-2 required" for="libelle" i18n>Libelle</label>
        <input [(ngModel)]="mailDestinataire.libelle" autofocus id="libelle" pInputText required type="text"/>
        <small *ngIf="submitted && !mailDestinataire.libelle" class="p-error" i18n>libelle is required.</small>
      </div>

      <div class="field">
        <label class="pb-3 pt-2 required" for="adresseMail" i18n>Adresse Mail</label>
        <input [(ngModel)]="mailDestinataire.adresseMail" autofocus id="adresseMail" ngModel pInputText
               required type="text"/>
        <small *ngIf="submitted && !mailDestinataire.adresseMail" class="p-error" i18n>adresseMail is required.</small>
      </div>


    </ng-template>

    <ng-template pTemplate="footer">

      <button (click)="hideDialog()" class="p-button-danger" i18n-label icon="pi pi-times" label="Annuler" pButton
              pRipple></button>
      <button (click)="saveMailDestinataire()"
              [disabled]="!(mailDestinataire.libelle&&mailDestinataire.adresseMail)"
              class="p-button-success" i18n-label icon="pi pi-check" label="Enregistrer" pButton pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
