


<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" class="sidebar-toggle" href="#">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a (click)="navigateHome()" class="logo" href="#" style="    background-color: white;
    border-radius: 30px;"><img src="assets/images/Logo_MyCash.png" width="90"></a>




  </div>

</div>

<div class="header-container">

  <nb-actions size="small">




    <nb-action class="control-item" ><a href="/en"><img src="assets/en.svg" width="30px" (click)="saveCurrentLangue('en')"></a></nb-action>
    <nb-action class="control-item" ><a href="/fr"><img src="assets/fr.svg" width="30px" (click)="saveCurrentLangue('fr')"></a></nb-action>

    <nb-action class="user-action">
      <nb-user [name]="currentUser"
               [nbContextMenu]="userMenu"
               [onlyPicture]="false"
               [picture]="'assets/images/avatars/profile.jpg'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
