<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
     Coffres
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew(coffreDialog)" class="p-button-success mr-2" icon="pi pi-plus" label="Nouveau" i18n-label pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>

    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectCoffre" [globalFilterFields]="['libelle']" [paginator]="true" [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                 [showCurrentPageReport]="true" [value]="coffres"
                 dataKey="id"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..." i18n-placeholder
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="libelle" i18n>Coffre
                <p-sortIcon field="libelle"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-coffre pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="coffre"></p-tableCheckbox>
              </td>
              <td>{{coffre.libelle}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editCoffre(coffre,coffreDialog)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                ></button>
                <button (click)="deleteCoffre(coffre)" class="p-button-rounded p-button-warning" icon="pi pi-trash"
                        pButton
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a  </span>{{coffres ? coffres.length : 0 }}<span i18n> Coffres.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-toolbar>

  </nb-card-body>
  <ng-template #coffreDialog let-data let-ref="dialogRef">

    <nb-card style="width:50rem">
      <nb-card-header>
        <h5><span i18n>Create Coffre</span></h5>
      </nb-card-header>
      <nb-card-body>

        <form (ngSubmit)="createCoffre(ref);" *ngIf="coffreForm" [formGroup]="coffreForm" autocomplete="nope"
              class="form-horizontal" ngNativeValidate>
          <nb-card class="col-12">
              <div class="form-group">
                <label class="label" for="code" i18n>Code</label>
                <input
                  [attr.aria-invalid]="code?.invalid && code?.touched ? true : null"
                  [status]="code?.invalid ? (code?.errors&&code?.touched  ? 'danger' : 'basic') : 'success'"
                  formControlName="code"
                  fullWidth

                  id="code"

                  nbInput>
                <ng-container *ngIf="code?.invalid && code?.touched">
                  <p *ngIf="code?.errors" class="caption status-danger" i18n>
                    Code is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-group">
                <label class="label" for="libelle" i18n>Libelle</label>
                <input
                  [attr.aria-invalid]="libelle?.invalid && libelle?.touched ? true : null"
                  [status]="libelle?.invalid ? (libelle?.errors&&code?.touched  ? 'danger' : 'basic') : 'success'"
                  formControlName="libelle"
                  fullWidth
                  id="libelle"

                  nbInput>
                <ng-container *ngIf="libelle?.invalid && libelle?.touched">
                  <p *ngIf="libelle?.errors" class="caption status-danger" i18n>
                    Libelle is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-group">
                <label class="label" for="modePaie" i18n>Mode Paiement</label><br>
                <nb-select [(selected)]="data.modePaie" formControlName="modePaie" fullWidth id="modePaie" multiple
                           shape="semi-round">
                  <nb-option *ngFor="let modePaie of mps" [value]="modePaie.id">
                    {{ modePaie.libelleAppFinance}}</nb-option>
                </nb-select>
              </div>



          </nb-card>

          <div class="d-flex justify-content-center">
            <button [disabled]="!coffreForm.valid"  class="p-button-text" nbButton
                    status="success" type="submit"><span i18n>Enregistrer</span>
            </button>
            <button (click)="ref.close()"  class="p-button-text" icon="pi pi-times" status="danger" nbButton
            ><span i18n>Annuler</span></button>
          </div>
        </form>

      </nb-card-body>
    </nb-card>

  </ng-template>
  <p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <h3><span i18n>Delete Coffre</span></h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <button (click)="cd.reject()" icon="pi pi-times" label="Non" pButton type="button"></button>
      <button (click)="cd.accept()" icon="pi pi-check" label="Oui" pButton type="button"></button>
    </ng-template>
  </p-confirmDialog>

  <!--  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>-->
</nb-card>
