<nb-card>

  <p-toast></p-toast>

  <nb-card-header>
    <span i18n>Modes de paiement</span>
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [paginator]="true" [rows]="10" [value]="mps" paginatorDropdownAppendTo="body"
                 [globalFilterFields]="['mpModepaie','mpLibelle','libelleAppFinance']"
                 [(selection)]="selectedMps" [rowHover]="true" dataKey="id"
                 [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <div class="p-col-9">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                <!--            <button pButton pRipple label="Synchroniser" icon="pi pi-refresh" class="p-button-success p-mr-2"-->
                <!--                    (click)="synchroniser()"></button > <span *ngIf="this.lastDateSync">Dernière synchronisation:</span> {{this.lastDateSync | date:'medium'	}}-->

                <!--<button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                        class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>-->
              </div>
              <div class="p-col-3">
                      <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal(getValueFilter($event), 'contains')"
                       placeholder="Recherche" i18n-placeholder/>
          </span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th class="p-text-center" pSortableColumn="mpModepaie"><span i18n>Mode Paiement</span>
                <p-sortIcon field="mpModepaie"></p-sortIcon>
                <p-columnFilter type="text" field="mpModepaie" display="menu"></p-columnFilter>
              </th>

              <th pSortableColumn="mpLibelle"><span i18n>Libelle CEGID</span>
                <p-sortIcon field="mpLibelle"></p-sortIcon>
                <p-columnFilter type="text" field="mpLibelle" display="menu"></p-columnFilter>
              </th>
              <th pSortableColumn="libelleAppFinance"><span i18n>Libelle Externe</span>
                <p-sortIcon field="libelleAppFinance"></p-sortIcon>
                <p-columnFilter type="text" field="libelleAppFinance" display="menu"></p-columnFilter>
              </th>
              <th pSortableColumn="DeviseLabel"><span i18n>Devise</span>
                <p-sortIcon field="DeviseLabel"></p-sortIcon>
                <p-columnFilter display="menu" field="DeviseLabel" type="text"></p-columnFilter>
              </th>
              <th pSortableColumn="actif"><span i18n>Actif</span>
                <p-sortIcon field="actif"></p-sortIcon>
                <p-columnFilter field="actif" matchMode="equals" display="menu">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="value" [options]="actifs" (onChange)="filter($event.value)" i18n-placeholder placeholder="Any">
                      <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-mp>
            <tr>
              <td class="p-text-center">{{mp.mpModepaie}}</td>
              <td>{{mp.mpLibelle}}</td>
              <td>{{mp.libelleAppFinance}}</td>
              <td>{{mp.deviseLabel}}</td>
              <td>{{mp.actif ? "Actif" : "Non Actif"}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editMp(mp)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteMp(mp)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
              <span i18n>Au total il y a </span>{{mps ? mps.length : 0 }}<span i18n> modes de paiement.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6"><span i18n>Il n'y a pas encore des modes de paiement.</span></td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>
  </nb-card-body>
  <p-dialog [(visible)]="mpDialog" [style]="{width: '450px'}" i18n-header header="Details mode de paiement" [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="p-field">
        <label for="mpModepaie" i18n>Code de Paiement</label>
        <input type="text" pInputText id="mpModepaie" [(ngModel)]="mp.mpModepaie" disabled autofocus/>
      </div>

      <div class="p-field">
        <label for="mpLibelle" i18n>Libelle CEGID</label>
        <input type="text" pInputText id="mpLibelle" [(ngModel)]="mp.mpLibelle" disabled autofocus/>
      </div>
      <div class="p-field">
        <label for="libelleAppFinance" i18n>Libelle Externe</label>
        <input type="text" pInputText id="libelleAppFinance" [(ngModel)]="mp.libelleAppFinance" autofocus/>
      </div>
      <div class="p-field">
        <label for="deviseId" i18n>Devise</label>
        <p-dropdown [(ngModel)]="mp.deviseId" [filter]="true" [options]="devises" appendTo="body" id="deviseId"
                    optionLabel="label" optionValue="id"></p-dropdown>
      </div>
      <div class="p-field">
        <label class="p-mb-3" i18n>Actif ?</label>
        <div class="p-formgrid p-grid">
          <div class="p-field-radiobutton p-col-3">
            <p-radioButton id="actif1" name="actif" value=1 [(ngModel)]="mp.actif"></p-radioButton>
            <label for="actif1" i18n>Actif</label>
          </div>
          <div class="p-field-radiobutton p-col-6">
            <p-radioButton id="actif2" name="nonactif" value=0 [(ngModel)]="mp.actif"></p-radioButton>
            <label for="actif2" i18n>Non Actif</label>
          </div>
        </div>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="mp.isCash" [binary]="true" class="pb-3 pt-2 " id="binary"
                    inputId="binary"></p-checkbox>
        <span class="pl-2 status" for="binary" i18n>isCash</span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Annuler" i18n-label icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Enregistrer" i18n-label icon="pi pi-check" class="p-button-text" (click)="saveMp()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</nb-card>


