<nb-card>


  <nb-card-body>
    <div style="width: 100%; height: 100%; overflow-x: scroll">
      <p-table
        #dt1
        [loading]="loading"
        (onFilter)="handleFilter($event.filteredValue,dt1.filters)" [paginator]="true"
        [rowHover]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [rows]="10"
        [showCurrentPageReport]="true"
        [value]="(enteteDepense$ | async)!"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        dataKey="id"
        id="table"
        paginatorDropdownAppendTo="body"
        rowExpandMode="single"
        styleClass="dark-panel"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ col.displayName }}

                <p-columnFilter
                  *ngIf="
                    col.key !== 'gjcEtablissement.etLibelle' &&
                    col.key !== 'status.statuslibelle'
                  "
                  [field]="col.key"
                  [matchModeOptions]="
col.type == 'text' ? matchModeOptions :col.type == 'boolean'? []:matchModeOptionsDate                  "
                  [matchMode]="'equals'"
                  [showOperator]="false"
                  [type]="col.type"
                  display="menu"
                >
                </p-columnFilter>

                <p-columnFilter
                  *ngIf="col.key == 'gjcEtablissement.etLibelle'"
                  [showAddButton]="false"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [type]="col.type"
                  display="menu"
                  field="gjcEtablissement"
                  matchMode="in"
                >
                  <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 p-pb-0">
                      <span class="p-text-bold">{{ col.displayName }}</span>
                    </div>
                  </ng-template>
                  <ng-template
                    let-filter="filterCallback"
                    let-value
                    pTemplate="filter"
                  >
                    <p-multiSelect
                      (onChange)="filter($event.value)"
                      [ngModel]="value"
                      [options]="etablissements"
                      [virtualScroll]="true"
                      appendTo="body"
                      display="chip"
                      i18n-placeholder
                      optionLabel="etLibelle"
                      placeholder="select etablissement"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="p-multiselect-label-container">
                          <span class="ml-1">{{ option.etLibelle }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
                <p-columnFilter
                  *ngIf="col.key == 'status.statuslibelle'"
                  [showAddButton]="false"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [type]="col.type"
                  display="menu"
                  field="status"
                  matchMode="in"
                >
                  <ng-template pTemplate="header">
                    <div class="p-px-3 p-pt-3 p-pb-0">
                      <span class="p-text-bold">{{ col.displayName }}</span>
                    </div>
                  </ng-template>
                  <ng-template
                    let-filter="filterCallback"
                    let-value
                    pTemplate="filter"
                  >
                    <p-multiSelect
                      (onChange)="filter($event.value)"
                      [ngModel]="value"
                      [options]="statuses"
                      [virtualScroll]="true"
                      display="chip"
                      i18n-placeholder
                      optionLabel="statuslibelle"
                      placeholder="select status"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="p-multiselect-label-container">
                          <span class="ml-1">{{ option?.statuslibelle }}</span>
                        </div>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>

                <p-sortIcon
                  *ngIf="col.key !== 'gjcEtablissement.etLibelle'"
                  [field]="col.key"
                ></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template let-entete let-expanded="expanded" pTemplate="body">
          <tr (click)="selectEntete(entete)" [pRowToggler]="entete" class="p-selectable-row"
          >
            <td>
              <button
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                class="p-button-text p-button-rounded p-button-plain"
                pButton
                pRipple
                type="button"
              ></button>
            </td>
            <td>
              {{ entete?.etablissement?.etLibelle }}
            </td>
            <td>
              {{ entete?.userCreatedFullName }}
            </td>
            <td>
              {{ entete?.userValidatorFullName }}
            </td>
            <td>
              <span class="image-text">{{
                entete?.typeDepense ? "Fond de dépense " : "Direct"
                }}</span>
            </td>
            <td>
              {{ entete?.dateDepense | date : "dd/MM/yyyy" }}
            </td>
            <td>
              {{ entete?.createDate | date : "dd/MM/yyyy" }}
            </td>
            <td>
              {{ entete?.totalTtc }}
            </td>
            <td>
              <span
                [ngClass]="'status-' + entete?.status?.code"
                class="customer-badge"
              >{{ entete?.status?.statuslibelle }}</span
              >
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" style="border-top: 1px solid black">
          <tr>
            <td style="width: 3rem"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>

            <td class="p-text-center" colspan="2">
              <span i18n>Montant Total</span>
            </td>
            <td class="text-left p-text-bold">
              {{ montantTot  | separateurPipe }}
            </td>
            <td class="text-right"></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7"></td>
            <td colspan="7">
              <span i18n>Il n'y a pas encore des depenses.</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </nb-card-body>
</nb-card>
