<nb-card>
  <nb-card-header i18n>
    Paramètrage
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Coffre" i18n-tabTitle>
        <app-coffre-create></app-coffre-create>
      </nb-tab>
      <nb-tab tabTitle="Banque" i18n-tabTitle>
        <app-banque></app-banque>
      </nb-tab>
      <nb-tab tabTitle="Type Frais" i18n-tabTitle>
        <app-type-frais></app-type-frais>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
