<p-toast></p-toast>

<nb-card>
  <nb-card-header i18n>
    Alimentation

  </nb-card-header>
  <nb-card-body>

    <div>
      <p-toolbar styleClass="mb-4">


        <ng-template pTemplate="right">

          <button (click)="alimenter()" [disabled]="!selectedPiedeche || !selectedPiedeche.length"
                  class="p-mr-2 p-d-inline-block" i18n-label label="Alimenter" pButton pRipple></button>

          <button (click)="alimenterExcep()"
                  class="p-mr-2 p-d-inline-block" i18n-label label="Alimentation exceptionnelle" pButton pRipple></button>


        </ng-template>
      </p-toolbar>
      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)"
                   (selectionChange)="onSelectionChange($event)"
                   [(selection)]="selectedPiedeche" [paginator]="true"
                   [rowHover]="true"
                   [rowsPerPageOptions]="[10,25,50,100]"

                   [rows]="10" paginatorDropdownAppendTo="body"
                   [showCurrentPageReport]="true" [value]="piedeches"
                   dataKey="id"
                   id="table" rowExpandMode="single"
                   styleClass="dark-panel">

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 3rem"></th>
                <th *ngFor="let colone of headerRow" [pSortableColumn]="colone.key">
                  <div class="p-d-flex p-jc-between p-ai-center">

                    {{colone.displayName}}

                    <p-columnFilter *ngIf="colone.key!='etablissement.etLibelle' &&
                                                colone.key!='modepaie.libelleAppFinance'" [field]="colone.key"
                                    [matchModeOptions]="colone.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="colone.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-columnFilter *ngIf="colone.key=='etablissement.etLibelle'" [showAddButton]="false"
                                    [showMatchModes]="false"
                                    [showOperator]="false" [type]="colone.type" display="menu"
                                    field="etablissement" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{colone.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"
                                       [maxSelectedLabels]="3" [selectedItemsLabel]="'{0} etablissements selectioné'" [virtualScroll]="true"
                                       display="chip"
                                       optionLabel="etLibelle" i18n-placeholder placeholder="select etablissement">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-label-container">
                              <span class="ml-1">{{option.etLibelle}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>

                    </p-columnFilter>
                    <p-columnFilter *ngIf="colone.key=='modepaie.libelleAppFinance'" [showAddButton]="false"
                                    field="modepaie"
                                    [showMatchModes]="false" [showOperator]="false" [type]="colone.type"
                                    display="menu" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{colone.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="modePaiments"
                                       [virtualScroll]="true" display="chip"
                                       optionLabel="libelleAppFinance" i18n-placeholder placeholder="select mode paiement">
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-label-container">
                              <span class="ml-1">{{option.libelleAppFinance}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>

                    </p-columnFilter>


                    <p-sortIcon *ngIf="colone.key!='jourcaisse.gjcEtablissementlabel'" [field]="colone.key"></p-sortIcon>
                  </div>

                </th>
              </tr>

            </ng-template>
            <ng-template let-expanded="expanded" let-jourCaisse pTemplate="body">
              <tr>
                <td>
                  <p-tableCheckbox [value]="jourCaisse"></p-tableCheckbox>
                </td>

                <td>
                  <button hidden="true"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          [pRowToggler]="jourCaisse" class="p-button-text p-button-rounded p-button-plain" pButton
                          pRipple
                          type="button"></button>
                </td>

                <td>{{jourCaisse?.etablissement?.etLibelle}}</td>
                <td>{{jourCaisse?.jourcaisse?.gjcDateouv | date: 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse?.jourcaisse?.gjcCaisselabel}}</td>
                <td>{{jourCaisse?.jourcaisse?.gjcNumzcaisse}}</td>
                <td>{{jourCaisse?.modepaie?.libelleAppFinance}}</td>
                <td>{{jourCaisse?.modepaie?.deviseLabel}}</td>
                <td>{{jourCaisse?.montantCompte |separateurPipe  }}
                <td>{{jourCaisse?.montantConvertie |separateurPipe  }}
                <td>{{jourCaisse?.montantAlimenter == null ? 0 : jourCaisse?.montantAlimenter|separateurPipe  }}
                <td>{{jourCaisse?.montantAlimenter == null ? jourCaisse?.montantCompte : jourCaisse?.montantCompte - jourCaisse?.montantAlimenter |separateurPipe  }}

                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
              <tr>
                <td style="width: 3rem"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>
                <td class="text-right"></td>


                <td class="p-text-center" colspan="2" i18n>Montant Total :</td>
                <td class="text-left p-text-bold">{{montantCompter |separateurPipe  }}</td>
                <td class="text-left p-text-bold">{{montantConvertie |separateurPipe  }}</td>
                <td class="text-left p-text-bold">{{montantAlim |separateurPipe  }}</td>
                <td class="text-left p-text-bold">{{montantTot |separateurPipe  }}</td>


              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                <span i18n>Au total il y a </span>{{piedeches ? piedeches.length : 0 }}<span i18n> Lignes.</span>
              </div>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="12" i18n>Il n'y a pas encore des enveloppes.</td>
              </tr>
            </ng-template>

          </p-table>
        </div>
      </p-toolbar>

    </div>
  </nb-card-body>
</nb-card>


<p-dialog [(visible)]="alimentationDialog" [modal]="true" [resizable]="true" [style]="{width: '450px'}"
          styleClass="p-fluid">
  <p-header i18n>Details Alimentation Coffre</p-header>
  <div class="p-text-bold font-size-15px"><span i18n>La somme des lignes sélectionnées </span><span
    class="p-text-bold font-size-19px">{{ somme|separateurPipe  }} </span></div>


  <ng-template pTemplate="content">
    <form [formGroup]="coffAllFrom">

<br>
      <div class="p-field">
        <div class="row">
          <div class="p-col-12">
            <label class="label required" for="coffre" i18n>Coffre</label>
            <p-dropdown [filter]="true" [options]="coffres" dataKey="id" formControlName="coffreId"
                        id="coffre" optionLabel="libelle" optionValue="id" i18n-placeholder placeholder="Coffres"></p-dropdown>

          </div></div>
      </div>
      <div class="p-field">

        <div class="row">
          <div class="p-col-12">
            <label class="label required" for="montant" i18n>Montant Alimenter</label><br>
            <input formControlName="Montantalimenter" fullWidth id="montant" i18n-placeholder nbInput placeholder="montant Alimenter"/>
          </div>
         <!-- <div class="p-col-1">
            <label class="label required" for="calculate"></label><br>
            <img id="calculate" src="assets/images/calculator-icon.png" (click)="openCalculate()" width="20" height="20">
          </div>-->
        </div>
      </div>
      <div class="p-field">
        <div class="row">
          <div class="p-col-12">
            <label class="label" for="motif1" i18n>Motif d'alimentation</label>
            <textarea id="motif1" pInputTextarea formControlName="motif" required rows="2" cols="20"></textarea>
          </div>
        </div>
      </div>

      <br>
      <br>

    </form>

  </ng-template>
  <ng-template pTemplate="footer">
    <button (click)="hideDialog()" class="p-button-danger" icon="pi pi-times" label="ANNULER" i18n-label pButton
            pRipple></button>
    <button (click)="save()" class="p-button-success" icon="pi pi-check" label="ENREGISTRER" i18n-label pButton
            pRipple></button>
  </ng-template>

</p-dialog>

<p-dialog [(visible)]="alimentationExcep" [modal]="true" [resizable]="true" [style]="{width: '450px'}"
          styleClass="p-fluid">
  <p-header i18n>Alimentation exceptionnelle</p-header>

  <ng-template pTemplate="content">
    <form [formGroup]="coffAllExcepForm">

      <div class="p-field">
        <div class="row">
          <div class="p-col-12">
            <label class="label required" for="mp" i18n>Mode de paiement</label>
            <p-dropdown [filter]="true" [options]="modePaiments" (onChange)="loadCoffre($event)" dataKey="id" formControlName="expMpId"
                        id="mp" optionLabel="mpLibelle" optionValue="id" i18n-placeholder placeholder="Mode de paiement"></p-dropdown>

          </div></div>
      </div>


      <div class="p-field">
        <div class="row">
          <div class="p-col-12">
            <label class="label required" for="coffre" i18n>Coffre</label>
            <p-dropdown [filter]="true" [options]="coffres" dataKey="id" formControlName="expCoffreId"
                        id="coffre1" optionLabel="libelle" optionValue="id" i18n-placeholder placeholder="Coffres"></p-dropdown>
          </div>
        </div>
      </div>

      <div class="p-field">
        <div class="row">
          <div class="p-col-11">
            <label class="label required" for="montant" i18n>Montant</label><br>
            <input formControlName="expMntP" fullWidth id="montant1" nbInput i18n-placeholder placeholder="montant"
                   type="number"/>
          </div>
          <div class="p-col-1">
            <label class="label required" for="calculate1"></label><br>
            <img id="calculate1" src="assets/images/calculator-icon.png" (click)="openCalculateExp()" width="20" height="20">
          </div>
        </div>
      </div>

      <div class="p-field pb-2">
        <div class="row">
          <div class="p-col-12">
            <label for="motif" i18n>Motif d'alimentation</label>
            <textarea id="motif" pInputTextarea formControlName="expMotifP" required rows="2" cols="20"></textarea>
          </div>
        </div>
      </div>
      <div class="p-field ">
        <div class="row">
          <div class="p-col-12">
            <label for="sortieDate" i18n>Date d'alimentation</label>
            <p-calendar id="sortieDate" formControlName="expDtP" appendTo="body" [showTime]="true" inputId="time"></p-calendar>
          </div>
        </div>
      </div>

      <br>
      <br>

    </form>

  </ng-template>
  <ng-template pTemplate="footer">
    <button (click)="hideDialogExp()" class="p-button-danger" icon="pi pi-times" label="Annuler" i18n-label pButton
            pRipple></button>
    <button (click)="saveExp()" class="p-button-success" icon="pi pi-check" label="Enregistrer" i18n-label pButton
            pRipple></button>
  </ng-template>

</p-dialog>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


