p {
  font-family: "Lato", sans-serif;
  text-align: justify;
}

.example-card {
  margin: 15px;
}

mat-card-subtitle {
  font-size: 18px;
}

.center {

  text-align: center;
}

mat-card-title {
  color: rgb(0, 0, 0);
  font-size: 60px;
  display: flex;
}

.total {
  padding: 7px 0;
  border: 3px solid #f2f2f2;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 5px;
  max-width: 1000px;
}

.fileupload {
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: #ffffff;
  height: 32px;
  width: 100%;
  cursor: pointer;
  /* border: 2px dashed #0f68ff; */
  border-radius: 5px;
  margin-bottom: 5px;
  background-position: center 28px;
}

.ddinfo {
  display: block;
  text-align: center;
  padding-top: 10px;
  color: #a0a1a2;
}

.image-list {
  display: flex;
  width: 100%;
  background: #edf2f8;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px 10px 10px 15px;
  margin-bottom: 10px;
}

.image-list p {
  line-height: normal;
  padding: 0;
  margin: 0 0 0 14px;
  display: inline-block;
  position: relative;
  top: -2px;
  color: #150938;
  font-size: 14px;
}

.message {
  text-align: center;
  color: #dbe1e5;
}

.remove {
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 1px;
  display: inline-block;
}

.profile img {
  width: 80%;
}

.remove img {
  width: 15px;
  position: relative;
  top: -2px;
}

.fileUploadWrapper .card-body {
  max-height: 330px;
  overflow: hidden;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .container {
    width: 230px;
    margin: 0px auto 100px;
  }
}

.dropzone {
  height: 32px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  font-weight: 700;
  font-size: 12px;
}

.customer-badge.status-ACP {
  background-color: #c8e6c9;
  color: #256029;
}

.customer-badge.status-RJT {
  background-color: #ffcdd2;
  color: #c63737;
}

.customer-badge.status-DMD {
  background-color: #feedaf;
  color: #8a5340;
}

.customer-badge.status-new {
  color: #23547b;
}

.customer-badge.status-renewal {
  background-color: #eccfff;
  color: #694382;
}

.customer-badge.status-proposal {
  background-color: #ffd8b2;
  color: #805b36;
}

@media (min-width: 1024px) {
  .select-width {
    width: 250px !important;
    margin-left: 10px;
  }
}

@media (max-width: 1024px) {
  .select-width {
    width: 100% !important;
    margin-left: 5px;
  }

}

.status-badge {
  border-radius: 10px 10px;

  &.DMD {
    border: 5px solid #ffdba6;

  }

  &.RJT {
    border: 5px solid #f36565;

  }

  &.ACP {
    border: 5px solid #a8c978;

  }
}
