<form [formGroup]="entetePrelevementForm">
  <div class="container-fluid pt-2 mb-5">
    <div class="row">
      <div
        [ngClass]="entetePrelevement?.status?.code!"
        class="col-md-12 p-0 status-badge"
      >
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title" style="color: #0d89ec">
              <button
                (click)="navigate()"
                class="p-button-text"
                icon="pi pi-arrow-left"
                iconPos="left"
                pButton
                type="button"
              ></button>
              <span i18n>Prélevement</span>

              <span *ngIf="dateReponse" class="pl-5 ml-5">
                Date Réponse :{{ dateReponse | date }}
              </span>
            </h4>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="user">Utilisateur</label>
                  <input
                    [value]="entetePrelevement?.userCreatedFullName"
                    class="form-control"
                    disabled
                    id="user"
                    type="text"
                  />
                </div>
                <!--                <div class="form-group">-->
                <!--                  <label for="sel1">Type de prélevement</label>-->
                <!--                  <div id="sel1">-->
                <!--                    <label>Normal</label>-->
                <!--                    <mat-slide-toggle-->
                <!--                      formControlName="typePrelevement"-->
                <!--                      class="m-3"-->
                <!--                    ></mat-slide-toggle>-->
                <!--                    <label>Exceptionnel</label>-->
                <!--                  </div>-->
                <!--                </div>-->
                <!--                <div class="form-group" *ngIf="typePrelevement?.value == false">-->
                <!--                  <label for="sel2">Validateur</label>-->
                <!--                  <div class="p-fluid p-formgrid p-grid">-->
                <!--                    <div class="p-field p-col-12">-->
                <!--                      <p-dropdown-->
                <!--                        [filter]="true"-->
                <!--                        [options]="usersValidators"-->
                <!--                        appendTo="body"-->
                <!--                        id="sel2"-->
                <!--                        placeholder="select validateur"-->
                <!--                        class="p-0 form-control"-->
                <!--                        formControlName="validateurUserId"-->
                <!--                        optionLabel="firstName"-->
                <!--                        optionValue="id"-->
                <!--                      ></p-dropdown>-->
                <!--                    </div>-->
                <!--                  </div>-->
                <!--                </div>-->
                <!--                <div class="pt-2 form-group">-->
                <!--                  <label for="codeJournal">Code Journal</label>-->
                <!--                  <input-->
                <!--                    type="text"-->
                <!--                    class="form-control"-->
                <!--                    formControlName="codeJournal"-->
                <!--                    id="codeJournal"-->
                <!--                  />-->
                <!--                </div>-->
                <!--                <div-->
                <!--                  class="form-group"-->
                <!--                  *ngIf="!pieceJointe"-->
                <!--                  [hidden]="-->
                <!--                    this.entetePrelevement?.status?.code !== 'DMD' && edit-->
                <!--                  "-->
                <!--                >-->
                <!--                  <label for="file">File</label>-->
                <!--                  <app-files-uploader-->
                <!--                    id="file"-->
                <!--                    (newFilesRenderEvent)="getFileAttachements($event)"-->
                <!--                  ></app-files-uploader>-->
                <!--                </div>-->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="etab">Etablissement</label>
                  <input
                    [value]="entetePrelevement?.etablissement?.etLibelle"
                    class="form-control"
                    disabled
                    id="etab"
                    type="text"
                  />
                </div>

                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea
                    class="form-control"
                    formControlName="commentaire"
                    id="description"
                    name="address"
                    row="3"
                  ></textarea>
                </div>

                <div
                  *ngIf="entetePrelevement?.typePrelevement"
                  class="pt-3 form-group"
                >
                  <label for="mtnT">Montant</label>
                  <input
                    [value]="montantTotalExeptionnel"
                    class="form-control"
                    disabled
                    id="mtnT"
                    type="text"
                  />
                </div>

                <div *ngIf="pieceJointe" class="pt-2 form-group">
                  <table class="table table-sm">
                    <tbody>
                    <tr>
                      <td>
                          <span [class]="'customer-badge status-new'">{{
                            pieceJointe
                            }}</span>
                      </td>

                      <td>
                        <a
                          href="{{ url }}/EntetePrelevement/downloadFile/{{
                              id
                            }}"
                        >
                          <button
                            class="appearance-filled size-medium shape-rectangle icon-start icon-end status-basic ng-star-inserted nb-transition"
                            nbButton
                            style="float: right"
                            type="button"
                          >
                            <nb-icon icon="download-outline"></nb-icon>
                          </button>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="total col-12">
                  <span class="col-2 fw-bold">Montant Total :</span>
                  <span class="col-2 fw-bold">{{ changeTTC() | number }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4
              class="card-title d-flex justify-content-between"
              style="color: #0d89ec"
            >
              Ligne prélevement
            </h4>
            <div formArrayName="lignePrelevements">
              <div class="row">
                <table class="table">
                  <thead>
                  <tr>
                    <th width="25%">Caisse</th>
                    <th width="25%">Num Z</th>
                    <th width="25%">Montant</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="
                        let item of lignePrelevements.controls;
                        index as i
                      "
                  >
                    <ng-container [formGroupName]="i">
                      <td>
                        <div class="p-fluid p-formgrid p-grid">
                          <div class="p-field p-col-12">
                            <p-dropdown
                              [filter]="true"
                              [options]="parcaisses"
                              appendTo="body"
                              formControlName="parcaisseId"
                              id="art"
                              optionLabel="gpkLibelle"
                              optionValue="id"
                              placeholder="select parcaisse"
                            ></p-dropdown>

                          </div>
                        </div>
                      </td>

                      <td>
                        <input
                          class="form-control"
                          formControlName="numZref"
                          id="price"
                          nbInput
                          type="text"
                        />
                      </td>

                      <td>
                        <input
                          class="form-control"
                          formControlName="montant"
                          id="quantity1"
                          nbInput
                          type="number"
                        />
                      </td>
                    </ng-container>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
