<nb-card>

  <p-toast></p-toast>

  <nb-card-header>
    <span i18n>Paramétrage billet</span>
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" i18n-label label="Nouveau" pButton
                pRipple></button>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectParamBillet" [globalFilterFields]="['label','typeLabel','montant']" [paginator]="true" [rowHover]="true"
                 [rowsPerPageOptions]="[50,100]" [rows]="50" [showCurrentPageReport]="true"
                 [value]="ParamBillets"
                 dataKey="id"
                 paginatorDropdownAppendTo="body"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..."
                           i18n-placeholder
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="typeLabel"><span i18n>Type Billet</span>
                <p-sortIcon field="typeLabel"></p-sortIcon>
              </th>
              <th pSortableColumn="label"><span i18n>Libéllé</span>
                <p-sortIcon field="label"></p-sortIcon>
              </th>
              <th pSortableColumn="montant"><span i18n>Montant Billet</span>
                <p-sortIcon field="montant"></p-sortIcon>
              </th>
              <th pSortableColumn="visible"><span i18n>Visible</span>
                <p-sortIcon field="visible"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-ParamBillet pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="ParamBillet"></p-tableCheckbox>
              </td>
              <td>{{ParamBillet.typeLabel}}</td>
              <td>{{ParamBillet.label}}</td>
              <td>{{ParamBillet.montant|separateurPipe}}</td>
              <td>{{ParamBillet.visible === 1 ? "Oui" : "Non"}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editParamBillet(ParamBillet)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteParamBillet(ParamBillet)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a  </span>{{ParamBillets ? ParamBillets.length : 0 }}<span i18n> Billets.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>

  </nb-card-body>
  <p-dialog [(visible)]="ParamBilletDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details Billet"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="type" i18n>Type billet</label>
        <p-dropdown id="type" [options]="this.TypeBillets" [(ngModel)]="ParamBillet.type" optionLabel="label" optionValue="id"></p-dropdown>
      </div>
<br>
      <div class="field">
        <label for="libelle" i18n>Libelle billet</label>
        <input [(ngModel)]="ParamBillet.label" autofocus id="libelle" pInputText required type="text"/>
        <small *ngIf="submitted && !ParamBillet.label" class="p-error"><span i18n>Libelle est obligatoire.</span></small>
      </div>
      <br>

      <div class="field">
        <label for="montant" i18n>Montant billet</label>
        <input [(ngModel)]="ParamBillet.montant" autofocus id="montant" pInputText required type="number"/>
        <small *ngIf="submitted && !ParamBillet.montant" class="p-error"><span i18n>Montant est obligatoire.</span></small>
      </div>
      <br>

      <div class="field">
        <label for="visible" i18n>Billet visible ?</label>
        <nb-checkbox class="p-ml-4" [(ngModel)]="visibleinput" id="visible"></nb-checkbox>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" i18n-label label="Annuler" pButton pRipple></button>
      <button (click)="saveParamBillet()" [disabled]="!ParamBillet.type || !ParamBillet.montant || !ParamBillet.label" class="p-button-text" icon="pi pi-check" i18n-label label="Enregistrer" pButton
              pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
