<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  {{ data.body }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false"><span i18n>Annuler</span></button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial><span i18n>OK</span></button>
</mat-dialog-actions>
