<nb-card>

  <p-toast></p-toast>

  <nb-card-header>
    <span i18n>Devises</span>
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="Nouveau" i18n-label pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>
    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectDevise" [globalFilterFields]="['libelle']" [paginator]="true" [rowHover]="true"
                 [rows]="10" [showCurrentPageReport]="true"
                 [value]="devises"
                 dataKey="id"
                 paginatorDropdownAppendTo="body"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..."
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="label"><span i18n>Devise</span>
                <p-sortIcon field="label"></p-sortIcon>
              </th>
              <th pSortableColumn="code"><span i18n>Code</span>
                <p-sortIcon field="code"></p-sortIcon>
              </th>

              <th pSortableColumn="tauxChange"><span i18n>Taux change</span>
                <p-sortIcon field="tauxChange"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-devise pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="devise"></p-tableCheckbox>
              </td>
              <td>{{devise.label}}</td>
              <td>{{devise.code}}</td>

              <td>{{devise.tauxChange}}</td>

              <td [style]="{width:'100px'}">
                <button (click)="editDevise(devise)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil"
                        pButton
                        pRipple></button>
                <button (click)="deleteDevise(devise)" class="p-button-rounded p-button-warning" icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a  </span>{{devises ? devises.length : 0 }}<span i18n> Devises.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>
  </nb-card-body>

  <p-dialog [(visible)]="deviseDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details Devise"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field m-3">
        <label for="code" i18n>Code</label>
        <input [(ngModel)]="devise.code" autofocus id="code" pInputText required type="text"/>
        <small *ngIf="submitted && !devise.code" class="p-error"><span i18n>Code est obligatoire.</span></small>
      </div>
      <div class="field m-3">
        <label for="libelle">Libelle</label>
        <input [(ngModel)]="devise.label" autofocus id="libelle" pInputText required type="text"/>
        <small *ngIf="submitted && !devise.label" class="p-error"><span i18n>Libelle est obligatoire.</span></small>
      </div>
      <div class="field m-3">
        <label for="txChange">Taux change</label>
        <input [(ngModel)]="devise.tauxChange" autofocus id="txChange" pInputText required type="number"/>
        <small *ngIf="submitted && !devise.tauxChange" class="p-error"><span i18n>Taux change est obligatoire.</span></small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-danger" icon="pi pi-times" i18n-label label="Annuler" pButton
              pRipple></button>
      <button (click)="saveDevise()" class="p-button-success" icon="pi pi-check" i18n-label label="Enregistrer" pButton
              pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
