@import '../../themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import "~src/assets/global";

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
  .menu-blade ::ng-deep .scrollable {
    padding: 0;
    box-shadow: -16px 0 32px -14px rgba(0, 0, 0, 0.4);
    border-left: solid 1px #e5e5e5;
    width: 100%;
    background-color: white;
  }
  .menu-blade ::ng-deep .main-container {
    width: 100%;
  }
  //  .menu-item {
  //    border-bottom: 1px solid #3b434c !important;
  //    ul.menu-items {
  //      margin-bottom: 5px!important;
  //      margin-top: 10px!important;
  //      padding: 0;
  //    }
  //    a {
  //      font-family: Open Sans,sans-serif;
  //      font-size: .8125rem;
  //      font-weight: 600;
  //      line-height: 1.5rem;
  //      padding: 0.75rem 1rem;
  //      color: white !important;
  //      .menu-icon {
  //        color: #ffffff!important;
  //        font-size: 1.30rem;
  //        margin: 0 0.5rem 0 0;
  //        width: 1em;
  //        text-align: center;
  //      }
  //    }
  //    a.active {
  //
  //      color: #3568ff !important;;
  //    }
  //  }
  //    span{
  //    font-size: larger;
  //  }
  //}
  //::ng-deep nb-user .user-name, .user-title {
  //  color: #fdfdfd!important;
  //  font-family: Open Sans,sans-serif!important;
  //  font-weight: 400!important;
  //  font-size: 1.5rem!important;
  //}
  //::ng-deep nb-layout-header {
  //  display: block;
  //  background-color: #222b45 !important;
  //
  //  nav {
  //    align-items: center!important;
  //    justify-content: flex-start!important;
  //    display: flex!important;
  //    color: #fff!important;
  //    box-shadow: 0 0.5rem 1rem 0 #445172 !important;
  //    height: 4.75rem!important;
  //    padding: 1.25rem!important;
  //  }
  //
  //  &.fixed {
  //    position: fixed;
  //    top: 0;
  //    left: 0;
  //    right: 0;
  //    z-index: 1040;
  //  }
  //}
  ::ng-deep nb-sidebar {
    .blade {
      background-color: #FFFFFF !important;
    }
  }
}
