$light-gray: #ddd;
$lighter-gray: #fafafa;
$icon-gray: #8f9bb3;
$textColor: #172b4d;
$lighter-blue: #3568ff;
$blueHeader: #0959d0;
$favoriteColor: #ffc11e;

:root {
  --header-background-color: #0959d0;
}
