<!--<p-card [style]="{'width': '100%', 'height': 'auto'}">-->

<!--  <p-toast></p-toast>-->

<!--  <div class="card">-->
<!--    <h2>Comptage</h2>-->
<!--    <p-table #dt [(selection)]="selectedReceptions"-->
<!--             [globalFilterFields]="['id','receptionDate','validationDate','emetteurLibelle','cahuffeurLibelle','etLibelle','gjcCaisse','montantCaisse']"-->
<!--             [paginator]="true"-->
<!--             [rowHover]="true"-->
<!--             [rows]="10" [showCurrentPageReport]="true" [value]="allReceptions"-->
<!--             currentPageReportTemplate="Affichage de la {first} à la {last} entrées sur {totalRecords}"-->
<!--             dataKey="id">-->
<!--      <ng-template pTemplate="caption">-->
<!--        <div class="p-d-flex">-->
<!--          <div class="p-col-9">-->
<!--            <button (click)="exportExcel()" class="p-button-success p-mr-2" icon="pi pi-file-excel" pButton pRipple-->
<!--                    pTooltip="XLS" tooltipPosition="bottom" type="button"></button>-->
<!--          </div>-->
<!--          <div class="p-col-3">-->
<!--                      <span class="p-input-icon-left">-->
<!--                    <i class="pi pi-search"></i>-->
<!--                <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText placeholder="Recherche"-->
<!--                       type="text"/>-->
<!--          </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->

<!--          <th>Code-->
<!--            <p-columnFilter display="menu" field="id" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Date generation Reception-->
<!--            <p-columnFilter display="menu" field="receptionDate" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Date Validation-->
<!--            <p-columnFilter display="menu" field="validationDate" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Emetteur-->
<!--            <p-columnFilter display="menu" field="emetteurLibelle" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Chauffeur-->
<!--            <p-columnFilter display="menu" field="cahuffeurLibelle" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Ticket Z-->
<!--            <p-columnFilter display="menu" field="gjcNumzcaisse" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Etablissement-->
<!--            <p-columnFilter display="menu" field="etLibelle" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Caisse-->
<!--            <p-columnFilter display="menu" field="gjcCaisse" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          <th>Montant caisse-->
<!--            <p-columnFilter display="menu" field="montantCaisse" type="text"></p-columnFilter>-->
<!--          </th>-->

<!--          &lt;!&ndash;<th pSortableColumn="actif">Actif-->
<!--            <p-columnFilter field="actif" matchMode="equals" display="menu">-->
<!--              <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                <p-dropdown [ngModel]="value" [options]="actifs" (onChange)="filter($event.value)" placeholder="Any">-->
<!--                  <ng-template let-option pTemplate="item">-->
<!--                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>-->
<!--                  </ng-template>-->
<!--                </p-dropdown>-->
<!--              </ng-template>-->
<!--            </p-columnFilter>-->
<!--          </th>&ndash;&gt;-->
<!--          <th></th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template let-reception pTemplate="body">-->
<!--        <tr>-->
<!--          <td>REC-{{reception.id}}</td>-->
<!--          <td>{{reception.receptionDate | date : 'dd/MM/yyyy, h:mm a'}}</td>-->
<!--          <td>{{reception.validationDate | date : 'dd/MM/yyyy, h:mm a'}}</td>-->
<!--          <td>{{reception.emetteurLibelle}}</td>-->
<!--          <td>{{reception.cahuffeurLibelle}}</td>-->
<!--          <td>{{reception.gjcNumzcaisse}}</td>-->
<!--          <td>{{reception.etLibelle}}</td>-->
<!--          <td>{{reception.gjcCaisse}}</td>-->
<!--          <td>{{reception.montantCaisse}}</td>-->

<!--          &lt;!&ndash;<td>{{mp.actif ? "Actif" : "Non Actif"}}</td>&ndash;&gt;-->
<!--          <td>-->
<!--            &lt;!&ndash;<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"-->
<!--                    (click)="editMp(mp)"></button>&ndash;&gt;-->
<!--            <button (click)="compter(reception)" class="p-button-rounded p-button-primary" icon="pi pi-list" pButton-->
<!--                    pRipple></button>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="summary">-->
<!--        <div class="p-d-flex p-ai-center p-jc-between">-->
<!--          Au total il y a {{allReceptions ? allReceptions.length : 0 }} enveloppe réceptionné.-->
<!--        </div>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="emptymessage">-->
<!--        <tr>-->
<!--          <td colspan="9">Pas d'enveloppe réceptionné.</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->
<!--  </div>-->
<!--  &lt;!&ndash;  <p-sidebar [(visible)]="receptionDialog" [fullScreen]="true" [baseZIndex]="10000">&ndash;&gt;-->
<!--  &lt;!&ndash;    <h3 style="font-weight:normal">Full Screen Sidebar</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;  </p-sidebar>&ndash;&gt;-->
<!--  <p-sidebar [(visible)]="receptionDialog" [style]="{ width:'1300px'}" position="right"-->
<!--             styleClass="p-fluid">-->

<!--    <app-comptage-ligne *ngIf="selectedReception" [selectedReception]="selectedReception"></app-comptage-ligne>-->


<!--  </p-sidebar>-->

<!--  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>-->

<!--</p-card>-->


