<mat-card class="example-card">
  <mat-card-content>
    <div class="scrollable-container">
      <div class="container-fluid">
        <div class="row info-cards">
          <nb-card class="col">
            <nb-card-body>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>
                    Alimentation(s) coffre :</span
                  >
                  <span class="font-weight-bolder">
                    {{ this.selectedCoffre.libelle }}</span
                  >
                </div>
              </div>
              <br/>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>
                    Solde coffre :</span
                  >
                  <span class="font-weight-bolder">
                    {{ this.selectedCoffre.montant|separateurPipe }}</span
                  >
                </div>
              </div>
              <br/>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>
                    Solde coffre Converti :</span
                  >
                  <span class="font-weight-bolder">
                    {{ this.selectedCoffre.montantConvertie|separateurPipe }}</span
                  >
                </div>
              </div>
              <br/>
              <div class="d-flex flex-column">
                <div>
                  <span class="text-info font-weight-bolder" i18n>
                    Mode(s) :</span
                  >
                  <span class="font-weight-bolder">
                    {{ this.selectedCoffre.modesPaieLibelle }}</span
                  >
                </div>
              </div>
              <br/>
              <br/>

              <div class="card">
                <p-toolbar styleClass="mb-4">
                  <div style="width: 100%; height: 100%; overflow-x: scroll">
                    <p-table
                      #dt
                      [globalFilterFields]="['montantalimenter']"
                      [paginator]="true"
                      [rowHover]="true"
                      [rows]="10"
                      [showCurrentPageReport]="true"
                      [value]="alimentations"
                      dataKey="id"
                      paginatorDropdownAppendTo="body"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th><span i18n>Coffre</span></th>
                          <th><span i18n>Date</span></th>
                          <th><span i18n>Motif</span></th>
                          <th><span i18n>Alimenté par</span></th>
                          <th><span i18n>Montant</span></th>
                          <th><span i18n>Montant Convertie</span></th>
                          <th></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-alimentation>
                        <tr>
                          <td>{{ alimentation.coffreLibelle }}</td>
                          <td>
                            {{
                            alimentation.alimentationDate
                              | date : "dd/MM/yyyy H:mm"
                            }}
                          </td>
                          <td>{{ alimentation.motif }}</td>
                          <td>{{ alimentation.username }}</td>
                          <td>{{ alimentation.montantalimenter |separateurPipe}}</td>
                          <td>{{ alimentation.montantConvertie|separateurPipe }}</td>
                          <td>
                            <button
                              (click)="deleteAlimentation(alimentation)"
                              class="p-button-rounded p-button-warning"
                              icon="pi pi-trash"
                              pButton
                              pRipple
                            ></button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template
                        pTemplate="footer"
                        style="border-top: 1px solid black"
                      >
                        <tr>
                          <td style="width: 3rem"></td>
                          <td class="text-right"></td>
                          <td class="text-right"></td>
                          <td class="p-text-center">
                            <span i18n>Montant Total :</span>
                          </td>

                          <td class="text-left p-text-bold">
                            {{ montantTot |separateurPipe}}
                          </td>
                          <td class="text-left p-text-bold">
                            {{ montantTotConv |separateurPipe}}
                          </td>
                          <td></td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </p-toolbar>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
