<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
    <div
      [ngStyle]="{
            right: bladeWithDirective + 'vw',
            display: isBladeExpanded ? 'block' : 'none'
          }"
      class="position-end expanded"
    >
      <button
        (click)="closeBlade()"
        appearance="outline"
        aria-disabled="false"
        class="toggle-settings appearance-outline size-medium status-basic shape-rectangle icon-start icon-end nb-transition"
        tabindex="0"
      >
        <nb-icon icon="arrowhead-right-outline" pack="eva"></nb-icon>
      </button>
    </div>
    <div
      (bladeWidth)="this.bladeWithDirective = $event"
      *ngIf="isBladeExpanded"
      class="drag-blade"
      sdsDraggable
    ></div>
  </nb-layout-header>
  <nb-sidebar #nbSidebarComponent class="menu-sidebar" responsive start tag="menu-sidebar">
    <div (click)="toggleSidebar()" class="collapsable-side-bar-icon">
      <i *ngIf="!isExpanded" class=" fad fa-chevron-double-right"></i>
      <i *ngIf="isExpanded" class="fad fa-chevron-double-left"></i>
    </div>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-sidebar
    #nbBlade
    [containerFixed]="false"
    [ngStyle]="{ width: bladeWithDirective + 'vw' }"
    class="menu-blade"
    fixed
    right
    state="collapsed"
    tag="menu-blade"
  >
  </nb-sidebar>
  <nb-layout-column class="nb-layout-p">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-layout-footer fixed i18n>
    MyCash ©2022.
  </nb-layout-footer>
</nb-layout>
