<nb-card class="classname">
  <nb-card-header><span i18n>Détail montant</span></nb-card-header>
  <nb-card-body>
      <form [formGroup]="orderForm">
        <table class="table" >
          <div *ngIf="this.TypeBillets">
            <div  *ngFor="let typeBillet of this.TypeBillets ">
              <thead class="thead-light">
              <tr>
                <th>{{typeBillet.label}}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr formArrayName="items"
                  *ngFor="let item of getControls(); let i = index;">
                <ng-container [formGroupName]="i" *ngIf="item.value.typeId === typeBillet.id">
                  <td width="80px">{{item.value.billetLabel}}</td>
                  <td><input (change)="onChange()" class="p-inputtext" formControlName="quantite" pInputText
                             style="width: 80px" type="number">
                  </td>
                  <td>X</td>
                  <td>{{item.value.montant|separateurPipe}}</td>
                  <td>=</td>
                  <td width="80px">{{calculItem(item.value)}}
                  <td>
                </ng-container>
              </tr>
              </tbody>
            </div>
          </div>

        </table>
      </form>
  </nb-card-body>
  <nb-card-footer>
    <div style="float : left"><h6><span i18n>Montant Total : </span><span class="p-text-bold font-size-16px">{{this.sommeGlobal |separateurPipe}}</span></h6></div>
    <div style="float : right">
      <button (click)="cancel()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton
              pRipple></button>
      <button (click)="submit(this.sommeGlobal)" class="p-button-text" icon="pi pi-check" label="Save" pButton
              pRipple></button>
    </div>
  </nb-card-footer>
</nb-card>
