
<div class="wrapper" appDnd (filesChangeEmiter)="addToGallery($event)">
  <div class="input">
    <ng-container *ngIf="fileToTransfer; else elseBlock">

      <ng-container *ngIf="!submited; else submitSuccessful">
        <h4><span i18n>Fichier téléchargé</span></h4>
        <p>{{ fileToTransfer ? fileToTransfer.name : 'nombre_archivo.txt' }}</p>
        <button mat-raised-button color="accent" (click)="onSubmit()"><span i18n>Envoyer</span></button>
        <a (click)="inputFile.click()"><span i18n>Remplacer le fichier</span></a>
      </ng-container>

      <ng-template #submitSuccessful>
          <h4><span i18n>Felicitaciones!</span></h4>
          <p>
            {{ fileToTransfer ? fileToTransfer.name : 'nombre_archivo.txt' }} <br>
            <span i18n>a été envoyé</span>
          </p>
          <button mat-raised-button color="accent" (click)="clear()"><span i18n>Finir</span></button>
      </ng-template>
    </ng-container>

    <ng-template #elseBlock>
      <img src="assets/images/icon-enviado.png" alt="">
      <h4><span i18n>Faites glisser et déposez le fichier ou</span></h4>
      <a (click)="inputFile.click()"><span i18n>cliquez pour le sélectionner</span></a>
      <p><span i18n>N’oubliez pas qu’il doit s’agir d’un fichier .PDF</span></p>
    </ng-template>
  </div>
</div>

<input
  type='file'
  #inputFile
  (change)="addToGallery($event)"
  (keyup)="addToGallery($event)"
  style="display: none;">

