@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
  //@include nb-auth-global(); // append the install mixin inside of the nb-install

}

;
/* You can add global styles to this file, and also import other style files */
@import "./app/core/styles/main";
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*
//@import "themes";
//@use '~@nebular/theme/styles/globals';
//@include nb-install() {
//  @include nb-theme-global();
//} ;


html.medium,
body.medium {
  font-size: 14px !important;
}

html.large,
body.large {
  font-size: 16px !important;
}

html.x-large,
body.x-large {
  font-size: 18px !important;
}

.required {
  &::after {
    content: '*';
    color: red;
  }
}

.close-btn {
  i {
    cursor: pointer;
    font-size: 1.2rem;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
}

.sub-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.big-icon {
  font-size: 1.4rem !important;
}

.default-modal {
  width: 500px;
  min-width: 200px;
  height: 250px;
  min-height: 200px;
  background: white;
}

::-webkit-scrollbar {
  width: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-16px {
  font-size: 16px;
}

.font-size-12px {
  font-size: 12px;
}

::-webkit-scrollbar-button {
  background: #ccc;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.position-end {
  position: absolute;
  top: 150px;

  button {
    width: 25px;
    border: solid 1px #e5e5e5;
    background-color: white;
    height: 50px;
    box-shadow: -7px 6px 12px 0 rgba(0, 0, 0, 0.2);
    color: black;

    i {
      font-size: 1.2rem;
    }
  }
}

.drag-blade {
  position: absolute;
  top: 30px;
  width: 6px;
  height: calc(100vh - 300px);
  cursor: col-resize;
  pointer-events: all;

  &:active {
    background-color: rgba(85, 85, 85, 0.3);
    cursor: pointer;
  }
}

.draggable-container {
  right: 40vw;
  position: absolute;
  top: 30px;
  width: 40vw;
  height: calc(100vh - 50px);
  //background-color: yellow;
  z-index: 0;
  pointer-events: none;
}

.collapsable-side-bar-icon {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

/*** drop zone begin **/

.my-drop-zone {
  width: 100%;
  height: 10%;
  cursor: pointer;
  padding: 1em;
  opacity: 0.4;
  text-align: center;
}

.dropZoneColorMaterial {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: #d8d8d8;
}

.dropZoneColorDragMaterial {
  border: 3px dotted rgba(0, 0, 0, 0.28);
  background-color: var(--header-background-color);
}

.dropZoneColorDropMaterial {
  border: 3px dotted rgba(0, 0, 0, 0.08);
  background-color: #d8d8d8;
}

.nb-theme-default nb-tabset .tab-link {
  padding-top: 0.1rem !important;
}


.info-cards {
  nb-card:not(:last-child) {
    margin-right: 0.5em;
  }

  nb-card {
    margin-bottom: 0.5rem;
  }

  nb-card-body {
    padding: 1rem 0.25rem;
    font-size: 1.1rem;
  }
}

.info-cards {
  nb-card:not(:last-child) {
    margin-right: 0.5em;
    margin-bottom: 0.5rem;

    nb-card-body {
      padding: 1rem 0.25rem;
      font-size: 1.1rem;
    }
  }
}

.zoom {
  height: 100vh !important;
}
