@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(
    (
      //    color-basic-100: white,
      //    color-basic-200: #eefafc,
      //    color-card: #edf1f7,
      //    color-basic-300: #e8f5fa,
      //    color-basic-400: #d6e6f2,
      //    color-basic-500: #c7dbeb,
      //    color-basic-600: #8ecbff,
      //    color-basic-700: #2e3f78,
      //    color-basic-800: #82bde2,
      //    color-basic-900: #d2d2d4,
      //    color-basic-1000: #244555,
      //    color-basic-1100: #121a2b,
      //    background-basic-color-1: color-basic-700,
      //    background-basic-color-2: color-basic-800,
      //    background-basic-color-3: color-basic-900,
      //    background-basic-color-4: color-basic-100,
      //    border-basic-color-1: color-basic-700,
      //    border-basic-color-2: color-basic-800,
      //    border-basic-color-3: color-basic-900,
      //    border-basic-color-4: color-basic-1000,
      //    border-basic-color-5: color-basic-1100,
      //    card-background-color:	background-basic-color-1,
      //    card-text-color	:text-basic-color	#222b45,
      //    card-text-font-family	:text-paragraph-font-family sans-serif,
      //card-text-font-size	:text-paragraph-font-size	0.9375rem,
      //card-text-font-weight	:text-paragraph-font-weight	400,
      //card-text-line-height	:text-paragraph-line-height	1.25rem,
      //card-border-width	:	0.0625rem,
      //card-border-style	:	solid,
      //card-border-color:	border-basic-color-4	#e4e9f2,
      //card-border-radius:	border-radius	0.25rem,
      //card-padding	:	1rem,
      //card-shadow	:	none,
      //card-divider-color:	divider-color	#edf1f7,
      //card-divider-style:	divider-style	solid,
      //card-divider-width:	divider-width	1px,
      //card-height-tiny	:	13.5rem,
      //card-height-small	:	21.1875rem,
      //card-height-medium	:	28.875rem,
      //card-height-large	:	36.5625rem,
      //card-height-giant	:	44.25rem,
      //card-margin-bottom	:	1.875rem,
      //card-scrollbar-color:	scrollbar-color	#e4e9f2,
      //card-scrollbar-background-color	:scrollbar-background-color	#f7f9fc,
      //card-scrollbar-width:	scrollbar-width	0.3125rem,
      //card-header-text-color:	text-basic-color	#222b45,
      //card-header-text-font-family: sans-serif,
      //card-header-text-font-size:	text-subtitle-font-size	0.9375rem,
      //card-header-text-font-weight:	text-subtitle-font-weight	600,
      //card-header-text-line-height:	text-subtitle-line-height	1.5rem,
      //card-header-basic-background-color:	background-basic-color-2	#f7f9fc,
      //card-header-basic-text-color:	text-basic-color	#222b45,
      //card-header-primary-background-color:	color-primary-default	#3366ff,
      //card-header-primary-text-color:	text-control-color	#ffffff,
      //card-header-info-background-color:	color-info-default	#0095ff,
      //card-header-info-text-color	:text-control-color	#ffffff,
      //card-header-success-background-color	:color-success-default	#00d68f,
      //card-header-success-text-color:	text-control-color	#ffffff,
      //card-header-warning-background-color:	color-warning-default	#ffaa00,
      //card-header-warning-text-color:	text-control-color	#ffffff,
      //card-header-danger-background-color:	color-danger-default	#ff3d71,
      //card-header-danger-text-color:	text-control-color	#ffffff,
      //card-header-control-background-color:	color-control-default	#ffffff,
      //card-header-control-text-color:	color-basic-800,
      background :#2c366a,
      background-menu :#084583,
      text-basic-color: #000000,
      text-header: #FFFFFF,
      text-paragraph-font-family :sans-serif,
      text-paragraph-font-size: 1.25rem,
      text-paragraph-font-weight :400,
      text-paragraph-line-height :1.25rem,
      header-background-color :background-menu,
      text-subtitle-2-font-size:1rem,
      menu-item-active-text-color:#07bd4f,
      menu-item-icon-active-color:#07bd4f,
      menu-submenu-item-active-text-color:#07bd4f,
      menu-submenu-item-icon-active-color:#07bd4f,
      menu-item-hover-background-color:#bfe6eb,
      menu-item-hover-text-color:#31343e,
      menu-submenu-item-hover-background-color:#bfe6eb,
      menu-submenu-item-hover-text-color:#31343e,
      header-text-color: text-header,
      header-text-font-family: text-paragraph-font-family,
      header-text-font-size: text-paragraph-font-size,
      header-text-font-weight :text-paragraph-font-weight,
      header-text-line-height :text-paragraph-line-height,
      header-height : 4.75rem,
      header-padding : 1.25rem,
      header-shadow: 0 0.5rem 1rem 0 #222b45,
      /*
      card-shadow: 0 0.5rem 1rem 0 #222b45,
      */
      user-name-text-color:text-header,
      user-name-text-font-weight:500,
      user-medium-name-text-font-size : 1.75rem,
      menu-background-color:background-menu,
      menu-text-color:white,
      menu-item-padding:1rem,
      sidebar-background-color:background-menu,
      menu-item-divider-color:#25272a,
      menu-item-icon-color:white,
      sidebar-width: 20rem,
      sidebar-width-compact: 4.5rem,
      card-padding: 1.5rem 1.5rem,
      card-header-text-font-size:2rem,
      menu-text-font-size:1.25rem,
    ),
    gray,
    default
);
