<nb-card>

  <p-toast></p-toast>

  <nb-card-header i18n>
    TypeFrais
  </nb-card-header>
  <nb-card-body>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="Nouveau" i18n-label pButton
                pRipple></button>
      </ng-template>

      <!--    <ng-template pTemplate="right">-->
      <!--      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>-->
      <!--      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
      <!--    </ng-template>-->
    </p-toolbar>

    <p-toolbar styleClass="mb-4">

      <div style="width: 100%; height: 100%; overflow-x: scroll;">
        <p-table #dt [(selection)]="selectTypeFrais" [globalFilterFields]="['typeFrais1']" [paginator]="true"
                 [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50,100]" [rows]="10" paginatorDropdownAppendTo="body"
                 [showCurrentPageReport]="true" [value]="TypeFraiss"
                 dataKey="id"
                 responsiveLayout="scroll">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal(getValueFilter($event), 'contains')" pInputText
                           placeholder="Recherche..." i18n-placeholder
                           type="text"/>
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="typeFrais1"><span i18n>Type Frais</span>
                <p-sortIcon field="typeFrais1"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template let-TypeFrais pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="TypeFrais"></p-tableCheckbox>
              </td>
              <td>{{TypeFrais.typeFrais1}}</td>
              <td [style]="{width:'100px'}">
                <button (click)="editTypeFrais(TypeFrais)" class="p-button-rounded p-button-success mr-2"
                        icon="pi pi-pencil" pButton
                        pRipple></button>
                <button (click)="deleteTypeFrais(TypeFrais)" class="p-button-rounded p-button-warning" icon="pi pi-trash"
                        pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              <span i18n>Au total il y a  </span>{{TypeFraiss ? TypeFraiss.length : 0 }}<span i18n> TypeFraiss.</span>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>

            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-toolbar>

  </nb-card-body>
  <p-dialog [(visible)]="TypeFraisDialog" [modal]="true" [style]="{width: '450px'}" i18n-header header="Details TypeFrais"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="typeFrais1" i18n>Type Frais</label>
        <input [(ngModel)]="TypeFrais.typeFrais1" autofocus id="typeFrais1" pInputText required type="text"/>
        <small *ngIf="submitted && !TypeFrais.typeFrais1" class="p-error"><span i18n>Type frais est obligatoire</span></small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Annuler" i18n-label pButton pRipple></button>
      <button (click)="saveTypeFrais()" class="p-button-text" icon="pi pi-check" label="Enregistrer" i18n-label pButton pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</nb-card>
