<nb-card>
  <nb-card-body>
    <h1 class="title" id="title">Change password</h1>
    <p class="sub-title">Please set a new password</p>

    <nb-alert
      *ngIf="showMessages?.error && errors?.length && !submitted"
      outline="danger"
      role="alert"
    >
      <p class="alert-title"><b>Oh snap!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
      </ul>
    </nb-alert>

    <nb-alert
      *ngIf="showMessages?.success && messages?.length && !submitted"
      outline="success"
      role="alert"
    >
      <p class="alert-title"><b>Hooray!</b></p>
      <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
      </ul>
    </nb-alert>

    <div [formGroup]="resetPasswordForm" aria-labelledby="title">
      <div class="form-control-group">
        <label for="input-password">Username:</label>
        <input
          [status]="userName?.dirty ? (userName?.invalid ? 'danger' : 'success') : 'basic'"
          autofocus
          class="first"
          fieldSize="large"
          formControlName="userName"
          fullWidth
          id="input-userName"
          nbInput
          placeholder="Username"
          type="text"
        />

      </div>

      <div class="form-control-group">
        <label for="input-password">Password:</label>
        <input
          [status]="newPassword?.dirty ? (newPassword?.invalid ? 'danger' : 'success') : 'basic'"
          autofocus
          class="first"
          fieldSize="large"
          formControlName="newPassword"
          fullWidth
          id="input-password"
          nbInput
          placeholder="New Password"
          type="password"
        />

      </div>

      <div class="form-control-group">
        <label for="input-re-password">Confirm Password:</label>
        <input
          [status]="
            confirmPassword?.dirty
              ? confirmPassword?.invalid || newPassword?.value != confirmPassword?.value
                ? 'danger'
                : 'success'
              : 'basic'
          "
          formControlName="confirmPassword"
          fullWidth
          id="input-re-password"
          nbInput
          placeholder="Password"
          type="password"
        />
        <ngx-validation-message
          [maxLength]="maxLength"
          [minLength]="minLength"
          [showMaxLength]="confirmPassword?.hasError('maxlength') && confirmPassword?.touched"
          [showMinLength]="confirmPassword?.hasError('minlength') && confirmPassword?.touched"
          [showRequired]="confirmPassword?.valid  && confirmPassword?.touched"
          label="Confirm Password"
        ></ngx-validation-message>
        <p
            *ngIf="newPassword?.value != confirmPassword?.value && confirmPassword?.touched"
          class="error-message"
        >
          Password and confirm password does not match!
        </p>
      </div>

      <button
        (click)="resetPass()"
        [class.btn-pulse]="submitted"
        [disabled]="!resetPasswordForm?.valid"
        fullWidth
        nbButton
        status="success"
      >
        Change password
      </button>
    </div>

    <section aria-label="Sign in or sign up" class="sign-in-or-up"></section>
  </nb-card-body>
</nb-card>
