<nb-card class="example-card">
  <nb-card-header>
    <span i18n>Liste des Dépenses</span>
  </nb-card-header>
  <nb-card-body>

    <p-toolbar>
      <div class="p-toolbar-group-left">
        <p-toggleButton
          [(ngModel)]="checked"
          offLabel="Afficher filter"
          onLabel="Cacher filter"
        ></p-toggleButton>
      </div>
      <div class="p-toolbar-group-right">
        <div *ngIf="showExportCompta" [matBadge]="selectedDepanses.length" matBadgeOverlap="false" class="demo-section p-mr-2">

          <button
            [hidden]="!showExportCompta"
            [disabled]="selectedDepanses.length === 0"
            (click)="generer()"
            class="p-button-help"
            i18n-label
            icon="pi pi-file"
            label="Export TRA"
            pButton
            pRipple
            tooltipPosition="bottom"
            type="button"
          ></button>
        </div>


      </div>
    </p-toolbar>

    <p-toolbar *ngIf="checked" styleClass="mb-4">
      <div class="row">
        <div class="p-toolbar-group-left">
          <div class="p-formgroup-inline">
            <div class="p-field" style="width: 200px;" >
               <mat-checkbox class="example-margin"
                              [(ngModel)]="filter.isCompta"
                              (change)="rechercheCheckbox()">

              </mat-checkbox>
              <label class="control-label ml-2 mb-1" i18n>
                Généré au compta ?</label
              >
              <br>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateDepanceFrom" i18n>Date Dépense à partir de</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateDepanceFrom"
                id="dateDepanceFrom"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateDepanceTo" i18n>Date Dépense jusqu'à</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateDepanceTo"
                id="dateDepanceTo"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field" style="width: 200px;" >
              <label class="control-label mb-1" for="etab" i18n
              >Etablissements</label
              >
              <br>
              <p-multiSelect
                [(ngModel)]="filter.etablissementId"
                [maxSelectedLabels]="1"
                [options]="etablissements"
                [selectedItemsLabel]="'{0} etablissements selectioné'"
                appendTo="body"
                i18n-placeholder
                id="etab"
                optionLabel="etLibelle"
                optionValue="id"
                placeholder="select etablissments..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.etLibelle }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="users" i18n>Utilisateurs</label><br>
              <p-multiSelect
                [(ngModel)]="filter.userCreated"
                [maxSelectedLabels]="1"
                [options]="users"
                [selectedItemsLabel]="'{0} Utilisateurs selectioné'"
                appendTo="body"
                i18n-placeholder
                id="users"
                optionLabel="username"
                optionValue="id"
                placeholder="select Utilisateurs..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                      <span class="ml-1"
                      >{{ option.username }} - {{ option.firstName }}
                        {{ option.lastName }}</span
                      >
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="validateurs" i18n>Validateurs</label><br>
              <p-multiSelect
                [(ngModel)]="filter.validateur"
                [maxSelectedLabels]="1"
                [options]="users"
                [selectedItemsLabel]="'{0} Validateurs selectioné'"
                appendTo="body"
                i18n-placeholder
                id="validateurs"
                optionLabel="username"
                optionValue="id"
                placeholder="select Validateurs..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                      <span class="ml-1"
                      >{{ option.username }} - {{ option.firstName }}
                        {{ option.lastName }}</span
                      >
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="typeDep" i18n
              >Type Dépenses</label
              ><br>
              <p-multiSelect
                [(ngModel)]="filter.typeDepance"
                [options]="typeDepances"
                [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Type Dépenses selectioné'"
                appendTo="body"
                i18n-placeholder
                id="typeDep"
                optionLabel="label"
                optionValue="value"
                placeholder="select Type Dépenses..."
              >
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="ml-1">{{ option.label }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="mntfrom" i18n>Montant Total supérieur à</label><br>
              <input
                [(ngModel)]="filter.montantTotalFrom"
                id="mntfrom"
                pInputText
                type="number"
              />
            </div>
            <div class="p-field" style="width: 200px;">
              <label class="control-label mb-1" for="mntto" i18n>Montant Total inférieur à</label><br>
              <input
                [(ngModel)]="filter.montantTotalTo"
                id="mntto"
                pInputText
                type="number"
              />
            </div>

            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateCreationFrom" i18n>Date Creation à partir de</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateCreationFrom"
                id="dateCreationFrom"
                format="dd-MM-yyyy"

              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <label class="control-label mb-1" for="dateCreationFrom" i18n>Date Creation jusqu'à</label>
              <kendo-datepicker
                [(ngModel)]="filter.dateCreationTo"
                id="dateCreationTo"
                format="dd-MM-yyyy"
              ></kendo-datepicker>
            </div>
            <div class="p-field"  style="width: 200px;">
              <br>
              <p-button (onClick)="recherche()"  class="p-mr-2" icon="pi pi-spinner"
                        i18n-label label="Recherche"></p-button>
            </div>
          </div>
        </div>
      </div>

    </p-toolbar>

    <mat-tab-group (selectedTabChange)="onTabSelectionChange($event)">
      <div *ngFor="let status of statuses" >
        <mat-tab  *ngIf="status.statuslibelle  && status.id" [label]="status.statuslibelle">
        </mat-tab>
      </div>
    </mat-tab-group>

    <div *ngIf="this.filter.statutId">

      <div style="width: 100%; height: 100%; overflow-x: scroll">
        <p-table
          #dt1
          [totalRecords]="totalRecords"
          [filterDelay]="500"
          [loading]="loading"
          [paginator]="showPaginator"
          (onFilter)="handleFilter($event.filteredValue,dt1.filters)" [paginator]="true"
          [rowHover]="true"
          [rowsPerPageOptions]="[10,25,50,100,500,1000,5000]"
          [rows]="10"
          [(selection)]="selectedDepanses"
          [showCurrentPageReport]="true"
          [value]="enteteDepenses"
          [currentPageReportTemplate]="loading ? 'Loading...' : 'Showing {first} to {last} of {totalRecords} entries'"
          [lazy]="true"
          (onLazyLoad)="onLazyLoad($event)"
          [virtualScroll]="!showPaginator"
          dataKey="id"
          id="table"
          paginatorDropdownAppendTo="body"
          rowExpandMode="single"
          styleClass="dark-panel"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th style="width: 3rem"></th>
              <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ col.displayName }}
                </div>
              </th>
              <th><span i18n>Détails</span></th>

            </tr>
          </ng-template>



          <ng-template let-entete let-expanded="expanded" pTemplate="body">
            <tr  class="p-selectable-row">
              <td>
                <p-tableCheckbox [value]="entete"></p-tableCheckbox>
              </td>
              <td>
                <button
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                  [pRowToggler]="entete"
                  (click)="selectEntete(entete)"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  pRipple
                  type="button"
                ></button>
              </td>
              <td>
                {{ entete?.etablissement?.etLibelle }}
              </td>
              <td>
                {{ entete?.userCreatedFullName }}
              </td>
              <td>
                {{ entete?.userValidatorFullName }}
              </td>
              <td>
              <span class="image-text">{{
                entete?.typeDepense ? "Fond de dépense " : "Direct"
                }}</span>
              </td>
              <td>
                {{ entete?.dateDepense | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ entete?.createDate | date : "dd/MM/yyyy" }}
              </td>
              <td>
                {{ entete?.totalTtc |separateurPipe }}
              </td>
              <td>
              <span
                [ngClass]="'status-' + entete?.status?.code"
                class="customer-badge"
              >{{ entete?.status?.statuslibelle }}</span
              >
              </td>

              <td>
                <button (click)="navigate(entete)" class="p-button-rounded p-button-primary" icon="pi pi-list" pButton
                        pRipple></button>
              </td>

            </tr>
          </ng-template>




          <ng-template let-entete pTemplate="rowexpansion">
            <tr style="background-color: rgba(52,37,50,0.21)">
              <td colspan="1"></td>
              <td colspan="12">
                <div class="p-p-3">

                  <p-table [globalFilterFields]="['article.designation']" [value]="ligneDepenses" dataKey="id">
                    <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="article.designation"><span i18n>Article</span>
              </th>
              <th pSortableColumn="numZRef"><span i18n>NumZRef</span>
              </th>
              <th pSortableColumn="montantHT"><span i18n>MontantHT</span>
              </th>
              <th pSortableColumn="tauxTVA"><span i18n>TauxTVA</span>
              </th>
              <th pSortableColumn="compteTVA"><span i18n>CompteTVA</span>
              </th>
              <th pSortableColumn="montantTVA"><span i18n>MontantTVA</span>
              </th>
              <th pSortableColumn="montantTTC"><span i18n>MontantTTC</span>
              </th>

            </tr>
          </ng-template>
          <ng-template let-order pTemplate="body">
            <tr>
              <td>{{order?.article?.designation}}</td>
              <td>{{order.numZref}}</td>
              <td>{{order?.montantHt |separateurPipe }} </td>
              <td>{{order?.tauxTva |separateurPipe }} </td>
              <td>{{order?.compteTva}} </td>
              <td>{{order.montantTva |separateurPipe }} </td>
              <td>{{order.montantTtc |separateurPipe }} </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9">
                <div *ngIf="!loading"><span i18n>Il n'y a pas encore des modes de paiement.</span></div>
                <div *ngIf="loading">Loading...</div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td><div class="loading-text"></div></td>
              <!--
                          <td><div class="loading-text"></div></td>
              -->
            </tr>
          </ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
        <tr>
          <td style="width: 3rem"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>
          <td class="text-right"></td>

          <td class="text-right"></td>

          <td class="p-text-center" colspan="2"><span i18n>Montant Total</span></td>
          <td class="text-left p-text-bold">{{montantTot|separateurPipe  }}</td>
          <td class="text-right"></td>
          <td class="text-right"></td>



        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7"></td>
          <td colspan="7"><span i18n>Il n'y a pas encore des depenses.</span></td>

        </tr>
      </ng-template>
      </p-table>
    </div></div>

  </nb-card-body>
</nb-card>
