<div class="row">
  <div class="col-md-7 ">
    <nb-card class="elevation ">
      <nb-card-header class="custom-card-header d-flex justify-content-between">
        <span class="title mr-3" i18n="@@changePassword"> Change Password</span>
      </nb-card-header>
      <nb-card-body class="pr-5 pl-5">
        <form [formGroup]="changePasswordForm">

          <div class="container">

            <div class="row form-group text-right">
              <div class="col-5 my-3 text-right">
                <label class="text-right" for="user-currentPassword" i18n="@@currentPassword">Current Password</label>
              </div>
              <div class=" col-7  my-3">
                <input
                  [status]="get('oldPassword').dirty ? (get('oldPassword').invalid  ? 'danger' : 'success') : 'basic'"
                  formControlName="oldPassword"
                  fullWidth
                  id="user-currentPassword"
                  nbInput
                  placeholder="Current Password"
                  i18n-placeholder="@@currentPassword"
                  type="password">
                <ngx-validation-message
                  [maxLength]="maxLength"
                  [minLength]="minLength"
                  [showMaxLength]="get('oldPassword').hasError('maxlength')&&  get('oldPassword').touched"
                  [showMinLength]="get('oldPassword').hasError('minlength') &&  get('oldPassword').touched"
                  [showRequired]="false"
                  i18n-label="@@currentPassword"
                  label="Current password">
                </ngx-validation-message>
              </div>


              <div class=" col-5 text-right">
                <label class="text-right" for="user-password" i18n="@@password">Password</label>
              </div>
              <div class=" col-7">
                <input
                  [status]="get('password').dirty ? (get('password').invalid  ? 'danger' : 'success') : 'basic'"
                  formControlName="password"
                  fullWidth
                  i18n-placeholder="@@password"
                  id="user-password"
                  nbInput
                  placeholder="Password"
                  type="password">
                <ngx-validation-message
                  [maxLength]="maxLength"
                  [minLength]="minLength"
                  [showMaxLength]="get('password').hasError('maxlength') && get('password').touched"
                  [showMinLength]="get('password').hasError('minlength') && get('password').touched"
                  [showRequired]="false"

                  label="Password">
                </ngx-validation-message>
              </div>
            </div>

            <div class="row form-group text-right">
              <div class=" col-5 mb-md-0 mb-3 text-right">
                <label for="user-confirmPassword" class="text-right" i18n="@@confirmPassword">Confirm password</label>
              </div>
              <div class=" col-7 mb-md-0 mb-3">
                <input
                  [status]="get('confirmPassword').dirty ? (get('confirmPassword').invalid ||
                  get('confirmPassword').value != get('password').value ? 'danger' : 'success') : 'basic'"
                  formControlName="confirmPassword"
                  fullWidth
                  i18n-placeholder="@@confirmPassword"
                  id="user-confirmPassword"
                  nbInput
                  placeholder="Confirm password"
                  type="password">
                <ngx-validation-message
                  [maxLength]="maxLength"
                  [minLength]="minLength"
                  [showMaxLength]="get('confirmPassword').hasError('maxlength') && get('confirmPassword').touched"
                  [showMinLength]="get('confirmPassword').hasError('minlength') && get('confirmPassword').touched"
                  [showConfirmPassword]="get('confirmPassword').touched && get('confirmPassword').value != get('password').value"
                  [showRequired]="false"

                  label="Password">
                </ngx-validation-message>
              </div>

            </div>

          </div>
        </form>

      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button nbButton outline status="danger" i18n="@@reset" class="mr-2" (click)="changePasswordForm.reset()">reset</button>
          <button nbButton status="success" class="mr-4" [nbSpinner]="submitClicked" nbSpinnerStatus="success" i18n="@@submit"
                  (click)="changeUserPassword()"
                  [disabled]="changePasswordForm.invalid || get('confirmPassword').value != get('password').value || submitClicked">
            submit
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>



