

<p-toast></p-toast>

<nb-card class="example-card">
  <nb-card-header>

    <span i18n>Journées réceptionnés</span>
  </nb-card-header>
  <nb-card-body>
    <div class="container" style="position: relative;">
      <ngx-loader [show]="show" [fullScreen]="true"><span i18n> Resynchronisation  en cours des jours caisses... </span></ngx-loader>
    </div>
    <h5><span i18n>Recherche par date de reception: </span></h5>

    <div>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <form [formGroup]="dateForm">
            <div class="p-formgroup-inline">
              <div class="p-field">
                <label class="control-label" for="dateDebut" i18n>Date Début</label>
                <kendo-datepicker
                  id="dateDebut"
                  formControlName="dateFermeFrom"
                  format="dd-MM-yyyy"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <label for="datefin" i18n>Date Fin</label>
                <kendo-datepicker
                  id="datefin"
                  format="dd-MM-yyyy"
                  formControlName="dateFermeTo"
                ></kendo-datepicker>
              </div>
              <div class="p-field">
                <br>
                <p-button (onClick)="rechercheEnveloppe()" class="p-mr-2" i18n-label icon="pi pi-spinner"
                          label="Recherche Enveloppe"></p-button>

              </div>
            </div>
          </form>


        </ng-template>


        <ng-template pTemplate="right">
          <button (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"
                  class="p-mr-2 p-d-inline-block" label="Resynchronisation Journée " i18n-label pButton pRipple></button>

          <button (click)="exportExcel()" class="p-button-success p-mr-2" icon="pi pi-file-excel" i18n-label label="Excel" pButton
                  pRipple pTooltip="XLS" tooltipPosition="bottom" type="button"></button>
          <button (click)="exportPdf()" class="p-button-warning mr-2" icon="pi pi-file-pdf" i18n-label label="PDF" pButton pRipple
                  pTooltip="PDF" tooltipPosition="bottom" type="button"></button>

        </ng-template>
      </p-toolbar>

      <p-toolbar styleClass="mb-4">

        <div style="width: 100%; height: 100%; overflow-x: scroll;">
          <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)" [loading]="this.loading"
                   [globalFilterFields]="['gjcCaisse','gjcEtablissement.etLibelle','montantCaisse']" [paginator]="true"
                   [rowHover]="true" [rows]="10"
                   [showCurrentPageReport]="true" paginatorDropdownAppendTo="body"
                   [rowsPerPageOptions]="[10,25,50,100]" [value]="joursReceptionnes"
                   [(selection)]="selectedProducts"
                   (selectionChange)="onSelectionChange($event)" [selection]="selectedProducts"
                   dataKey="id"
                   id="table" rowExpandMode="single"
                   class="fontt" styleClass="dark-panel">

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 3rem"></th>
                <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                  <div class="p-d-flex p-jc-between p-ai-center">

                    {{col.displayName}}

                    <p-columnFilter *ngIf="col.key!='gjcEtablissement.etLibelle'&&
                    col.key !== 'statusReceptionObj.statuslibelle'" [field]="col.key"
                                    [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                    [matchMode]="'equals'" [showOperator]="false"
                                    [type]="col.type" display="menu"
                    >
                    </p-columnFilter>
                    <p-columnFilter *ngIf="col.key=='gjcEtablissement.etLibelle'" [showAddButton]="false"
                                    field="gjcEtablissement"
                                    [showMatchModes]="false" [showOperator]="false" [type]="col.type"
                                    display="menu" matchMode="in">
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{col.displayName}}</span>
                        </div>
                      </ng-template>
                      <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                        <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="etablissements"
                                       [maxSelectedLabels]="3"
                                       [selectedItemsLabel]="'{0} etablissements selectioné'" [virtualScroll]="true"
                                       optionLabel="etLibelle" i18n-placeholder placeholder="Any">
                          <ng-template let-option pTemplate="item">
                            <div class="ui-multiselect-label-container">
                              <span class="ml-1">{{option.etLibelle}}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>

                    </p-columnFilter>
                    <p-columnFilter
                      *ngIf="col.key == 'statusReceptionObj.statuslibelle'"
                      [showAddButton]="false"
                      [showMatchModes]="false"
                      [showOperator]="false"
                      [type]="col.type"
                      display="menu"
                      field="statusReceptionObj"
                      matchMode="in"
                    >
                      <ng-template pTemplate="header">
                        <div class="p-px-3 p-pt-3 p-pb-0">
                          <span class="p-text-bold">{{ col.displayName }}</span>
                        </div>
                      </ng-template>
                      <ng-template
                        let-filter="filterCallback"
                        let-value
                        pTemplate="filter"
                      >
                        <p-multiSelect
                          (onChange)="filter($event.value)"
                          [ngModel]="value"
                          [options]="statuses"
                          [virtualScroll]="true"
                          display="chip"
                          i18n-placeholder
                          optionLabel="statuslibelle"
                          placeholder="select status"
                        >
                          <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-label-container">
                              <span *ngIf=" this.currentLanguage ==='fr'||!this.currentLanguage"
                                    class="ml-1">{{ option?.statuslibelle }}</span>
                              <span *ngIf=" this.currentLanguage ==='en'"
                                    class="ml-1">{{ option?.statuslibelleen }}</span>
                            </div>
                          </ng-template>
                        </p-multiSelect>
                      </ng-template>
                    </p-columnFilter>

                    <p-sortIcon *ngIf="col.key!='gjcEtablissement.etLibelle'&&
                    col.key !== 'statusReceptionObj.statuslibelle'" [field]="col.key"></p-sortIcon>
                  </div>

                </th>
              </tr>

            </ng-template>
            <ng-template let-expanded="expanded" let-jourCaisse pTemplate="body">
              <tr [ngClass]="{'high': jourCaisse.montantCaisse < 0,'supp':jourCaisse.montantCaisse >0}"
              >
                <td>
                  <p-tableCheckbox [value]="jourCaisse"></p-tableCheckbox>
                </td>
                <td>
                  <button (click)="editProduct(jourCaisse)" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                          [pRowToggler]="jourCaisse" class="p-button-text p-button-rounded p-button-plain" pButton pRipple
                          type="button"></button>
                </td>

                <td>{{jourCaisse.gjcEtablissement.etLibelle}}</td>
                <td>{{jourCaisse.gjcCaisse}}</td>
                <td>{{jourCaisse.gjcNumzcaisse}}</td>
                <td>{{getEmetteurLabel(jourCaisse.emetteurId)}}</td>
                <td>{{getChauffeurLabel(jourCaisse.cahuffeurId)}}</td>
                <td>{{jourCaisse.gjcDateouv | date : 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.gjcDateferme | date : 'dd/MM/yyyy'}}</td>
                <td>{{jourCaisse.receptionDate | date : 'dd/MM/yyyy H:mm'}}</td>
                <td>{{getMotifLabel(jourCaisse.motifId)}}</td>
                <td>{{jourCaisse.comments}}</td>

                <td *ngIf=" currentLanguage ==='fr'||!currentLanguage"><span
                  [class]="'customer-badge status-'+jourCaisse?.statusReceptionObj?.code  ">{{jourCaisse.statusReceptionObj.statuslibelle}}</span>

                </td>
                <td *ngIf=" this.currentLanguage ==='en'"><span
                  [class]="'customer-badge status-'+jourCaisse?.statusReceptionObj?.code  ">{{jourCaisse.statusReceptionObj.statuslibelleen}}</span>

                </td>
                <td><span *ngIf="jourCaisse.isManuel" [class]="'customer-badge status-renewal'">{{jourCaisse.refExterne!== null ? jourCaisse.refExterne: '____'}}</span></td>

                <td><strong>{{jourCaisse.montantCaisse |separateurPipe  }}</strong></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="14"><span i18n>Il n'y a pas encore des enveloppes receptionnés.</span></td>
              </tr>
            </ng-template>

            <ng-template let-jourCaisse pTemplate="rowexpansion">
              <tr>
                <td colspan="1"></td>
                <td colspan="10">
                  <div class="p-p-3">
                    <p-table [globalFilterFields]="['gpeModepaie']" [value]="piedeche" dataKey="id">
                      <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="gpeModepaie"><span i18n>Mode Paeiment</span>
                  <p-sortIcon field="gpeModepaie"></p-sortIcon>
                </th>
                <th pSortableColumn="montant"><span i18n>Montant</span>
                  <p-sortIcon field="montant"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template let-order pTemplate="body">
              <tr [ngClass]="{'high': order.montant < 0,'supp':order.montant >0}"
                  class="montant-row">
                <td>{{order.gpeModepaie}}</td>
                <td>{{order.montant |separateurPipe }} </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
          <tr>
            <td style="width: 3rem"></td>
               <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>


            <td class="p-text-center" colspan="2"><span i18n>Montant Total</span></td>
            <td class="text-left p-text-bold">{{montantTot |separateurPipe }}</td>


          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="14"><span i18n>Il n'y a pas encore des enveloppes.</span></td>

          </tr>
        </ng-template>

        </p-table>
        </div>
      </p-toolbar>

    </div>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


  </nb-card-body>

  <p-dialog [(visible)]="receptionDialog" [modal]="true" [resizable]="true" [style]="{width: '750px'}"
            header="Resynchronisation Journée réceptionnée"
            i18n-header
            styleClass="p-fluid">
    <ng-template pTemplate="content">


<!--
      <div class="p-field">
        <label for="chauffeur">Chauffeur</label>
        <p-dropdown [(ngModel)]="selectedChauffeur" [filter]="true" [options]="this.chauffeurs" appendTo="body"
                    id="chauffeur" optionLabel="chauffeurLibelle" placeholder="Chauffeurs"></p-dropdown>
      </div>

      <div class="p-field">
        <label for="emetteur">Emetteur</label>
        <p-dropdown [(ngModel)]="selectedEmetteur" [filter]="true" [options]="this.emetteurs" appendTo="body"
                    id="emetteur"
                    optionLabel="emetteurLibelle" placeholder="Emetteurs"></p-dropdown>
      </div>
-->

      <div class="p-field">
        <label for="motifId" i18n>Motif de resynchronisation reception</label>
        <p-dropdown [(ngModel)]="selectedMotif" [filter]="true" [options]="this.motifs" appendTo="body"
                    id="motifId"
                    optionLabel="motifReSyncDescription" i18n-placeholder placeholder="Motif"></p-dropdown>
      </div>


      <div class="p-field">
        <label for="comments" i18n>Commentaire</label>
        <textarea [(ngModel)]="this.comments" fullWidth id="comments" nbInput i18n-placeholder placeholder="Commentaire"></textarea>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


    </ng-template>
    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-danger" icon="pi pi-times" label="Annuler" i18n-label pButton
              pRipple></button>
      <button (click)="saveMp()" [disabled]="checkForm()" class="p-button-success" icon="pi pi-check"
              label="Enregistrer" i18n-label pButton
              pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


</nb-card>



