

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><span i18n>Sortie</span></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="card">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button (click)="openNew()" class="p-button-success p-mr-2" icon="pi pi-plus" label="Ajouter" i18n-label pButton
                    pRipple></button>
          </ng-template>

          <ng-template pTemplate="right">
          </ng-template>
        </p-toolbar>


        <p-toolbar styleClass="mb-4">

          <div style="width: 100%; height: 100%; overflow-x: scroll;">
            <p-table #dt (onFilter)="handleFilter($event.filteredValue,dt.filters)"
                     [globalFilterFields]="['id','montant','sortieDate','coffre.libelle']"
                     [paginator]="true" [rowHover]="true" paginatorDropdownAppendTo="body"
                     [rows]="10" [showCurrentPageReport]="true" [value]="sorties"
                     dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of headerRow" [pSortableColumn]="col.key">
                    <div class="p-d-flex p-jc-between p-ai-center">

                      {{col.displayName}}

                      <p-columnFilter *ngIf="col.key!='coffre.libelle'" [field]="col.key"
                                      [matchModeOptions]="col.type=='text'?matchModeOptions:matchModeOptionsDate"
                                      [matchMode]="'equals'" [showOperator]="false"
                                      [type]="col.type" display="menu"
                      >
                      </p-columnFilter>
                      <p-columnFilter *ngIf="col.key=='coffre.libelle'" [showAddButton]="false"
                                      [showMatchModes]="false"
                                      [showOperator]="false" [type]="col.type" display="menu"
                                      field="coffreLibelle" matchMode="in">
                        <ng-template pTemplate="header">
                          <div class="p-px-3 p-pt-3 p-pb-0">
                            <span class="p-text-bold">{{col.displayName}}</span>
                          </div>
                        </ng-template>
                        <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                          <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="coffresFilter"
                                         [virtualScroll]="true"
                                         display="chip" optionLabel="libelle" i18n-placeholder placeholder="select coffre">
                            <ng-template let-option pTemplate="item">
                              <div class="ui-multiselect-label-container">
                                <span class="ml-1">{{option.libelle}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>

                      </p-columnFilter>


                      <p-sortIcon *ngIf="col.key!='coffre.libelle'" [field]="col.key"></p-sortIcon>
                    </div>

                  </th>

                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-sortie>
                <tr>
                  <td>{{sortie.coffre.libelle}}</td>
                  <td>{{sortie.typeSortieLibelle}}</td>
                  <td>{{sortie.sortieDate | date : 'dd/MM/yyyy H:mm'}}</td>
                  <td>{{sortie.banqueLibelle}}</td>
                  <td>{{sortie.typeFraisLibelle}}</td>
                  <td>{{sortie.siteConcernee}}</td>
                  <td>{{sortie.serviceConcernee}}</td>
                  <td>{{sortie.username}}</td>
                  <td>{{sortie.commentaire}}</td>
                  <td><a href="{{env}}/CoffreSortie/getDocument/{{sortie?.id}}">{{sortie?.justificatifName}}</a></td>
                  <td>{{sortie.montant|separateurPipe}}</td>
                  <td>{{sortie.montantConvertie|separateurPipe}}</td>
                  <td [style]="{width:'100px'}">
                    <button (click)="editSortie(sortie)" class="p-button-rounded p-button-success mr-2"
                            icon="pi pi-pencil"
                            pButton
                            pRipple></button>
                  </td>

                </tr>
              </ng-template>
              <ng-template pTemplate="footer" style='border-top: 1px solid black;'>
                <tr>
                  <td style="width: 3rem"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>


                  <td class="p-text-center" colspan="2"><span i18n>Montant Total :</span></td>
                  <td class="text-left p-text-bold">{{montantTot|separateurPipe}}</td>
                  <td class="text-left p-text-bold">{{montantTotConv|separateurPipe}}</td>
                  <td></td>


                </tr>
              </ng-template>

            </p-table>

          </div>
        </p-toolbar>
      </div>

      <p-dialog [(visible)]="sortieDialog" [style]="{width: '1000px', heigth: '1000px'}" i18n-header header="Details sortie" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class="p-field">
            <div class="row">
              <div class="p-col-12">
                <label for="typeSortie" i18n>Type de sortie</label>
                <p-dropdown id="typeSortie" [options]="this.typeSortie" optionLabel="type" optionValue="id" [(ngModel)]="sortie.typeSortie"  [filter]="true"></p-dropdown>
                <small style="color: red;" *ngIf="submitted && !sortie.typeSortie"><span i18n>Type de sortie est obligatoire</span></small>

              </div>
            </div>
          </div>

          <div class="p-field" *ngIf="sortie.typeSortie==1">
            <div class="row">
              <div class="p-col-12">
                <label for="banqueId" i18n>Banque</label>
                <p-dropdown [(ngModel)]="sortie.banqueId" [filter]="true" [options]="this.banques" appendTo="body"
                            id="banqueId" optionLabel="libelle" optionValue="id"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="p-field" *ngIf="sortie.typeSortie==2">
            <div class="row">
              <div class="p-col-12">
                <label class="pb-2" for="typeFraisId" i18n>Type frais</label>
                <p-dropdown id="typeFraisId" [options]="this.typeFrais" optionLabel="typeFrais1" optionValue="id" [(ngModel)]="sortie.typeFraisId"  [filter]="true"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="p-col-4">
              <div class="p-field" *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2">
                <label for="coffre" i18n>Coffre</label>
                <p-dropdown (onChange)="onChange($event)" [(ngModel)]="sortie.coffreId" [filter]="true"
                            [options]="this.coffres" appendTo="body" id="coffre" optionLabel="libelle" optionValue="id">
                  <ng-template let-item pTemplate="item">
                    <span>{{item.libelle}}, Solde : {{item.montant|separateurPipe}}</span>
                  </ng-template>


                </p-dropdown>
                <small style="color: red;" *ngIf="submitted && !sortie.coffreId"><span i18n>Coffre est obligatoire</span></small>
              </div>
            </div>
            <div class="p-col-4">
              <div *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2&& show" class="p-field">
                <label for="devise" i18n>Devise</label>
                <p-dropdown [(ngModel)]="sortie.deviseId" [filter]="true" [options]="this.devises" appendTo="body"
                            id="devise" optionLabel="label" optionValue="id">
                  <ng-template let-item pTemplate="item">
                    <span>{{item.code}}, <span i18n>Taux Change</span> : {{item.tauxChange}}</span>
                  </ng-template>


                </p-dropdown>
                <small *ngIf="submitted && !sortie.deviseId" style="color: red;"><span i18n>Devise est obligatoire</span></small>
              </div>
            </div>
            <div class="p-col-3 p-ml-4">
              <div class="p-field" *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2">
                <div class="row">
                  <div class="p-col-11">
                    <label class="pb-2" for="montant" i18n>Montant de sortie</label>
                    <input [(ngModel)]="sortie.montant" [disabled]="showMontant" autofocus id="montant" pInputText
                           required type="text"/>
                    <small *ngIf="submitted && !sortie.montant" style="color: red;"><span i18n>Montant de sortie est obligatoire</span></small>
                  </div>
                  <div class="p-col-1">
                    <label for="calculate"></label>
                    <img id="calculate" src="assets/images/calculator-icon.png" (click)="openCalculate(this.AllCalculetteBySortieIdGet)" width="20" height="20">
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="row">
            <div class="p-col-12">

            </div>
          </div>


          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col" *ngIf="sortie.typeSortie==2">
              <label for="siteConcernee" i18n>Site concerné</label>
              <input type="text" pInputText id="siteConcernee" [(ngModel)]="sortie.siteConcernee" required autofocus />
            </div>

            <div class="p-field p-col" *ngIf="sortie.typeSortie==2">
              <label for="serviceConcernee" i18n>Service concerné</label>
              <input type="text" pInputText id="serviceConcernee" [(ngModel)]="sortie.serviceConcernee" required autofocus />
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col" *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2 && sortie.sortieDate">
              <label for="sortieDate" i18n>Date de sortie</label>

                <p-calendar id="sortieDate" appendTo="body" [(ngModel)]="sortie.sortieDate"  [showTime]="true" inputId="time"></p-calendar>

              <ng-template pTemplate="footer">
                <p-button (onClick)="displayModal=false" i18n-label icon="pi pi-check" label="Ok"
                          styleClass="p-button-text"></p-button>
              </ng-template>
            </div>
            <div class="p-field p-col" *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2">
              <label class="p-mb-3" i18n>Justificatif ?</label>
              <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="justificatifOK" name="justificatifOK" [value]=true [(ngModel)]="sortie.justificatif"></p-radioButton>
                  <label for="justificatifOK" i18n>OUI</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                  <p-radioButton id="justificatifNOTOK" name="justificatifNOTOK" [value]=false [(ngModel)]="sortie.justificatif"></p-radioButton>
                  <label for="justificatifNOTOK" i18n>NON</label>
                </div>
              </div>
            </div>
          </div>




          <div class="p-field" *ngIf="sortie.justificatif">
            <label for="pieceJustificatif" i18n>Piéce Justificatif</label>
            <ngx-file-drop
              id="pieceJustificatif"
              (onFileDrop)='dropped($event)'
              [accept]='fileType'
              [multiple]='false'
              dropZoneLabel='Drop files here'
            >
              <ng-template let-openFileSelector='openFileSelector' ngx-file-drop-content-tmp>
                <div
                  (click)='openFileSelector()'
                  *ngIf='!tempDocName'
                  class='
                        w-100
                        h-100
                        cursor-pointer
                        d-flex
                        justify-content-center
                        align-items-center
                      '
                >
                  <span i18n>Upload Document</span>
                </div>
                <div
                  (click)='openFileSelector()'
                  *ngIf='fileName'
                  class='
                        w-100
                        h-100
                        cursor-pointer
                        d-flex
                        justify-content-center
                        align-items-center
                      '
                >
                  {{ fileName }}
                </div>
              </ng-template>
            </ngx-file-drop>

            <!--            <p-fileUpload-->
            <!--              id="pieceJustificatif"-->
            <!--              #fileInput-->
            <!--              name="files[]"-->
            <!--              [multiple]="false"-->
            <!--              (onSelect)="selectFilesToUpload()"-->
            <!--              accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.wordprocessingml.document"-->
            <!--              [maxFileSize]="2000000"-->
            <!--              [showUploadButton]="false"-->
            <!--              [showCancelButton]="false"-->
            <!--              chooseLabel="Téléchargez"-->
            <!--              class="ui-fileupload-buttonbar"-->
            <!--            >-->
            <!--            </p-fileUpload>-->
          </div>


          <div class="p-field" *ngIf="sortie.typeSortie==1 || sortie.typeSortie==2">
            <label for="commentaire" i18n>Commentaire</label>
            <textarea id="commentaire" pInputTextarea [(ngModel)]="sortie.commentaire" required rows="3" cols="20"></textarea>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <button (click)="hideDialog()" class="p-button-danger" icon="pi pi-times" label="Annuler" i18n-label pButton
                  pRipple></button>
          <button (click)="saveSortie(true)" class="p-button-success" icon="pi pi-check" label="Enregistrer" i18n-label pButton
                  pRipple></button>
        </ng-template>
      </p-dialog>








    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
