kendo-dateinput {
  width: 170px;
}

th {
  cursor: pointer;
  user-select: none;
}

.bi {
  width: 10px;
  height: 9px;
  font-size: 12px;
  color: rgb(100, 100, 100);
}

.sort-header-active {
  color: rgb(219, 109, 6);
}


:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }

  .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;

    .p-progressbar-value {
      background-color: #607D8B;
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            display: block;
            border: 0 none !important;
            width: 100% !important;
            float: left;
            clear: left;
            border: 0 none;

            .p-column-title {
              padding: .4rem;
              min-width: 30%;
              display: inline-block;
              margin: -.4rem 1rem -.4rem -.4rem;
              font-weight: bold;
            }

            .p-progressbar {
              margin-top: .5rem;
            }
          }
        }
      }
    }
  }

}

.status-badge {
  border-radius: 10px 10px;

  &.Demandé {
    border: 5px solid #ffdba6;

  }

  &.Rejeté {
    border: 5px solid #f36565;

  }

  &.Accepté {
    border: 5px solid #a8c978;

  }
}

//.customer-badge {
//  border-radius: var(--border-radius);
//  padding: .25em .5rem;
//  text-transform: uppercase;
//  font-weight: 700;
//  font-size: 0.8vw;
//  letter-spacing: .3px;
//
//  &.status-qualified {
//    background: #C8E6C9;
//    color: #256029;
//  }
//
//  &.status-unqualified {
//    background: #FFCDD2;
//    color: #C63737;
//  }
//
//  &.status-negotiation {
//    background: #FEEDAF;
//    color: #8A5340;
//  }
//
//  &.status-RCP {
//    background: #B3E5FC;
//    color: #23547B;
//  }
//
//  &.status-renewal {
//    background: #ECCFFF;
//    color: #694382;
//  }
//
//  &.status-EAT {
//    background: #FFD8B2;
//    color: #805B36;
//  }
//
//  &.status-EATI {
//    background: #b5e01e;
//    color: #ba1043;
//  }
//}
//
.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  font-weight: 700;
  font-size: 12px;
}

.customer-badge.status-ACP {
  background-color: #c8e6c9;
  color: #256029;
}

.customer-badge.status-RJT {
  background-color: #ffcdd2;
  color: #c63737;
}

.customer-badge.status-DMD {
  background-color: #feedaf;
  color: #8a5340;
}
