<p-toast></p-toast>

<p-card [style]="{'width': '100%', 'height': 'auto'}">


    <h2><span i18n>Recherche Enveloppe</span></h2>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-3">
      <p-dropdown (onClick)="getNumZAndCaisse()" [options]="this.etablissements" [(ngModel)]="selectedEtablissement" optionLabel="etLibelle" i18n-placeholder placeholder="Etablissements"  [filter]="true">
        <ng-template let-etablissement pTemplate="etablissement">
          <div class="p-d-flex p-ai-center">
            <span>{{etablissement.etEtablissement}}</span>
            <span> - </span>
            <span>{{etablissement.etLibelle}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field p-col-2">
      <p-dropdown  [options]="this.numZs" [(ngModel)]="selectedNumZ" i18n-placeholder placeholder="Ticket Z"  [filter]="true"></p-dropdown>
    </div>
    <div class="p-field p-col-2">
      <p-dropdown  [options]="this.caisses" [(ngModel)]="selectedCaisse" i18n-placeholder placeholder="Caisses"  [filter]="true"></p-dropdown>
    </div>
    <div class="p-field p-col-2">
      <button pButton pRipple type="button" i18n-label (click)="generateEnveloppe()" label="Recherche"></button>
    </div>
  </div>

  <br>
  <div *ngIf="showPanel">
    <p-panel>
      <h2 style="font-weight: bold;"><span i18n>Détails Enveloppe</span></h2>

      <table class="table caption-top">
        <tbody>
        <tr>
          <td scope="row"><span i18n>Etablissement</span></td>
          <td>{{generateReception.etLibelle}}</td>

        </tr>
        <tr>
          <td><span i18n>Caisse</span></td>
          <td>{{generateReception.gjcCaisse}}</td>

        </tr>
        <tr>
          <td scope="row"><span i18n>Ticket Z</span></td>
          <td>{{generateReception.gjcNumzcaisse}}</td>

        </tr>
        <tr>
          <td scope="row"><span i18n>Date Ouverture Caisse</span></td>
          <td><span>{{generateReception.gjcDateouv | date: 'dd/mm/yyyy'}}</span> -
            <span>{{generateReception.gjcHeureouv}}</span></td>

        </tr>
        <tr>
          <td scope="row"><span i18n>Date Fermeture Caisse</span></td>
          <td><span>{{generateReception.gjcDateferme | date: 'dd/mm/yyyy'}}</span> -
            <span>{{generateReception.gjcHeureferme}}</span></td>

        </tr>
        <tr>
          <td scope="row"><span i18n>Montant Enveloppe</span></td>
          <td>{{generateReception.montantCaisse |separateurPipe }}</td>

        </tr>
        </tbody>
      </table>

      <h2 style="font-weight: bold;"><span i18n>Détails reception</span></h2>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="chauffeurs" i18n>Chauffeur</label>
          <p-dropdown id="chauffeurs" [options]="this.chauffeurs" optionLabel="chauffeurLibelle" [(ngModel)]="selectedChauffeur" i18n-placeholder placeholder="Chauffeurs" [filter]="true"></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="emetteurs" i18n>Emetteur</label>
          <p-dropdown id="emetteurs" [options]="this.emetteurs" optionLabel="emetteurLibelle" [(ngModel)]="selectedEmetteur" i18n-placeholder placeholder="Emetteurs" [filter]="true"></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="status" i18n>Statut</label>
          <p-dropdown id="status" [options]="this.statusOfReception" optionLabel="statuslibelle" [(ngModel)]="selectedStatus" i18n-placeholder placeholder="Status"  ></p-dropdown>
        </div>
      </div>


      <div style="float: right;">
        <button  pButton pRipple label="Annuler"  i18n-label (click)="resetForm()"  class="p-button-text" ></button>
        <button (click)="createReception()" label="Enregistrer" label="Réception" pButton pRipple></button>
      </div>
      <br>
      <br>





    </p-panel>


  </div>
  <br>
  <br>
  <br>
  <br>
  <br>



</p-card>
